{% extends "old/spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Basic Settings" %}{% endblock %}

{% block content %}

    {% include "old/spirit/admin/_side_menu.html" with active="basic_settings" %}

    <h1 class="headline">{% trans "Basic Settings" %}</h1>

    <form action="../../../static" method="post">
        {% csrf_token %}
        {% include "old/spirit/_form.html" %}

        <input class="button" type="submit" name="post" value="{% trans "Save" %}" />
    </form>

{% endblock %}