{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags %}

{% block meta_title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block title %}{{ profile_user|username_or:"get_full_name" }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">{{ profile_user|username_or:"get_full_name" }}</li>
{% endblock %}




{% block all_content %}
    {{ editable }}
    <div class="row">

        <div class="col-xs-2">
            {%  with profile_photo=profile.profile_photo %}
                {% if profile_photo %}
                    <img class="img-thumbnail" src="{{ MEDIA_URL }}{% thumbnail profile_photo 0 200 %}">
                {% else %}
                    <img class="img-thumbnail" src="/static/img/coming-soon-profile.png" style="width: 150px;">
                {% endif %}
            {% endwith %}
        </div>

        <div class="col-xs-10">
            <h3>About {{ profile_user.get_short_name }}:</h3>
                <p>
                    {{ profile.about_me }}
                </p>
            {% for field, value in profile_user|profile_fields %}
                <h4>{{ field }}</h4>
                <p>{{ value|linebreaksbr }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-actions">
            {% if profile_user == request.user %}
                <a class="btn btn-default" href="{% url "profile_update" %}">{% trans "Change profile" %}</a>
            {% endif %}
        </div>
    </div>
    {{ endeditable }}
{% endblock %}
