cccccccc

bbcode==1.0.22
beautifulsoup4==4.5.1
bleach==1.5.0
chardet==2.3.0
cloudinary==1.5.0
colorama==0.2.5
command-not-found==0.3
construct==2.5.2
coverage==4.0.2
Django==1.10.4
django-admin-sortable==2.0.10
django-annoying==0.9.0
django-appconf==1.0.2
django-contrib-comments==1.7.3
django-embed-video==1.1.0
django-floppyforms==1.7.0
django-friendship==1.5.0
django-notification==1.3.3
django-request==1.5.1
django-taggit==0.22.0
django-tracking2==0.3.3
django-user-accounts==2.0.0
filebrowser-safe==0.4.6
future==0.16.0
get==0.0.0
grappelli-safe==0.4.5
html5lib==0.9999999
language-selector==0.1
Markdown==2.6.6
Mezzanine==4.2.2
oauthlib==2.0.1
pbr==2.0.0
pep8==1.7.0
Pillow==3.4.2
post==0.0.0
psycopg2==2.7
public==0.0.0
pycurl==7.19.3
pygobject==3.12.0
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.10
query-string==0.0.0
requests==2.12.4
requests-oauthlib==0.7.0
setupfiles==0.0.0
six==1.10.0
stevedore==1.20.0
tzlocal==1.3
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
Unidecode==0.4.19
urllib3==1.19.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Wand==0.4.4
Whoosh==2.7.0
