{% extends "josmessages/mailbase.html" %}
{% load i18n %}

{% block inner_breadcrumb_menu %}
    <span style="font-size: 18pt;">Message to:</span> {{ recipient.JOSProfile.jos_name }}
{% endblock %}

{% block all_content %}

<div class="row">

<div class="col-xs-10 col-xs-offset-1">

    <br><br>
    <div class="josinstructions" style="margin-top: 30px;">Send new message to<br>

        <img style="display: inline; height: 60px;" src="
                        {% if profile.profile_image_id_str != "noimage1" %}
https://res-4.cloudinary.com/desg88u7l/image/upload/{{ recipient.JOSProfile.profile_image_id_str }}
                        {% else %}
                            /static/img/coming-soon-profile.png
                        {% endif %}">

        <a href="{% url "profile" recipient.id %}"
           style="margin-left: 15px; margin-right: 10px;">
                    <span style="font-size: 20pt; margin: 0 0 0 5px;">
                        {{ recipient.JOSProfile.jos_name }}
                    </span>
        </a> -

    </div>

    <br>
    <form action="" method="post">
        {% csrf_token %}

        <div style="margin-left: 60px;">

            {% for field in form %}
                {% if field.label == "Recipient" %}
                    {{ field.as_hidden }}
                    <input id="id_recipient" type="hidden" value="{{ recipient }}" name="recipient">
                {% else %}
                    <div class="form-group input_{{ field.id_for_label }}
                                                         {{ field.field.type }}
                                                         {% if field.errors %}
                                                            has-error
                                                         {% endif %}">
                        {# field.name #}
                        {% if field.label %}
                            <label class="control-label"
                                   for="{{ field.auto_id }}">{{ field.label | title }}</label>
                        {% endif %}

                        {{ field }}

                        {% if field.errors %}
                            <p class="help-block">
                                {% for e in field.errors %}
                                    {% if not forloop.first %} / {% endif %}{{ e }}
                                {% endfor %}
                            </p>

                        {% elif field.help_text %}
                            <p class="help-block">
                                {{ field.help_text }}
                            </p>
                        {% endif %}

                    </div>
                {% endif %}
            {% endfor %}

            <a class="btn btn-warning"
                    style=" "
                    href="{% url "josmembers:josmembers_list" %}">
                Cancel
            </a>

            <input class="btn btn-default"
                   style="margin-left: 10px; width: 100px;"
                   type="submit" value="Send">

        </div>

    </form>

</div>

</div>


<script>

        $(document).ready(function() {
            CKEDITOR.replace(id_body, {
                toolbar: [
                    {'name': 'clipboard', 'items': ['Undo', 'Redo', 'Cut', 'Copy', 'Paste']},
                ],
                contentsCss: '/static/ckeditor/ckeditor/contents.css',
                disableNativeSpellChecker: false,
                width: '95%',
                tabSpaces: 4,
                extraPlugins: 'colorbutton',
                removePlugins: 'liststyle,tabletools,scayt,contextmenu'
            });
        });

</script>

{% endblock %}