{% extends "django_messages/mailbase.html" %}
{% load i18n %}
{% load url from future %}

{% block all_content %}

    {{ block.super }}

    <div class="josinstructions" style="margin-bottom: 20px;">Your messages:</div>

    {% if message_list %}
        <table data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="true">New / Reply:</th>
                    <th data-sortable="true">Received:</th>
                    <th data-sortable="true">From:</th>
                    <th data-sortable="true">Subject:</th>
                    <th>Action:</th>
                </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
                    <tr>
                        <td>
                            {% if message.new %}
                                &nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp
                                <span class=" " style="color: green;">New</span>
                            {% endif %}
                            {% if message.replied %}
                                &nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp
                                <span class=" " style="color: black;">Reply sent</span>
                            {% endif %}
                        </td>
                        <td style=" ">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                        <td>{{ message.sender.JOSProfile.jos_name }}</td>
                        <td>
                            {{ message.subject }}
                        </td>
                        <td>
                            <a class="btn btn-default"
                               style="margin-left: 30px; width: 100px;"
                               href="{{ message.get_absolute_url }}">
                                Read
                            </a>
                            <a class="btn btn-default"
                               style="background-color: #d9534f; border: none; color: white; outline: none; margin-left: 10px; width: 100px;"
                               href="{% url 'messages_delete' message.id %}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages</p>
    {% endif %}
{% endblock %}