{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}
    {{ user.JOSProfile.friendly_jos_name }} Friends
{% endblock %}
{% block title %}
    {{ user.JOSProfile.friendly_jos_name }} Friends
{% endblock %}
{% block breadcrumb_menu %}

    {{ block.super }}
    {% block inner_breadcrumb_menu %}
        {{ user.get_short_name }}'s Friends
    {% endblock inner_breadcrumb_menu %}

{% endblock %}

{% block all_content %}

<style>


</style>

<div id="message_modal_box" style="display: none;
 position: absolute; top: 0; left: 0; height: 1000px; width: 1280px;
 background-color: #C0C0C0; z-index: 500;">

    <div id="ajax_response_messages"></div>

</div>


<div class="josinstructions" style="margin: 20px 0 0 60px;">Inbox (click subject to read):</div>

{% if inbox_list %}
    <table data-toggle="table" style="margin-left: 60px; width: 95%;">
        <thead>
        <tr>
            <th style="width: 120px;">Status:</th>
            <th style="width: 210px;">Received:</th>
            <th style="width: 210px;">From:</th>
            <th>Subject:</th>
            <th style="width: 120px;"></th>
        </tr>
        </thead>
        <tbody>
        {% for message in inbox_list %}
            <tr>
                <td style="padding-left: 10px; width: 120px;">
                    {% if message.new %}
                        <span class=" " style="color: rgb(112, 154, 109) ;">New</span>
                    {% elif message.replied %}
                        <span class=" " style="color: black;">Replied</span>
                    {% endif %}
                </td>
                <td style="padding-left: 20px; width: 210px;">
                    {{ message.sent_at | date:"M d" }}; {{ message.sent_at | time:"f A" }}
                </td>
                <td style="padding-left: 20px; width: 210px;">
                    {{ message.sender.JOSProfile.friendly_jos_name }}
                </td>
                <td>
                    <button class="j_button j_action_button"
                        style="margin-left: 10px;"
                        onclick="viewMessageThread('{{ message.message_thread.id }}');">
                        {{ message.subject | striptags | truncatechars:45 }}
                    </button>
                </td>
                <td style="width: 120px;">
                    <button class="j_button_small j_discard_button"
                       style="margin-left: 10px;"
                            onclick="window.location.href=
                               '{% url 'josmessages:messages_delete' message.message_thread.id %}';">
                        <i class="fa fa-trash fa-fw"></i>
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p style="margin: 50px 0 0 30px;">No messages</p>
{% endif %}

{% if sent_list %}
    <div class="jos_flex_container" style="font-size: 16pt; margin: 50px 0 0 60px;">
        <div style="display: flex; width: 80%; align-items: flex-end;">
            <div style="width: 250px;">Last 3 messages sent:</div>
            <div style="width: 210px;">Date</div>
            <div style="width: 210px;">To</div>
            <div style=" ">Subject</div>
        </div>
        {% for message in sent_list %}
            <div style="display: flex; width: 80%; margin: 5px 0 0 0">
                <div class="josinstructions" style="width: 250px;"></div>
                <div style="width: 210px;">
                    {{ message.sent_at | date:"M d" }}; {{ message.sent_at | time:"f A" }}
                </div>
                <div style="width: 210px;">{{ message.recipient.JOSProfile.friendly_jos_name }}</div>
                <div>{{ message.subject | truncatechars:45 }}</div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p style="margin: 30px 0 0 30px;">No messages</p>
{% endif %}

<div id='friends_and_circles' class="josinstructions" style="margin: 50px 0 0 60px;">

    <button class="j_button j_relocate_button"
            style="height: 47px; margin-left: 15px;"
            onclick="location.href='{% url "josmembers:josmembers_list" %}';">
        <i class="fa fa-users fa-fw"></i>
        COMMUNITY
    </button>

</div>

<script>

    var AJAX_MESSAGE_URL = "{% url 'josmessages:ajax_message_info' %}";

    initJOSEditor('reply', 'small', '/joscourses/story_update/?id=' + '{{ story.id }}', "<i>Enter reply here</i>");

    function viewMessageThread(mtid) {
        // console.log("called viewMessageThread; mtid: " + mtid);
        $.ajax({
            type: "GET",
            url: AJAX_MESSAGE_URL,
            dataType: 'html',
            data: {
                'message_thread_id': mtid
            },
            success: function(serverResponse_data) {
                // console.log("serverResponse_data: " + serverResponse_data);
                $('#ajax_response_messages').html(serverResponse_data);
                josCKEdit('reply');
                $('#message_modal_box').show();
            },
            fail: function () {
                console.log("viewMessageThread fail");
            }
        });
    }

    function  replyMessage(sect2save, mtid) {
        var reply_content = editors[sect2save].section_editor.getData();
        console.log('reply_content: ' + reply_content);

        if (reply_content.indexOf("nter reply here") > 0) {
            alert('Please change your replies content');
        } else {
            $.ajax({
                type: "POST",
                url: AJAX_MESSAGE_URL,
                data: {
                    'message_thread_id': mtid,
                    'reply_content': reply_content
                },
                success: function (serverResponse_data) {
                    console.log("Reply post success: " + serverResponse_data);
                    window.location.href = "{% url 'josmessages:messages_inbox' %}"
                },
                fail: function () {
                    console.log("Reply post fail");
                }
            });
        }
    }

</script>

{% endblock %}

