{% extends "josmessages/mailbase.html" %}
{% load i18n %}
{% load url from future %}
{% block all_content %}

    {{ block.super }}

    <div class="josinstructions" style="margin-bottom: 20px;">Messages you have sent (removed regularly):</div>

    {% if message_list %}
        <table data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="true">Sent on:</th>
                    <th data-sortable="true">To:</th>
                    <th data-sortable="true">Subject:</th>
                    <th>Action:</th>
                </tr>
            </thead>
            <tbody>
                {% for message in message_list %}

                    <tr>
                        <td>&nbsp&nbsp&nbsp&nbsp&nbsp
                            {{ message.sent_at | date:"M d" }}; {{ message.sent_at | time:"f A" }}
                        </td>
                        <td>&nbsp&nbsp&nbsp
                            {{ message.recipient.JOSProfile.friendly_jos_name }}</td>
                        <td>&nbsp&nbsp&nbsp
                            {{ message.subject | truncatechars:20 }}</td>
                        <td>&nbsp&nbsp&nbsp
                            <a class="btn btn-default"
                               style="margin-left: 30px; width: 100px;"
                               href="{% url 'josmessages:messages_detail' message.message_thread.id %}">
                                Read
                            </a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages</p>
    {% endif %}

{% endblock %}