

<button id="button_inbox" class="j_button j_back_button" style="z-index: 1000;
            position: absolute; top: 80px; left: 1020px;"
        onclick=" window.history.back();">
    <i class="fa fa-check fa-fw"></i>
    DONE
</button>

<div id="message_viewer" style="overflow-y: scroll;
     position: absolute; top: 50px; left: 100px; height: 800px; width: 1080px;
     background-color: lavender; border: 2px dotted rgb(65,45,120); outline: 5px solid white;
     font-size: 24pt; font-weight: bold;"
     onclick="event.stopPropagation();">

{#        DEBUG:<br>#}
{#        "message_thread": {{ message_thread }}<br>#}
{#        "msgs_user_ids": {{ msgs_user_ids }}<br>#}
{#        "emails": {{ emails }}<br>#}




    <div class="jos_flex_container" style="justify-content: space-between; margin: 30px 0 0 30px;">

        <div class="josinstructions" style="margin-bottom: 15px;">Subject:
            <span class="homehead" style="margin-left: 15px;">
                {{ message_thread.subject | striptags }}
            </span>
        </div>

        <!-- Messages -->
        {% for msg in emails %}
            <div style="font-size: 20pt; margin-top: 15px;">

                <div style="color: rgb(217,83,79); margin-left: 30px;">
                    {{ msg.sent_at | date:"M d" }}; {{ msg.sent_at | time:"f A" }}
                </div>

                <div style="display: flex; margin-top: 10px;">
                    {% if msg.sender != request.user %}
                        <div>
                            {% include "jos_includes/user_picture_include.html" with user=msg.sender height=60 %}
                        </div>
                        <div style="width: 850px; background-color: white;
                             border: 1px solid rgb(65, 45, 120); padding: 15px; min-height: 70px;">
                            "{{ msg.body | striptags | safe }}"
                        </div>

                    {% else %}

                        <div style="width: 850px; background-color: white;
                             border: 1px solid rgb(65, 45, 120); padding: 15px; min-height: 70px;">
                            "{{ msg.body | striptags | safe }}"
                        </div>

                        <div style="margin-left: 10px;">
                            {% include "jos_includes/user_picture_include.html" with user=msg.sender height=60 %}
                        </div>

                    {% endif %}
                </div>
            </div>

        {% endfor %}

        <div id='bottom_buttons' style= "margin-top: 30px;">

            <button id="button_inbox" class="j_button_small j_back_button"
                    onclick=" window.history.back();">
                <i class="fa fa-check fa-fw"></i>
                DONE
            </button>

            <button id="button_reply" class="j_button_small j_action_button"
                    onclick="activateCKEdit();"
                    data-toggle="tooltip"
                    title="Activates the word processor to reply"
                    data-placement="right">
                <i class="fa fa-reply fa-fw"></i>
                REPLY
            </button>

            <button id="button_reply" class="j_button_small j_discard_button"
                    {# onclick="window.location.href='{% url 'josmessages:messages_delete' message_thread.id %}';"#}>
                <i class="fa fa-trash fa-fw"></i>
                DELETE
            </button>

        </div>
    </div>

    <div id="reply_thread_form" class="row hidden" style="margin-top: 30px;">

    <form action="" method="post">
        {% csrf_token %}
        <div style="margin-left: 60px;">

            {% for field in form %}
                {% if field.name == "message_thread.id" %}
                    {{ field.as_hidden }}
                    <input id="id_message_thread_id" type="hidden" value="{{ message_thread.id }}" name="message_thread_id">
                {% else %}
                    <div class="form-group input_{{ field.id_for_label }}
                                                 {{ field.field.type }}
                                                 {% if field.errors %}
                                                    has-error
                                                 {% endif %}">
                        {# field.name #}
                        {% if field.label %}
                            <label class="control-label"
                                   for="{{ field.auto_id }}">{{ field.label | title }}</label>
                        {% endif %}

                        {{ field }}

                        {% if field.errors %}
                            <p class="help-block">
                                {% for e in field.errors %}
                                    {% if not forloop.first %} / {% endif %}{{ e }}
                                {% endfor %}
                            </p>

                        {% elif field.help_text %}
                            <p class="help-block">
                                {{ field.help_text }}
                            </p>
                        {% endif %}

                    </div>
                {% endif %}
            {% endfor %}

            <button id="#button_cancel"
                    type="button"
                    class="j_button j_back_button"
                    style=" "
                    onclick="cancel_reply();">CANCEL
            </button>

            <input id="#button_send"
                   class="j_button j_action_button"
                   style="margin-left: 10px; width: 100px;"
                   type="submit" value="SEND">

        </div>
    </form>
</div>

</div>

<script>

    function cancel_reply() {
        $('#button_cancel').addClass('hidden');
        $('#button_send').addClass('hidden');
        $('#reply_thread_form').addClass('hidden');
        $('#button_reply').removeClass('hidden');
        $('#button_inbox').removeClass('hidden');
        $('#button_delete').removeClass('hidden');
    }

    function activateCKEdit() {
        $('#reply_thread_form').removeClass('hidden');
        $('#button_cancel').removeClass('hidden');
        $('#button_send').removeClass('hidden');
        $('#button_reply').addClass('hidden');
        $('#button_inbox').addClass('hidden');
        $('#button_delete').addClass('hidden');
        CKEDITOR.replace(id_body, {
            toolbar: [
                {'name': 'clipboard', 'items': ['Undo', 'Redo', 'Cut', 'Copy', 'Paste']},
                {'name': 'editing', 'items': ['SelectAll', 'Find']}
            ],
            contentsCss: '/static/ckeditor/ckeditor/contents.css',
            disableNativeSpellChecker: false,
            width: '95%',
            tabSpaces: 4,
            uiColor: '#28a4c9',
            extraPlugins: 'colorbutton',
            removePlugins: 'liststyle,tabletools,scayt,contextmenu'
        });
    }

</script>




