{% extends "josmessages/mailbase.html" %}
{% load i18n %}
{% load url from future %}


{% block inner_breadcrumb_menu %}
    Re: {{ subject | striptags }}
{% endblock %}

{% block all_content %}

<div class="row">

<div class="col-xs-10 col-xs-offset-1" style="margin-top: 20px;">

    <span class="josinstructions">Subject:</span>
    <span class="homehead" style="margin-left: 15px;">{{ subject | striptags }}</span>

{% for msg in emails %}

    <div class="row" style="font-size: 20pt; margin-top: 20px;">
        <div class="{% if msg.sender != request.user %}
                        col-xs-3 col-xs-offset-1
                    {% else %}
                        col-xs-3 col-xs-offset-9
                    {% endif %}">
            {{ msg.sent_at | time:"f A" }}; {{ msg.sent_at | date:"M d" }}

        </div>
    </div>

    <div class="row" style="font-size: 20pt; margin-top: 20px;">

        {% if msg.sender != request.user %}

            <div class="col-xs-2">
                {% include "josmembers/user_picture.html" with user=msg.sender height=60 %}
            </div>

            <div class="col-xs-10" style="border: 1px solid rgb(65, 45, 120); padding: 15px; min-height: 103px;">
                "{{ msg.body | striptags | safe }}"
            </div>

        {% else %}

            <div class="col-xs-10" style="border: 1px solid rgb(65, 45, 120); padding: 15px;  min-height: 103px;">
                "{{ msg.body | striptags | safe }}"
            </div>

            <div class="col-xs-2">
                {% include "josmembers/user_picture.html" with user=msg.sender height=60 %}
            </div>

        {% endif %}

    </div>

{% endfor %}

    <div id="reply_thread_form" class="row hidden" style="margin-top: 30px;">

        <form action="" method="post">
            {% csrf_token %}

            <div style="margin-left: 60px;">

                {% for field in form %}
                    {% if field.name == "message_thread_id" %}
                        {{ field.as_hidden }}
                        <input id="id_message_thread_id" type="hidden" value="{{ message_thread_id }}" name="message_thread_id">
                    {% else %}
                        <div class="form-group input_{{ field.id_for_label }}
                                                         {{ field.field.type }}
                                                         {% if field.errors %}
                                                            has-error
                                                         {% endif %}">
                            {# field.name #}
                            {% if field.label %}
                                <label class="control-label"
                                       for="{{ field.auto_id }}">{{ field.label | title }}</label>
                            {% endif %}

                            {{ field }}

                            {% if field.errors %}
                                <p class="help-block">
                                    {% for e in field.errors %}
                                        {% if not forloop.first %} / {% endif %}{{ e }}
                                    {% endfor %}
                                </p>

                            {% elif field.help_text %}
                                <p class="help-block">
                                    {{ field.help_text }}
                                </p>
                            {% endif %}

                        </div>
                    {% endif %}
                {% endfor %}

                <button id="#button_cancel"
                        type="button"
                        class="btn btn-warning"
                        style=" "
                        onclick="cancel_reply();">Cancel
                </button>

                <input id="#button_send"
                       class="btn btn-default"
                       style="margin-left: 10px; width: 100px;"
                       type="submit" value="Send">

            </div>

        </form>

    </div>

    <!-- Bottom buttons -->
    <div class="row" style="margin-top: 50px;">

        <div class="col-xs-12">

            <a id="button_inbox"
               class="btn btn-warning"
               style="margin-left: 40px;"
               href="{% url 'josmessages:messages_inbox' %}">
                Back
            </a>

            <a id="button_reply"
               class="btn btn-default"
               style="margin-left: 10px; width: 100px;"
               onclick="activateCKEdit()"
               data-toggle="tooltip"
               title="Activates the word processor to reply"
               data-placement="right">
                {% trans "Reply" %}
            </a>

            <a id="button_delete"
               class="btn btn-danger"
               style="margin-left: 10px;"
               href="{% url 'josmessages:messages_delete' message_thread_id %}">
                Delete
            </a>

        </div>
    </div>
</div>
</div>


<script>

    function cancel_reply() {
        $('#button_cancel').addClass('hidden');
        $('#button_send').addClass('hidden');
        $('#reply_thread_form').addClass('hidden');
        $('#button_reply').removeClass('hidden');
        $('#button_inbox').removeClass('hidden');
        $('#button_delete').removeClass('hidden');
    }

    function activateCKEdit() {
        $('#reply_thread_form').removeClass('hidden');
        $('#button_cancel').removeClass('hidden');
        $('#button_send').removeClass('hidden');
        $('#button_reply').addClass('hidden');
        $('#button_inbox').addClass('hidden');
        $('#button_delete').addClass('hidden');
        CKEDITOR.replace(id_body, {
            toolbar: [
                {'name': 'clipboard', 'items': ['Undo', 'Redo', 'Cut', 'Copy', 'Paste']},
                {'name': 'editing', 'items': ['SelectAll', 'Find']}
            ],
            contentsCss: '/static/ckeditor/ckeditor/contents.css',
            disableNativeSpellChecker: false,
            width: '95%',
            tabSpaces: 4,
            extraPlugins: 'colorbutton',
            removePlugins: 'liststyle,tabletools,scayt,contextmenu'
        });
    }

</script>

{% endblock all_content %}


