{% extends "django_messages/mailbase.html" %}
{% load i18n %}
{% load url from future %}

{% block all_content %}

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <br><br>--- BEGIN MESSAGE ---<br><br>

            <div class="row">
                <div class="col-xs-1 col-xs-offset-1">
                    From:<br>
                    Received: <br>
                    Subject: <br>
                    Message:<br><br>
                </div>
                <div class="col-xs-7" style="margin-left: 20px;">
                    {{ message.sender.JOSProfile.jos_name }}<br>
                    {{ message.sent_at|date:_("DATETIME_FORMAT") }}<br>
                    {{ message.subject }}<br>
                </div>
            </div>

            <div style="margin-left: 195px;">
                {{ message.body|linebreaksbr }}<br><br>
            </div>
            --- END MESSAGE ---<br><br>

            {% if reply_form %}

                <a class="btn btn-default"
                   style="width: 100px;"
                   href="{% url 'messages_reply'  message.id %}">
                    Reply
                </a>

            {% endif %}


            <a class="btn btn-default"
               style="background-color: #f0ad4e; border: none; color: white; outline: none; width: 100px; margin-left: 15px;"
               href="{% url 'messages_inbox' %}">
                Go back
            </a>

            <a class="btn btn-default"
               style="background-color: #d9534f; border: none; color: white; outline: none; width: 100px; margin-left: 15px;"
               href="{% url 'messages_delete' message.id %}">
                Delete
            </a>

        </div>

    </div>


{% endblock all_content %}


