{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    {% if request.user.is_authenticated %}

        <div class="josinstructions" style="margin-top: 100px;">
            {% trans "You're are already signed in. If you'd like to sign in as a different user, please log out." %}
        </div>

    {% else %}

        {% url "jossignup" as signup_url %}
        {% url "jos_password_reset" as password_reset_url %}
        {% url "home" as home_url %}


        <div class="josinstructions" style="margin-bottom: 30px; margin-top: 50px;">
            <b>If you:</b>
            <ul>
                <li>
                    haven't signed up yet, please click here:&nbsp&nbsp&nbsp
                    <a href="{% url "josmembers:jossignup" %}">
                        <span style="margin: 0 5px;">Sign Up</span>
                    </a>
                </li>
                <li>
                    have password problems, click here:&nbsp&nbsp&nbsp
                    <a href="{% url "josmembers:jos_password_reset" %}">
                        <span style="margin: 0 5px;">Reset Password</span>
                    </a>
                </li>
            </ul><br>
            Otherwise:<br>
            <b>Please enter your email and password, then press "{{ title }}."</b>
        </div>


        {{ block.super }}

    {% endif %}



{% endblock accounts_content %}


