{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags cloudinary %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block outer_breadcrumb %}

<div class="row breadcrumbtitle" style=" background-color: rgba(65, 45, 120, .2);
                                         border-radius: 0;
                                         height: 60px;
                                         margin-bottom: 0;
                                         margin-top: 10px;
                                         margin-right: -15px;">

    <div class="col-xs-5 col-xs-offset-1" style="padding-top: 10px;">
        {{ title }}
    </div>

</div>


{% endblock %}

{% block all_content %}

    <div class="row">
        <div class="col-xs-11" style="margin-top: 30px; padding-left: 50px;">
            {% block accounts_content %}
                {# form.as_p #}
                {% errors_for form %}

                <form class="form-horizontal"
                      method="post"
                      {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

                    <fieldset>
                        {% nevercache %}
                            <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                            {% csrf_token %}
                        {% endnevercache %}

                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}

                                    <div class="form-group input_{{ field.id_for_label }}
                                                                 {{ field.field.type }}
                                                                 {% if field.errors %}
                                                                    has-error
                                                                 {% endif %}">
    {# field.name #}
                                    {% if field.label %}
                                        <label class="control-label"
                                            for="{{ field.auto_id }}">{{ field.label | title }}
                                        </label>
                                    {% endif %}

                                    {{ field }}

                                    {% if field.errors %}
                                        <p class="help-block">
                                            {% for e in field.errors %}
                                                {% if not forloop.first %} / {% endif %}{{ e }}
                                            {% endfor %}
                                        </p>

                                    {% elif field.help_text %}
                                        <p class="help-block">
                                            {{ field.help_text }}
                                        </p>
                                    {% endif %}

                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>

                    <div class="form-actions"><!-- sumbit -->
                        {% block account_form_actions %}
                            {% if title == "Sign up" %}
                                <div class="josinstructions" style="margin-top: 10px; margin-bottom: 10px;">
                                    I agree to the
                                    <a class="joslargelinkbutton" style=" " href="/community-rules">Community
                                        rules</a>
                                    &nbsp&nbsp&nbsp&
                                    <a class="joslargelinkbutton" style=" " href="/legals">Terms and
                                        conditions</a><br><br>
                                </div>
                            {% endif %}
                            <input class="btn btn-default btn-lg pull-left"
                                   style="margin-top: 10px; width: 200px;"
                                   type="submit"
                                   value="{{ title }}">
                        {% endblock account_form_actions %}
                    </div>

                </form>
            </div>

            {% endblock accounts_content %}

        <div class="col-xs-1"></div>

    </div>

    <style>

        input[type='radio'], input[type='checkbox'] {
            width: 1.25em;
            height: 1.25em;
            margin-top: 12px;
            margin-right: 5px;
        }

        label[for*='id_email_frequency_'] {

        }

    </style>

    <script>

        // Then move the input to outside of the label
        //// $('.input_id_email_frequency > label > input').each(function () {$(this).parent().before(this);});

        var radio_box_selectors = [
            ".input_id_email_frequency",
            ".input_id_primary_device",
            ".input_id_primary_os",
            ".input_id_browser"
        ];
        for (i = 0; i < radio_box_selectors.length; i++) {
            console.log('radio_box_selectors: ' + radio_box_selectors[i]);
            $(radio_box_selectors[i] + " ul").contents().unwrap();
            $(radio_box_selectors[i] + " li").contents().unwrap();
            $("label[for*='" + radio_box_selectors[i] + "_']").addClass('radio-inline');
            $('<br>').insertBefore(radio_box_selectors[i] + " > label");
        }

    </script>


{% endblock all_content %}




