{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    <li class="active">{{ title }}</li>

{% endblock %}

{% block all_content %}

    <style>

        h3 {
            line-height: 165%;
        }

        .form-actions {
            background-color: white;
            border-radius: 0;
            border-top: 1px solid rgba(65, 25, 140, .85);
            margin-bottom: 15px;
            padding: 20px;
        }

    </style>

    <div class="row">

        <div class="col-xs-offset-1 col-xs-10">
            {% block accounts_content %}
                {# form.as_p #}
                {% errors_for form %}

                <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

                    <fieldset>

                        {% nevercache %}
                            <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                            {% csrf_token %}
                        {% endnevercache %}

                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% elif field.name == "join_date" %}
                                <input type="hidden" name="join_date" value={% now "SHORT_DATE_FORMAT" %}>
                            {# else #}
                            {% elif field.name == "first_name" or field.name == "last_name" or field.name == "email" or field.name == "password1" or field.name == "password2" or field.name == "username" or field.name == "password" or field.name == "agree_to_terms" %}

                                <div class="form-group input_{{ field.id_for_label }}
                                                             {{ field.field.type }}
                                                             {% if field.errors %}
                                                                has-error
                                                             {% endif %}">

                                    {# field.name #}
                                    {% if field.label %}
                                        <label class="control-label"
                                        for="{{ field.auto_id }}">{{ field.label | title }}</label>
                                    {% endif %}

                                    {{ field }}

                                    {% if field.errors %}
                                        <p class="help-block">
                                            {% for e in field.errors %}
                                                {% if not forloop.first %} / {% endif %}{{ e }}
                                            {% endfor %}
                                        </p>

                                    {% elif field.help_text %}
                                        <p class="help-block">
                                            {{ field.help_text }}
                                        </p>
                                    {% endif %}

                                </div>
                            {% endif %}
                        {% endfor %}

                        <!-- sumbit -->

                        <div class="form-actions">
                            {% block account_form_actions %}
                                <input class="btn btn-default btn-lg pull-left" type="submit" value="{{ title }}">
                            {% endblock %}
                        </div>

                    </fieldset>

                </form>

            </div>

            {% endblock accounts_content %}

        <div class="col-xs-1"></div>

    </div>

{% endblock all_content %}




