{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    {% if request.user.is_authenticated %}

        <div class="josinstructions">
            {% trans "You're are already signed in. If you'd like to sign in as a different user, please log out." %}
        </div>

    {% else %}

        {% url "signup" as signup_url %}
        {% url "mezzanine_password_reset" as password_reset_url %}
        {% url "profile_update" as profile_update_url %}

        {% blocktrans %}

            <div class="josinstructions" style="margin-bottom: 30px; margin-top: 30px;">
                If you:
                <ul>
                    <li>
                        haven't signed up yet, please click here:
                        <a href="{{ signup_url }}?next={{ next }}">
                            Sign Up
                        </a>
                    </li>
                    <li>
                        have password problems, click here:
                        <a href="{{ password_reset_url }}?next={{ profile_update_url }}">
                            Reset Password
                        </a>
                    </li>
                </ul>
                Otherwise, enter the correct info and press "{{ title }}."
            </div>

        {% endblocktrans %}

    {% endif %}

    {{ block.super }}

{% endblock accounts_content %}


