{% extends "base.html" %}
{% load i18n mezzanine_tags pages_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    <li class="active">{{ title }}</li>

{% endblock %}

{% block all_content %}

    <style>
        h3 {
            line-height: 165%;
        }
    </style>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            {% block accounts_content %}
                {# form.as_p #}
                {% errors_for form %}

                <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                    <fieldset>
                        {% nevercache %}
                            <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                            {% csrf_token %}
                        {% endnevercache %}

                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% elif field.name == "title" or field.name == "status"%}
                                <input type="hidden" name="title" value="TBD" %}>
                                <input type="hidden" name="status" value=2 %}>
                                <input type="hidden" name="in_sitemap" value=0 %}>
                            {# else #}
                            {% elif field.name == "first_name" or field.name == "last_name" or field.name == "email" or field.name == "password1" or field.name == "password2" or field.name == "username" or field.name == "password" %}

                                <div class="form-group input_{{ field.id_for_label }}
                                                             {{ field.field.type }}
                                                             {% if field.errors %}
                                                                has-error
                                                             {% endif %}">
                                    {# field.name #}
                                    {% if field.label %}
                                        <label class="control-label"
                                        for="{{ field.auto_id }}">{{ field.label | title }}</label>
                                    {% endif %}

                                    {{ field }}

                                    {% if field.errors %}
                                        <p class="help-block">
                                            {% for e in field.errors %}
                                                {% if not forloop.first %} / {% endif %}{{ e }}
                                            {% endfor %}
                                        </p>

                                    {% elif field.help_text %}
                                        <p class="help-block">
                                            {{ field.help_text }}
                                        </p>
                                    {% endif %}

                                </div>

                              {% endif %}
                        {% endfor %}

                        <div class="form-actions"><!-- sumbit -->
                            {% block account_form_actions %}
                                {% if title == "Sign up" %}
                                    <p>
                                        I agree to the
                                        <a href="/community-rules">community rules</a>
                                        as well as the <a href="/legals">terms and conditions</a>.
                                    </p>
                                {% endif %}
                                <input class="btn btn-default btn-lg pull-left" style="margin-top: 10px;" type="submit" value="{{ title }}">
                            {% endblock %}
                        </div>

                    </fieldset>
                </form>
            </div>

            {% endblock accounts_content %}

        <div class="col-xs-1"></div>

    </div>

{% endblock all_content %}




