{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    <div class="josinstructions" style="margin-bottom: 30px; margin-top: 30px;">
        <b>To change your password, please enter your email address;
            then,<br> click "{{ title }}."</b><br><br>
        We will email you a link -- click that link to get to the password reset page.<br>
        If you do not receive an email soon, please contact us.
    </div>
    {{ block.super }}

{% endblock accounts_content %}
