{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    {% if request.user.is_authenticated  %}

        <p>{% trans "You're already logged in. If you'd like to create a new account, you'll need to log out first." %}</p>

    {% else %}
        <div class="josinstructions" style="margin-bottom: 30px; margin-top: 50px;">
            <span style="font-weight: bold;">Completing this form signs you up for Join Our Story.<br></span>

            By signing up, you agree to our <a href="/community-rules">community rules</a> and
            <a href="/legals">terms and conditions</a>.<br><br>

            HINT: TO CREATE YOUR PASSWORD, WE SUGGEST YOU:<br>
            &nbsp&nbsp&nbsp1. Choose two words and a punctuation mark.<br>
            &nbsp&nbsp&nbsp2. Put them together with no spaces and no capital letters.<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            For example: "Happy" and "Camper" and "!' becomes "happycamper!"<br>
            &nbsp&nbsp&nbsp3. Remember your password and enter it twice below.<br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-- Don't worry, you can easily reset your password anytime.<br><br>

            When the form is complete, please press "Sign up" - if something is not right, the computer will indicate what needs to be changed. Call us if the problem remains.<br><br>

            After you sign up, personalize your profile to let everyone know your here!<br>

            {% if settings.ACCOUNTS_APPROVAL_REQUIRED %}
                Once submitted, your account must be approved. You'll receive an email when it's activated; if you do not receive an email within 8 hours, please use the upper right button to "Contact Us."<br>

            {% elif settings.ACCOUNTS_VERIFICATION_REQUIRED %}
                Once submitted, your account must be verfied. You'll receive an email with instructions. If you do not receive an email within 8 hours, please use the upper right button to "Contact Us."<br>

            {% endif %}

        </div>

        {{ block.super }}

    {% endif %}

{% endblock accounts_content %}
