{% extends "base.html" %}
{% load i18n static %}

{% block meta_title %}Home{% endblock %}
{% block title %}Home{% endblock %}

{% block help %}{% endblock help %}

{% block phone_number %}{% endblock phone_number %}

{% block base-fixed-top-bar %}{% endblock base-fixed-top-bar %}

{% block footer %}{% endblock footer %}

{% block all_content %}


<div id="landing_page text-center" style="margin: 0 15px; width: 1250px; z-index: 5;">

    Thank you!<br>
    We will be in touch ASAP<br>

    Now, go connect with someone else like you and bring them here <i class="fa fa-smile-o"></i>

</div>

{% endblock all_content %}


