{% load i18n mezzanine_tags accounts_tags %}

{% if request.user.is_authenticated %}

    <div class="row" style=" ">
        <div class="col-xs-12 text-right" style="padding-right: 0;">

{#            <a href="/contact" class="btn btn-default" style="width: 115px;">#}
{#                {% trans "Contact Us" %}#}
{#            </a>#}

            <a class="btn btn-default"
               style="width: 115px;"
               href="{% url "logout" %}?next={{ request.path }}">
                {% trans "Log Out " %}
            </a>

        </div>
    </div>

    <div class="row" style="margin-top: 12px;">
        <div class="col-xs-12 text-right" style="font-size: 24pt; padding-right: 0;">
            Hi!
            <span style="color: green; margin: 0 7px;">{{ user.JOSProfile.jos_name }}</span>
        </div>
    </div>

{% else %}

    <div class="row" style="background-color: transparent;">
        <div class="col-xs-12  text-right" style="padding-right: 0;">

{#           <a href="/contact" class="btn btn-default" style="width: 115px;">#}
{#                {% trans "Contact Us" %}</a>#}

           <a href="{% url "login" %}" class="btn btn-default" style="width: 115px;">
                {% trans "Join / Log In" %}</a>

        </div>
    </div>

{% endif %}


