{% extends "pages/page.html" %}

{% load mezzanine_tags i18n %}

{% block all_content %}

<style>

    .form-actions {
        background-color: white;
        border-radius: 0;
        border-top: 2px solid rgb(231, 209, 222);
        margin-bottom: 15px;
        margin-top: 30px;
        padding: 20px;
    }

</style>


<div class="row">
    <div class="col-xs-offset-1 col-xs-10">

    {% if request.GET.sent %}
        {% editable page.form.response %}
        {{ page.form.response|richtext_filters|safe }}
        {% endeditable %}

    {% else %}
        {% with page.form as page_form %}
        {% editable page_form.content %}
        {{ page_form.content|richtext_filters|safe }}
        {% endeditable %}
        {% endwith %}

        {% errors_for form %}

        <form class="mezzanine-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

            {% fields_for form %}

            <div class="form-actions">
                <input class="btn btn-default btn-lg pull-left"
                       type="submit"
                       value="{% if page.form.button_text %}
                                    {{ page.form.button_text }}
                              {% else %}
                                    {% trans "Submit" %}
                              {% endif %}">
            </div>
        </form>
    {% endif %}

    </div>
    <div class="col-xs-1">

    </div>
</div>

{% endblock all_content %}


{% block extra_js %}
    {{ block.super }}
    <script>
        $(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
    </script>
{% endblock %}
