{% extends "base.html" %}

{% block meta_title %}Landing{% endblock %}

{% block title %}Landing{% endblock %}

{% block outer_breadcrumb %}{% endblock outer_breadcrumb %}

{% block all_content %}

<style>

    .homehead {
        font-size: 36pt;
        margin-top: 70px;
        text-align: center;
    }

    #landing_page .hometext {
        font-size: 22pt;
        line-height: normal;
        list-style: disc;
        margin-left: 30px;
        margin-top: 50px;
    }

</style>

<div id="landing_page" style="margin-left: 150px;">


    <div class="row" style="background-color: transparent; margin-top: 0;">
        <div class="col-xs-3" style="background-color: transparent;">
            <img class="img img-responsive" style="padding-left:0;" src="/static/img/3enjoy_4.5.png">
        </div>
        <div class="hidden-xs col-sm-3" style="background-color: transparent;">
            <p class="homehead">
                Enjoy
            </p>
        </div>
        <div class="col-xs-9 col-sm-5" style="background-color: transparent;">
            <p class="hometext">
                Have fun with smart, original content, lively workshops and a
                warm, supportive community.
            </p>
        </div>
    </div>
    <div class="row" style="background-color: transparent; margin-top: 35px;">
        <div class="col-xs-3" style="background-color: transparent;">
            <img class="img img-responsive" style="padding-left:0;" src="/static/img/3create_4.5.png">
        </div>
        <div class="hidden-xs col-sm-3" style="background-color: transparent;">
            <p class="homehead">
                Create
            </p>
        </div>
        <div class="col-xs-9 col-sm-5" style="background-color: transparent;">
            <p class="hometext">
                Express yourself in stories, personal narratives and stimulating discussions.
            </p>
        </div>
    </div>
    <div class="row" style="background-color: transparent; margin-top: 35px;"><!-- MAIN -->
        <div class="col-xs-3" style="margin-top: -10px;">
            <img class="img img-responsive" style="padding-left:0;" src="/static/img/3share-4.5.png">
        </div>
        <div class="hidden-xs col-sm-3" style="background-color: transparent;">
            <p class="homehead">
                Share
            </p>
        </div>
        <div class="col-xs-9 col-sm-5" style=" ">
            <p class="hometext">
                Meet people, make new friends and share your stories with the world!
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px; margin-top: 10px;">
        <div class="col-xs-9 hometext text-center" style=" ">
            With much more to come ...
        </div>
    </div>
</div>

{% endblock all_content %}