{% extends "base.html" %}

{% block meta_title %}Landing{% endblock %}
{% block title %}Landing{% endblock %}

{% block outer_breadcrumb %}{% endblock outer_breadcrumb %}

{% block all_content %}

<style>

    .homehead {
        margin-top: 70px;
        text-align: center;
    }

    .hometext {
        font-size: 22pt;
        line-height: normal;
        list-style: disc;
        margin-left: 30px;
        margin-top: 85px;
    }

</style>

<div style="margin-left: 150px;">
    <div class="row" style="background-color: transparent; margin-top: -15px;">
        <div class="col-xs-3" style="background-color: transparent;">
            <img class="img img-responsive" style="padding-left:0;" src="/static/img/3enjoy_4.5.png">
        </div>
        <div class="hidden-xs col-sm-3" style="background-color: transparent;">
            <p class="homehead">
                Enjoy
            </p>
        </div>
        <div class="col-xs-9 col-sm-6" style="background-color: transparent;">
            <p class="hometext">
                Smart, original content; fun classes; and a warm, creative
                community.
            </p>
        </div>
    </div>
    <div class="row" style="background-color: transparent; margin-top: 35px;">
        <div class="col-xs-3" style="background-color: transparent;">
            <img class="img img-responsive" style="padding-left:0;" src="/static/img/3create_4.5.png">
        </div>
        <div class="hidden-xs col-sm-3" style="background-color: transparent;">
            <p class="homehead">
                Create
            </p>
        </div>
        <div class="col-xs-9 col-sm-6" style="background-color: transparent;">
            <p class="hometext">
                Stories, friendships and use many other ways to express yourself.
            </p>
        </div>
    </div>
    <div class="row" style="background-color: transparent; margin-top: 35px;"><!-- MAIN -->
        <div class="col-xs-3" style="background-color: transparent;">
            <img class="img img-responsive" style="padding-left:0;" src="/static/img/3share-4.5.png">
        </div>
        <div class="hidden-xs col-sm-3" style="background-color: transparent;">
            <p class="homehead">
                Share
            </p>
        </div>
        <div class="col-xs-9 col-sm-6" style="background-color: transparent;">
            <p class="hometext">
                With family, friends
                and ... the world!
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 35px;">
        <div class="col-xs-9 text-center joscursive">
            With much more to come ...
        </div>
    </div>
</div>

{% endblock all_content %}