{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block all_content %}

    <style>
        #rtfdiv {
            font-size: 14pt;
            color: rgb(65, 45, 120);
        }

    </style>

    <div id="rtfdiv" class="row">
        <div class="col-sm-10 col-sm-offset-1" style="background-color: transparent;">


        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filters|safe }}
        {% endeditable %}

        </div>
    </div>

{% endblock %}
