{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    <div class="josinstructions" style="margin-bottom: 30px; margin-top: 30px;">
        <span style="font-weight: bold;">
            Completing this form resets your Join Our Story password.
        </span>
        TO CREATE A PASSWORD,&nbsp&nbspYOU SHOULD:<br>
        1.&nbsp&nbspChoose two words and a punctuation mark.<br>
        2.&nbsp&nbspPut them all together (no spaces and no capitals).<br>
        <i style="margin-left: 90px;">For example: "Happy", "Camper" and "!' becomes "happycamper!"</i><br>
        3.&nbsp&nbspThen, enter it twice below.<br>
        <i style="margin-left: 85px;">-- don't worry;&nbsp&nbspyou can reset your password anytime.</i><br>

    </div>

    {{ block.super }}

{% endblock accounts_content %}
