{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags cloudinary %}

{% cloudinary_includes %}
{% cloudinary_js_config %}

<div>
    {% block meta_title %}
        {{ profile_user|username_or:"get_short_name" }}
    {% endblock %}
    {% block title %}
        {{ profile_user|username_or:"get_short_name" }}
    {% endblock %}
    {# block body_id }account{ endblock #}

    {% block breadcrumb_menu %}
        {{ block.super }}
        <li class="active">
            {{ profile_user|username_or:"get_short_name" }}'s Profile
        </li>
    {% endblock %}
</div>

{% block all_content %}

    <style>

        .side-panel {
            padding-left: 15px;
            padding-right: 0;
            padding-top: 15px;
        }

    </style>

    <h3>{{ edit_string }}</h3>

    <div class="row">

        <div class="col-xs-2" style="margin-top: 20px;">

            {% if profile.profile_image %}
                {% cloudinary profile.profile_image width=140 %}
            {% else %}
                <img class="img-thumbnail" src="/static/img/coming-soon-profile.png"
                     style="width: 150px;">
            {% endif %}

        </div>

        <div class="col-xs-9">
            <h3>
                About {{ profile_user.get_short_name }}:

                {% if edit_string == 'True' %}
                    <a class="btn btn-info pull-right" style="margin-bottom: 0; margin-right: 25px;" href="{% url "ckrichtextedit" %}">
                        <span class="glyphicon glyphicon-pencil"style="margin-right: 4px;"> </span>Edit
                    </a>
                {% endif %}
            </h3>

            <p style="line-height: 1.4">
                {{ profile.about_me|safe }}
            </p>
        </div>

        <div class="col-xs-1 side-panel" style="margin-right: 0;">

            {% if profile_user == request.user %}

                <a class="btn btn-default pull-right"
                   href="{% url "josprofile_edit" request.user.username %}">
                    {% trans "Edit profile" %}
                </a>

                <p style="margin-top: 50px; line-height: 1.3;">
                    Last edit:<br>
                    <span style="color: green">{{ profile.updated | date:'m/d/y' }}</span>
                </p>

            {% endif %}

            {% if request.user.is_active and request.user.is_staff %}

                <a class="btn btn-default pull-right" style="margin-top: 40px;"
                   href="{% url "josstaff_timesheet" %}?firstname={{ profile_user.get_short_name }}">
                    {% trans "Staff only" %}
                </a>

            {% endif %}
        </div>
    </div>

    <div class="row" style="font-size: 10px; margin-top: 30px;">
        {% for field, value in profile_user|profile_fields %}

            <div class="row" style="margin-top: 5px; ">
                <div class="col-xs-2" style="font-weight: bold; text-align: right;">
                    {{ field }}
                </div>
                <div class="col-xs-8" style=" ">
                    {{ value|linebreaksbr }}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
