{% extends "accounts/account_form.html" %}<!-- change -->
{% load cloudinary %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% cloudinary_includes %}
{% cloudinary_js_config %}

{% block all_content %}

    <form action="{% url "josmembers.views.direct_upload_complete" %}" method="post">
        {% csrf_token %}
        {{ direct_form }}
        {# altenatively, use: {% cloudinary_direct_upload_field "image", request=request %} #}
        <input type="submit" value="Submit"/>
    </form>

    {{ block.super }}

{% endblock all_content %}