{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags cloudinary %}

{% cloudinary_includes %}
{% cloudinary_js_config %}

<div>
    {% block meta_title %}
        {{ profile.user|username_or:"get_short_name" }}
    {% endblock %}
    {% block title %}
        {{ profile.user|username_or:"get_short_name" }}
    {% endblock %}
    {# block body_id }account{ endblock #}

    {% block breadcrumb_menu %}
        {{ block.super }}
        <li class="active">
            {{ profile.user|username_or:"get_short_name" }}'s Profile
        </li>
    {% endblock %}
</div>

{% block all_content %}

    <style>

        .side-panel {
            padding-left: 15px;
            padding-right: 0;
            padding-top: 15px;
        }

    </style>

    <div class="row">

        <div class="col-xs-2" style="margin-top: 20px;">

            {% if profile.profile_image %}
                {% cloudinary profile.profile_image width=140 %}
            {% else %}
                <img class="img-thumbnail" src="/static/img/coming-soon-profile.png"
                     style="width: 150px;">
            {% endif %}

        </div>

        <div class="col-xs-9" style="font-size: 16pt; padding-right: 20px; padding-top: 20px;">
            <span style="font-size: 16pt; font-weight: bold;">
                About {{ profile.user.get_short_name }}:
            </span>

            {% if edit %}
                <a class="btn btn-info pull-right" style="margin-right: 17px; text-decoration: none;"
                   href="{% url "josprofile_edit" request.user.username %}?field_to_edit=about_me">
                   <span class="glyphicon glyphicon-pencil"></span>
                   <span style="margin-left: 7px;">Edit Section</span>
                </a>
            {% endif %}

            <div style="line-height: 1.4; margin-top: 5px; {% if edit %}outline: 3px dashed #28a4c9;{% endif %} margin-right: 20px; padding: 10px;">
                {{ profile.about_me|safe }}
            </div>
        </div>

        <div class="col-xs-1 side-panel" style="margin-right: 0; margin-top: 30px;">

            {% if profile.user == request.user %}

                {% if edit %}

                    <a class="btn pull-right btn-default" style="background-color: #28a4c9; color: white;"
                       href="{% url "josprofile" request.user.username %}">
                        {% trans "Hide edit" %}
                    </a>

                {% else %}

                    <a class="btn btn-default pull-right"
                       href="{% url "josprofile_edit" request.user.username %}">
                        {% trans "Edit mode" %}
                    </a>

                {% endif %}

                <p style="margin-top: 50px; line-height: 1.3;">
                    Last edit:<br>
                    <span style="color: green">{{ profile.updated | date:'m/d/y' }}</span>
                </p>

             {% endif %}

            {% if request.user.is_active and request.user.is_staff %}

                <a class="btn btn-default pull-right" style="margin-top: 30px;"
                   href="{% url "josstaff_timesheet" %}?firstname={{ profile.user.get_short_name }}">
                    {% trans "For staff" %}
                </a>

            {% endif %}
        </div>
    </div>

    <div class="row" style="font-size: 9px; margin-top: 50px;">
        {% for field, value in profile.user|profile_fields %}

            <div class="row" style="margin-top: 0; ">
                <div class="col-xs-2" style="font-weight: bold; text-align: right;">
                    {{ field }}
                </div>
                <div class="col-xs-8" style=" ">
                    {{ value|linebreaksbr }}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
