{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    <h3 style="font-family: 'source sans pro', sans-serif; font-size: 18pt; font-weight: bold;">
        Completing this form resets your Join Our Story password.
    </h3>
    <h4 style="font-family: 'source sans pro', sans-serif; font-size: 16pt; line-height: 1.55;">
        TO CREATE YOUR PASSWORD, WE SUGGEST YOU:<br>
        &nbsp&nbsp&nbsp1. Choose two words and a punctuation mark.<br>
        &nbsp&nbsp&nbsp2. Put them together with no spaces and no capital letters.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        For example: "Happy" and "Camper" and "!' becomes "happycamper!"<br>
        &nbsp&nbsp&nbsp3. Remember your password and enter it twice below.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-- Don't worry, you can easily reset your password anytime.<br><br>

        When the form is complete, please press "Reset Password" - if something is not right, the computer will indicate what you should change.<br><br>

    </h4>

    {{ block.super }}

{% endblock accounts_content %}
