{% extends "accounts/account_form.html" %}
{% load i18n %}

{% block accounts_content %}

    <div class="josinstructions" style="margin-bottom: 30px; margin-top: 30px;">
        <span style="font-weight: bold;">
            Completing this form resets your Join Our Story password.
        </span>
        TO CREATE YOUR PASSWORD, WE SUGGEST YOU:<br>
        &nbsp&nbsp&nbsp1. Choose two words and a punctuation mark.<br>
        &nbsp&nbsp&nbsp2. Put them together with no spaces and no capital letters.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        For example: "Happy" and "Camper" and "!' becomes "happycamper!"<br>
        &nbsp&nbsp&nbsp3. Remember your password and enter it twice below.<br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-- Don't worry, you can easily reset your password anytime.<br><br>

        When the form is complete, please press "Reset Password" - if something is not right, the computer will indicate what you should change.
        Note:&nbsp&nbsp&nbspyou cannot change your email address on this form.<br><br>

    </div>

    {{ block.super }}

{% endblock accounts_content %}
