{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags cloudinary %}

{% cloudinary_includes %}

{% block meta_title %}
    {{ user.JOSProfile.jos_name }} Desk
{% endblock %}
{% block title %}
    {{ user.JOSProfile.jos_name }} Desk
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">
        Desk of {{ user.JOSProfile.jos_name }}
    </li>
{% endblock %}

{% block all_content %}

    <style>

    {# change do super larger link button #}
    .joslargelinkbutton {
        font-size: 18pt;
        padding: 8px;
    }

    .nav-tabs.nav-justified > li > a {
        outline: none;
    }

    .nav-tabs.nav-justified > li {
        border-bottom: 2px dotted #412d78;
        border-right: 2px dotted #412d78;
        border-radius: 0;
    }

    .nav-tabs.nav-justified > li.active {
        border: 3px dashed #412d78;
        border-bottom: none;
        border-radius: 0;
    }

    #worktabs a {
        color: #412d78;
        font-family: "Abril Fatface", Serif;
        font-size: 24pt;
        outline: none;
    }

    </style>

    <div class="row" style="margin-left: 0; margin-top: 40px;">

        <div class="col-xs-12" style="padding: 0;">
            <a class="joslargelinkbutton" href="{% url "profile" request.user.id %}">
                {% if profile.profile_image_idstr != "noimage1" %}
                    <img class="img-responsive" style="display: inline; max-height: 35px;"
                         src="http://res-4.cloudinary.com/desg88u7l/image/upload/{{ profile.profile_image_idstr }}">
                {% else %}
                    <img class="img-responsive" style="display: inline; max-height: 35px;"
                         src="/static/img/coming-soon-profile.png">
                {% endif %}
                <span style="margin-left: 5px; margin-right: 5px;">My profile</span>
            </a>



            <a class="joslargelinkbutton" style="margin-left: 30px" href="{% url "messages_redirect" %}">

                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-envelope fa-fw" style=" "></i>
                    My mailbox
                </span>
            </a>
        </div>

    </div>
    <div class="row" style="margin-top: 25px;">

        <div class="col-xs-12 text-center" style=" ">

            <ul id="worktabs" class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#enjoy">
                    <i class="fa fa-television fa-fw" style="margin-right: 10px;"></i>Enjoy
                </a></li>
                <li><a data-toggle="tab" href="#create">
                    <i class="fa fa-keyboard-o fa-lg fa-fw" style="margin-right: 10px;"></i>Create
                </a></li>
                <li><a data-toggle="tab" href="#share">
                    <i class="fa fa-globe fa-lg fa-fw" style="margin-right: 10px;"></i>Share
                </a></li>
            </ul>

        </div>
    </div>

    <div class="tab-content">

        <div id="enjoy" class="tab-pane fade in active">
            <div class="josinstructions text-center">enjoy</div>
            <p>Some content.</p>
            {# include " .../..." %}#}
        </div>

        <div id="create" class="tab-pane fade">
            <h3>create</h3>
            <p>asd adsdsfasdf sadfsdf </p>
        </div>


        <!--#############-->
        <!--### SHARE ###-->
        <!--#############-->
        <div id="share" class="tab-pane fade">

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-12" style="padding-left: 30px;">
                    <a class="joslargelinkbutton" href="{% url "josmembers_list" %}">Find fellow members</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
