{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags cloudinary %}

{% cloudinary_includes %}

{% block meta_title %}
    {{ user.get_short_name }}'s Desk
{% endblock %}
{% block title %}
    {{ user.get_short_name }}'s Desk
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    Currently at:
    &nbsp&nbsp
    <span style="color: black; font-weight: bold;">
        {{ user.get_short_name }}'s Desk
    </span>

{% endblock %}

{% block all_content %}

    <style>

    {# change do super larger link button #}
    .joslargelinkbutton {
        font-size: 24pt;
        margin-left: 15px;
        padding: 8px;
    }

    .nav-tabs.nav-justified > li > a {
        outline: none;
    }

    .nav-tabs.nav-justified > li {
        border-bottom: 2px dotted #412d78;
        border-right: 2px dotted #412d78;
        border-radius: 0;
    }

    .nav-tabs.nav-justified > li.active {
        border: 3px dashed #412d78;
        border-bottom: none;
        border-radius: 0;
    }

    #worktabs a {
        color: #412d78;
        font-family: "Abril Fatface", Serif;
        font-size: 24pt;
        outline: none;
    }

    </style>

    <div class="row" style="margin-left: 0; margin-top: 30px;">

        <div class="col-xs-12" style="padding: 0;">



           <a href="{% url "profile" request.user.id %}">
               <img style="display: inline; height: 65px;"
                    src="{% if profile.profile_image_idstr != "noimage1" %}
                        http://res-4.cloudinary.com/desg88u7l/image/upload/{{ profile.profile_image_idstr }}
                      {% else %}
                        /static/img/coming-soon-profile.png
                      {% endif %}
                     ">
               <span style="margin-left: 5px; margin-right: 5px;">
                    My profile
               </span>
            </a>

        </div>

    </div>
    <div class="row" style="margin-top: 25px;">

        <div class="col-xs-12 text-center" style=" ">

            <ul id="worktabs" class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#enjoy">
                    <i class="fa fa-television fa-fw" style="margin-right: 10px;"></i>Enjoy
                </a></li>
                <li><a data-toggle="tab" href="#create">
                    <i class="fa fa-keyboard-o fa-lg fa-fw" style="margin-right: 10px;"></i>Create
                </a></li>
                <li><a data-toggle="tab" href="#share">
                    <i class="fa fa-globe fa-lg fa-fw" style="margin-right: 10px;"></i>Share
                </a></li>
            </ul>

        </div>
    </div>

    <div class="tab-content">

        <div id="enjoy" class="tab-pane fade in active">
            <div class="josinstructions text-center">enjoy</div>
            <p>Some content.</p>
            {# include " .../..." %}#}
        </div>

        <div id="create" class="tab-pane fade">
            <h3>create</h3>
            <p>asd adsdsfasdf sadfsdf </p>
        </div>


        <!--#############-->
        <!--### SHARE ###-->
        <!--#############-->
        <div id="share" class="tab-pane fade">

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-12" style="padding-left: 30px;">

                </div>
            </div>

        </div>

    </div>

{% endblock %}
