{% load static %}
<style>

    .particBox {
        background-color: transparent;
        display: inline-block;
        margin: 0 0 0 20px;
        padding: 0;
        text-align: center;
    }

    .pictureBox {
        background-color: white;
        outline: 1px solid rgb(65, 45, 120);
    }

    .nameBox {
        background-color: transparent;
        color: green;
        height: auto;
        width: auto;
    }

</style>

<div class="particBox" style="width: {{ height |add:20 }}px; height: {{ height }}px;">

    <img class='pictureBox' style="width: {{ height }}px; height: {{ height }}px;"
        {% if user.JOSProfile.profile_image_id_str != "noimage1" %}
                 src="https://res-4.cloudinary.com/desg88u7l/image/upload/{{ user.JOSProfile.profile_image_id_str }}"
        {% else %}
                 src="/static/img/coming-soon-profile.png"
        {% endif %}><br>

    <div class='nameBox'>
        {{ user.JOSProfile.jos_name }}
    </div>

</div>