{% extends "base.html" %}

{% load mezzanine_tags staticfiles %}

{% block meta_title %}Terms and Conditions{% endblock %}
{% block title %}Terms and Conditions{% endblock %}

{% block outer_breadcrumb %}

    <div class="row breadcrumbtitle" style=" background-color: rgba(65, 45, 120, .2);
                                         border-radius: 0;
                                         height: 60px;
                                         margin-bottom: 0;
                                         margin-top: 10px;
                                         margin-right: -15px;">

        <div class="col-xs-7 col-xs-offset-1" style="padding-top: 10px;">
            Join Our Story - Terms and Conditions
        </div>

    </div>

{% endblock %}

{% block all_content %}

    <div class="row" style=" ">
        <div class="col-xs-10 col-xs-offset-1" style="margin-top: 80px;">

            By clicking “Sign up”, I hereby consent to the terms of this agreement as set forth herein below. I expressly
            acknowledge, accept and agree that by submitting my writing to Join Our Story, Inc. (the “Company”) via Company’s
            website located at www.joinourstory.com (“Site”), I grant to Company the right to copy, use, display and distribute
            my writing submission(s) (collectively, “Submission”) as part of the creative writing curriculum on the Site, in
            written study materials, and for other purposes related to any web series or other related endeavor engaged in and /
            or created and / or authorized by the Company.<br><br>

            I understand the Submission may be copied and distributed by means of various media, including without limitation
            printed and electronic books, video presentations, television, news, radio, podcasts, flyers, billboards, signs,
            brochures, placement on the Site, on the websites of publishers of the Company’s materials, in newspapers, in blogs,
            and in other media now known or hereinafter created. I understand that, although Company will endeavor to use the
            Submission in accordance with standards of reasonable judgment, Company cannot warrant or guarantee that any further
            dissemination of the Submission will be subject to Company’s supervision or control. Accordingly, I release Company
            and any company or individual authorized by Company, its employees, agents, heirs, successors in interest and / or
            personnel from any and all liability related to dissemination of the Submission.<br><br>

            In consideration of my participation in interactions and activities on the Site (collectively, “Activity”), I hereby
            waive all claims or causes of action against the Company and its officers, directors, employees and agents, arising
            out of my participation in the Activity and hereby release, hold harmless, and discharge the Company and its
            officers, directors, employees and agents from all liability in connection therewith except such loss or damage
            which was caused by the willful misconduct of the Company and its officers, directors, employees and agents.<br><br>

            I have read this agreement and understand the terms used in it and their legal significance. This waiver and release
            is freely and voluntarily given. By clicking to accept the terms of this agreement, I intend to bind not only myself
            but also my successors, heirs, representatives, administrators, and assigns. I have read, understand, acknowledge
            accept and agree to the entirety of this agreement.<br><br>

        </div>
    </div>
{% endblock all_content %}
