{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block all_content %}

    {% for member in staff %}
        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail member.bio_image 150 0 %}">
        <h3>
            {{ member.first_name }} {{ member.last_name }}
        </h3>
        <p style="font-style: italic">
            {{ member.jos_title }}
        </p>
        <p>
            {{ member.bio_text }}
        </p>
        <p>
            {{ member.email }}
        </p>
    {% endfor %}

{% endblock %}
