{% extends "base.html" %}

{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}Staff Timekeeping{% endblock %}
{% block title %}Staff Timekeeping{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">Timekeeping:<span style="margin-left: 12px;">{{ member.first_name }} {{ member.last_name }}</span></li>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "mezzanine/js/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#datepickerstart').datepicker();
                $('#datepickerstart').on("changeDate", function () {
                    $('#period_start_date_field').val($('#datepickerstart').datepicker('getFormattedDate'));
                });
                $('#datepickerend').datepicker();
                $('#datepickerend').on("changeDate", function () {
                    $('#period_end_date_field').val($('#datepickerend').datepicker('getFormattedDate'));
                });
            });
    </script>
 {% endblock extra_js %}


{% block all_content %}

    <div class="row" style="margin-bottom: 50px; margin-top: 30px;">
        <div class="col-xs-2">
            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail member.bio_image 100 0 %}">
        </div>
        <div class="col-xs-8">

            <h3>Previous Entries:</h3>
            <div class="row">

                <div class="col-xs-2 col-xs-offset-1">Start</div>
                <div class="col-xs-2">End</div>
                <div class="col-xs-2 text-right">Hours</div>
                <div class="col-xs-2 text-center">Status</div>
                <div class="col-xs-3 text-right">Total Claim:</div><br><br>

            </div>
            {% for instance in member_entries %}
                <div class="row">
                    <div class="col-xs-2 col-xs-offset-1">{{ instance.period_date_start | date:'m/d/y' }}</div>
                    <div class="col-xs-2">{{ instance.period_date_end | date:'m/d/y'}}</div>
                    <div class="col-xs-2 text-right">{{ instance.hours_claimed }}</div>
                    <div class="col-xs-2">
                        {% if instance.time_claim_approved %}
                            Approved
                        {% else %}
                            Pend.
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-2" style="color: green; font-size: 36pt; margin-top: 60px;">
            {{ total_hours }}
        </div>
    </div>

    {# form.as_p #}

    <div class="row">


        <div class="col-xs-10 col-xs-offset-2" style="border-top: 2px solid rgba(65, 25, 140, 0.25);">


            {% errors_for form %}

            <form method="post">
                {% nevercache %}
                    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                    {% csrf_token %}
                {% endnevercache %}
                <h3>New Entry:</h3>
                <div class="row" style=" ">
                    <div class='col-xs-3 col-xs-offset-1'>
                        <h4 class=" ">Start:</h4>
                        <div id="datepickerstart" data-provide="datepicker-inline"></div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class='col-xs-3'>
                        <h4 class=" ">End:</h4>
                        <div id="datepickerend" data-provide="datepicker-inline"></div>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <div class="form-group input_{{ field.id_for_label }}
                                                         {{ field.field.type }}
                                                         {% if field.errors %}
                                                            has-error
                                                         {% endif %}">
                                {# field.name #}
                                {% if field.label %}
                                    <label class="control-label"
                                           for="{{ field.auto_id }}">{{ field.label | title }}</label>
                                {% endif %}

                                {{ field }}

                                {% if field.errors %}
                                    <p class="help-block">
                                        {% for e in field.errors %}
                                            {% if not forloop.first %} / {% endif %}{{ e }}
                                        {% endfor %}
                                    </p>

                                {% elif field.help_text %}
                                    <p class="help-block">
                                        {{ field.help_text }}
                                    </p>
                                {% endif %}

                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="form-actions"><!-- sumbit -->
                        {% block account_form_actions %}
                            <input class="btn btn-default btn-lg pull-left"
                                   style="margin-top: 10px;" type="submit" value="Submit">
                        {% endblock account_form_actions %}
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock all_content %}
