{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block meta_title %}
    {{ user.JOSProfile.jos_name }} Staff
{% endblock %}
{% block title %}
    {{ user.JOSProfile.jos_name }} Staff
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {% block inner_breadcrumb_menu %}
        <span style="background-color: red; padding: 0 20px;">{{ user.get_short_name }} - Staff</span>
    {% endblock inner_breadcrumb_menu %}
    </div></div>

{% endblock %}

{% block all_content %}

    <div class="row" style="margin-left: 0; margin-bottom: 30px; margin-top: 20px;">

        <div class="col-xs-12" style="padding: 0;">

            <a class="joslargelinkbutton"
               style=" "
               href="{% url "josstaff:referral" %}?firstname={{ user.get_short_name }}">
                <i class="fa fa-thumbs-up fa-fw" style=" "></i>
                Referral
            </a>

            <a class="joslargelinkbutton"
               style=" "
               href="{% url "josstaff:josstaff_timesheet" %}?firstname={{ user.get_short_name }}">
                <i class="fa fa-clock-o fa-fw" style=" "></i>
                Timekeeping
            </a>

            <a class="joslargelinkbutton"
               style=" "
               href="http://www.joinourstory.com/tokboxtest">
                <i class="fa fa-video-camera fa-fw" style=" "></i>
                Staff Video Test
            </a>


        </div>
    </div>

{% endblock %}

{#{% block inner_content %}#}
{##}
{#    <div class="row">#}
{#        <div class="col-xs-6 col-lg-offset-3" style="margin-top: 150px; background-color: transparent;">#}
{#            <a {% if request.user.id > 0 %}href="{% url "personaldesk" %}/{{ request.user.id }}"#}
{#               {% else %}href="/"{% endif %} style="color: rgb(65, 45, 120); outline: none; padding: 0">#}
{#                <img class="img img-responsive" style="height: 235px;" src="/static/img/JOSLogo121615.png">#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock inner_content %}#}

{#<a class="joslargelinkbutton"#}
{#   style=" "#}
{#   href="{% url 'josmessages:messages_trash' %} ">#}
{#    <span style="margin-left: 5px; margin-right: 5px;">#}
{#        <i class="fa fa-trash fa-fw" style=" "></i>#}
{#        Deleted#}
{#    </span>#}
{#</a>#}

{#<span class="josinstructions" style="margin-left: 30px;">To send messages, use:</span>#}
{#<a style="margin-left: 15px; margin-right: 160px" href="{% url "josmembers:josmembers_list" %}">#}
{#    <span style="margin-left: 5px; margin-right: 5px;">#}
{#        <i class="fa fa-heart fa-fw" style=" "></i>#}
{#        Friends#}
{#    </span>#}
{#</a>#}