{% extends "base.html" %}

{% load mezzanine_tags staticfiles %}

{% block meta_title %}About Join Our Story{% endblock %}
{% block title %}About Join Our Story{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ title }}

{% endblock %}

{% block all_content %}

<div class="row" style="font-family: 'Abril Fatface', serif; font-size: 28pt; margin-top: 20px;">

    <div class="col-xs-12" style="margin-top: 0; margin-bottom: 0;">
        Our mission:<br>
    </div>
</div>

<div class="row" style="margin: 15px; padding: 20px 40px 20px 20px; line-height: normal;">
    <div class="col-xs-12" style="margin-top: 0; margin-bottom: 0;">

        Join Our Story helps older adults enjoy safe and supportive social connections, create and share meaningful stories, and receive due recognition for their efforts. The goal of our collaborative online storytelling platform is to fight social isolation and maintain cognitive function, bringing better health and happiness to an under-served community.<br>

    </div>
</div>

<div class="row" style="margin-bottom: -30px;">
    <div class="col-xs-12" style="margin-top: 0; margin-bottom: 0;">
        <div class=" "
            style="font-family: 'Abril Fatface', serif; font-size: 28pt;">
            Our team:<br>
        </div>
    </div>
</div>

{% for member in staff %}

    {% if member.publish %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="row" style="background-color: rgb(209,209,209); margin: 15px; padding: 20px; line-height: 1.1;">
                <div class="col-xs-2">
                    <img class="img-responsive" style="margin-top: 25px;"
                         src="{{ MEDIA_URL }}{% thumbnail member.bio_image 150 0 %}">
                </div>

                <div class="col-xs-10">
                    <h3>
                        {{ member.first_name }} {{ member.last_name }},
                        <span style="font-size: 18pt; font-style: italic; margin-left: 10px;">
                            {{ member.jos_title }}
                        </span>
                        <a style="margin-left: 10px;" href="mailto:{{ member.email }}?Subject=From%20JOSAboutUs">
                            <span style="margin: 0 5px;">{{ member.email }}</span>
                        </a>
                    </h3>
                    <p style="line-height: 1.35;">
                        {{ member.bio_text }}
                    </p>
                </div>
            </div>

        {% else %}

            <div class="row" style="margin: 15px; padding: 20px; line-height: 1.1; background-color: transparent;">
                <div class="col-xs-10">
                    <h3>
                        {{ member.first_name }} {{ member.last_name }},
                        <span style="font-size: 18pt; font-style: italic; margin-left: 10px;">
                            {{ member.jos_title }}
                        </span>
                        <a style="margin-left: 10px;" href="mailto:{{ member.email }}?Subject=From%20JOSAboutUs">
                            <span style="margin: 0 5px;">{{ member.email }}</span>
                        </a>
                    </h3>
                    <p style="line-height: 1.35;">
                        {{ member.bio_text }}
                    </p>
                </div>

                <div class="col-xs-2">
                    <img class="img-responsive" style="margin-top: 25px;" src="{{ MEDIA_URL }}{% thumbnail member.bio_image 150 0 %}">
                </div>

            </div>

        {% endif %}
    {% endif %}
{% endfor %}

{% endblock all_content %}
