{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  static %}

{% block meta_title %}{{ story.title | striptags  | safe | truncatechars:25 }}{% endblock %}
{% block title %}{{ story.title | striptags  | safe | truncatechars:25 }}{% endblock %}
{% block breadcrumb_menu %}{{ block.super }}
    {{ story.title  | striptags | safe | truncatechars:55 }} <span style="font-size: 18pt; font-style: italic; margin-left: 5px;"> by {{ story.author.JOSProfile.friendly_jos_name }}</span>
{% endblock %}

{% block all_content %}

<style>

    #author, #author:visited {
        background-color: white;
        color: rgb(112, 154, 109);
    }

    #author:focus, #author:hover {
        color: #e38d13;
        outline: 2px dashed #e38d13}

</style>

<div class="row" style="margin-top: 0;">

<!-- Main Panel -->
<div class="col-xs-10" style="height: 1050px; overflow-x: hidden; overflow-y: scroll;">

    <div style="height: 20px; margin: 15px 0 10px 15px;">

        <span class="joshint"
              style="{% if not edit %}display: none;{% endif %} font-size: 14pt;"
              data-toggle="tooltip"
              title="Dragging bottom right triangle changes the editor's height"
              data-placement="bottom">
        Hint: Dragging changes editor size
        </span>
    </div>

    <!-- Title -->
    <div class="row" style=" ">
        <div class="col-xs-12">

            {% if edit %}

                <a id="title_edit_btn"
                   class="btn btn-info btn-xs pull-right edit_section_button"
                   style="font-size: 14pt; width: 125px; margin-top: -31px;"
                   onclick="josCKEdit('title');"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Activates editor"
                >
                    Edit title
                </a>

                <a id="title_cancel_btn"
                   class="btn btn-danger btn-xs pull-right edit_section_button"
                   style="font-size: 14pt; width: 125px; margin-top: -31px; margin-right: 135px; display: none;"
                   onclick="josCKDestroy('title');"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Warning: discards recent changes!"
                >
                    Discard
                </a>


                <!-- This div holds editor. -->
                <div id="title_editor_container" style=" "></div>

            {% endif %}

            <!-- This div displays contents. -->
            <div id="title_original_content"
                 class="homehead text-center {% if edit %}edit_border{% endif %} edit_border_class">
                {{ story.title | striptags | safe }}<br>
            </div>
        </div>
    </div>

     <!-- Author -->
    <div class="row text-center" style="margin-top: 25px;">

        <a id="author" class="joslargelinkbutton joscursive" href="{% url "profile" story.author.id %}"
           style="padding: 0;">
            <span style="font-size: 48pt; margin: 0 15px;">
                {{ story.author.JOSProfile.friendly_jos_name }}
            </span>
        </a>

    </div>

    <!-- Content -->
    <div class="row" style="margin-top: 20px; min-height: 500px;">
        <div class="col-xs-12">

            {% if edit %}

                <a id="content_edit_btn"
                   class="btn btn-info btn-xs pull-right edit_section_button"
                   style="font-size: 14pt; width: 125px; margin-top: -31px;"
                   onclick="josCKEdit('content');"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Activates editor"
                >
                    Edit content
                </a>

                <a id="content_cancel_btn"
                   class="btn btn-danger btn-xs pull-right edit_section_button"
                   style="font-size: 14pt; width: 125px; margin-top: -31px; margin-right: 135px; display: none;"
                   onclick="josCKDestroy('content');"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Warning: discards recent changes!"
                >
                    Discard
                </a>


                <!-- This div holds editor. -->
                <div id="content_editor_container" style=" "></div>

            {% endif %}

            <!-- This div displays contents. -->
            <div id="content_original_content" class="{% if edit %}edit_border{% endif %} edit_border_class"
                 style="min-height: 450px; padding: 10px;">
                    {{ story.content | safe }}<br>
            </div>
        </div>
    </div>

    <!-- Discussion -->
    <div class="row">

        <div class="homehead" style="font-size: 28pt; margin-left: 30px; margin-top: 0;">
            Community discussion:
        </div>

        <div class="col-xs-11 col-xs-offset-1" style="margin-top: 0;">

            {% for comment in comments %}

                <div class="row" style="color: rgb(217,83,79); font-size: 20pt; margin-top: 20px;">
                    <div class="col-xs-3">
                        {{ comment.sent_at | date:"M d" }}; {{ comment.sent_at | time:"f A" }}
                    </div>
                </div>

                <div class="row" style="font-size: 20pt; margin-top: 20px;">

                    {% if comment.sender != request.user %}

                        <div class="col-xs-2" style="padding: 0;">
                            {% include "josmembers/user_picture_include.html" with user=comment.sender height=60 %}
                        </div>

                        <div class="col-xs-9"
                             style="border: 1px solid rgb(65, 45, 120); padding: 15px; min-height: 103px;">
                            "{{ comment.body | striptags | safe }}"
                        </div>

                    {% else %}

                        <div class="col-xs-9"
                             style="border: 1px solid rgb(65, 45, 120); padding: 15px;  min-height: 103px;">
                            "{{ comment.body | striptags | safe }}"
                        </div>

                        <div class="col-xs-2">
                            {% include "josmembers/user_picture_include.html" with user=comment.sender height=60 %}
                        </div>

                    {% endif %}

                </div>

            {% endfor %}
        </div>

    </div>

    <div id="discuss" class="row" style="">
        <div class="col-xs-10 col-xs-offset-1" style="margin-top: 50px;">


            <a id="comment_cancel_btn"
               class="btn btn-danger"
               style="font-size: 16pt; width: 150px; margin-top: -31px; display: none;"
               onclick="josCKDestroy('comment');"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Warning: discards recent changes!"
            >
                Discard
            </a>

            <a id="comment_edit_btn"
               class="btn btn-info"
               style="font-size: 16pt; width: 375px; margin: -31px 0 0 30px;"
               onclick="josCKEdit('comment');"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Activates editor"
            >
                Click to add your thought below ...
            </a>

            <!-- This div holds editor. -->
            <div id="comment_editor_container" style=" "></div>

        </div>
    </div>
</div>

<!-- Side Panel Controls -->

<div id="editing_side_panel"
     style="position: fixed; width: 190px; left: 995px; top: 150px; min-height: 300px;
        border-left: 1px solid rgb(65,45,120); background-color: white;">

    {% include "josprojects/../jos_includes/updated_include.html" with myobj=story %}<br>

    {% if story.author == request.user %}
        <a id="edit_mode_button" class="btn pull-left btn-info"
           style="margin: 0 0 0 50px;"
                {% if edit %}
           href="{% url "joscourses:josstory" story.id %}">
                    Hide
                {% else %}
                    href="{% url "joscourses:josstory_edit" story.id %}">
                    Edit
                {% endif %}
        </a><br>
    {% endif %}

    {% if story.author == request.user %}

        <!-- Share slider -->
        <div class='row text-center' style="margin-top: 35px;">
            <span class="homehead" style="font-size: 20pt;">Sharing</span>

            <div class='text-left' style="margin: 30px 0 0 65px;">

                <input name="permission_slider" title='permission_slider' id="sharing_slider">

            </div>
        </div>

    {% endif %}

    <!-- Go To Discuss -->
    <a class="btn pull-left btn-default"
       style="margin: 40px 0 20px 50px;" href="#discuss">
        Discuss
    </a><br>

    {% include 'josprojects/../jos_includes/library_include.html' %}

</div>
</div>

<script>

    $(document).ready(function () {
        initJOSEditor('title', 'small', '/joscourses/story_update/?id=' + '{{ story.id }}', "{{ story.title | escapejs }}");
        initJOSEditor('content', 'large', '/joscourses/story_update/?id=' + '{{ story.id }}', "{{ story.content | escapejs }}");
        initJOSEditor('comment', 'small', '/joscourses/story_update/?id=' + '{{ story.id }}', " ");

        $('[data-toggle="tooltip"]').tooltip();
    });

    $("#sharing_slider").slider({
                id: "slider13",
                handle: 'triangle',
                max: 3,
                min: 1,
                orientation: "vertical",
                snap_bounds: 20,
                step: 1,
                ticks: [1, 2, 3],
                ticks_labels: ["Only me", "My team", "Publish"],
                tooltip: "hide",
                value: {{ story.publish_permission }}
            })
            .on('slideStop', function (slideStopEvt) {
                window.location.href = "{% url "joscourses:josstory" story.id %}/?pubperm=" + slideStopEvt.value;
            });

</script>

{% endblock %}




