{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  %}

{% block meta_title %}
    {{ week.week_title | safe | truncatechars:20 }}
{% endblock %}
{% block title %}
    {{ week.week_title | safe | truncatechars:20 }}
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ week.week_title | safe | truncatechars:45 }}
    - Part {{ handouts.0.part_no }}
    </div></div>

{% endblock %}

{% block extra_bar %}

<style>
    p {
        margin: 0;
    }

    #work_tabs a, #work_tabs a:visited {
        border: 3px dotted rgb(112, 154, 109);
        color: rgb(112, 154, 109);
        font-family: "Abril Fatface", cursive;
        font-size: 24pt;
        font-weight: normal;
        outline:none;
        padding: 5px 15px;
    }

    #work_tabs a:hover, #work_tabs a:focus {
        color: rgb(240, 173, 78);
        border-color: rgb(240, 173, 78);
        background-color: white;
    }

    #two_work_tabs a, #two_work_tabs a:visited {
        border: 3px dotted rgb(112, 154, 109);
        color: white;
        font-size: 18pt;
        font-weight: bold;
        margin: 0 0 0 15px; !important;
        outline: none;
        padding: 5px 15px;
        width: 150px !important;
    }

    #two_work_tabs a:hover, #two_work_tabs a:focus {
        color: rgb(240, 173, 78);
        border-color: rgb(240, 173, 78);
        background-color: white;
    }

</style>

<div class="row" style="margin: 0 0 0 -15px; padding-top: 25px; width: 1170px;">

    <div class="col-xs-12 text-center" style=" ">

        {% if segments|length > 0 %}

            <ul id="work_tabs" class="nav nav-tabs nav-justified">

                {% for seg in segments %}
                    <li><a style="
                               {% if seg.segment_no == handout.segment_no %}
                                   position: relative;
                                   bottom: -3px;
                                   color: rgb(65,45,120);
                                   background-color: rgba(65,45,120, .2);
                                   border: 3px solid rgb(65,45,120);
                                   border-bottom: 3px solid rgb(217,213,229);
                                   z-index: 50;
                               {% endif %}"
                           href="{% url "course_week" %}/{{ week.week_no }}/{{ part_no }}/{{ seg.segment_no }}/1">
                        {{ seg.get_segment_no_display }}
                    </a></li>
                {% endfor %}

            </ul>

        {% else %}
            Content coming soon!
        {% endif %}
    </div>
</div>

<div class="row" style="margin: 0 0 0 -15px; width: 1170px;">

    <div class="col-xs-12 text-center"
         style="margin-left: 15px;
         padding: 15px 0 0 0;
         width: 1140px;
         background-color: rgba(65,45,120, .2);
         border: 3px solid rgb(65,45,120);">



        {% if segments|length > 0 %}

            <ul id="two_work_tabs" class="nav nav-tabs">
                {% for hand in handouts %}

                    <li><a class="joslargelinkbutton"
                       style="{% if hand.element_no == handout.element_no %}
                                   background-color: white;
                                   border: 3px solid rgb(65,45,120);
                                   border-bottom-color: white;
                                   bottom: -3px;
                                   color: rgb(65,45,120);
                                   position: relative;
                                   z-index: 50;
                              {% endif %}"
                       href="{% url "course_week" %}/{{ week.week_no }}/{{ part_no }}/{{ hand.segment_no }}/{{ hand.id }}">
                            {{ hand.get_element_no_display }}
                    </a></li>

                {% endfor %}
            </ul>
        {% else %}
            No published handouts
        {% endif %}
    </div>
</div>

{% endblock extra_bar %}


