{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  %}

{% block meta_title %}
    {{ week.week_title | safe | truncatechars:25 }}
{% endblock %}
{% block title %}
    {{ week.week_title | safe | truncatechars:25 }}
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ week.week_title | safe | truncatechars:45 }}
    </div></div>

{% endblock %}

{% block extra_bar %}

<style>
    p {margin: 0;}

    #progress_bar .joslargelinkbutton, #progress_bar .joslargelinkbutton:visited {
        background-color: rgb(0, 155, 175);
    }

    #progress_bar .joslargelinkbutton:focus, #progress_bar .joslargelinkbutton:hover {
        background-color: white;
        outline: 1px dashed rgb(0, 155, 175);
    }

.week-box {
    padding: 10px 0 0 0;
    background-color: rgba(65, 45, 120, .2);
    border: 1px solid rgb(65, 45, 120);
    width: 90%;
    float: none;
    margin: 0 auto;
}

#week-boxes a {

}


</style>

<div class="row text-center" style="padding: 20px 0; border-bottom: 3px solid rgba(65,45,120,.2);">

    <div id="week-boxes" class="col-xs-12">

        <div class="row">

            <div class="col-xs-6" style="">

                <div class="row week-box" >

                    <div class="col-xs-12">

                        <div class="row homehead" style="font-size: 24pt;">
                            Part 1.
                        </div>

                        <div class="row" style="font-size: 18pt; padding: 10px 0 0 0;">
                            <a class="col-xs-4" style="margin-left: 0;" href="https:/">
                                Prepare
                            </a>

                            <a class="col-xs-4" style="margin-left: 0;" href="https:/">
                                Workshop
                            </a>

                            <a class="col-xs-4" style="margin-left: 0;" href="https:/">
                                Resources
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">

                <div class="row week-box">
                    <div class="col-xs-12">

                        <div class="row homehead" style="font-size: 24pt;">
                            Part 2.
                        </div>

                        <div class="row" style="font-size: 18pt; padding: 10px 0 0 0;">
                            <a class="col-xs-4" style="margin-left: 0;" href="https:/">
                                Prepare
                            </a>

                            <a class="col-xs-4" style="margin-left: 0;" href="https:/">
                                Workshop
                            </a>

                            <a class="col-xs-4" style="margin-left: 0;" href="https:/">
                                Resources
                            </a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock extra_bar %}

