{% extends "joscourses/joscourseweek.html" %}
{% load i18n mezzanine_tags accounts_tags static %}

{% block all_content %}

<!-- Main Panel -->

<div class='hidden' style="color: red; margin: 100px 30px;">
    DEBUG:<br>

    week: {{ week }}<br><br>

    segments:<br>
    {% for seg in segments %}
        segment: {{ forloop.counter }} / {{ seg }}<br>
    {% endfor %}

    <br><br>
    handouts:<br>
    {% for hand in handouts %}
        hand: {{ forloop.counter }} / {{ hand }}<br>
    {% endfor %}


    <br><br>handout.segment_no: {{ handout.segment_no }}<br><br>

    handout.part_no: {{ handout.part_no }} <br>
    handout.element_no: {{ handout.element_no }}<br>
    pdf_missing: {{ pdf_missing }}<br><br>
</div>

{% if handout.element_no == 13 %}

    <div class="row text-center" style="margin: 100px 0 0 0;">
        <iframe
                src="{{ week.video }}"
                width="960" height="540"
                frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>

{% else %}

    {% if pdf_missing %}

        <div class="row" style="margin-top: 150px;">
            <div class="col-xs-5 col-xs-offset-1">
                Sorry, this PDF is missing - <br>
                Click:
                <button class="btn btn-warning btn "
                        style="border-radius: 15px; margin: 20px 10px;width: 80px;"
                        onclick="goBack()">
                    Back
                </button>
                <script>function goBack() {
                    window.history.back();
                }</script>
                and call us for help.
            </div>
        </div>

    {% else %}

        <div class="row text-center" style="margin-top: 100px;">
            <iframe id="pdf_frame"
                        title="PDF"
                        name="PDF"
                        src="https://joinourstory.com/static/media/{{ handout.pdf_handout }}"
                        width="815px" height="1100px">
                Your web browser doesn't support iframes; please call.
            </iframe>
        </div>

    {% endif %}

{% endif %}

     </

<script>

</script>

{% endblock %}

