{% extends "joscourses/joscourseweek.html" %}
{% load i18n mezzanine_tags accounts_tags static %}

{% block all_content %}

<style> .cke {margin-left: 25px;}</style>

<!-- Editing top button -->
{% if request.user.is_staff %}
    <div style="position: fixed; top: 285px; left: 750px; z-index: 100;">

        <a id="edit_mode_button" class="btn btn-info"
           style="margin-left: 15px;"
                {% if edit %}
           href="{% url "handout" handout.id %}">
                    {% trans "Hide" %}
                {% else %}
                    href="{% url "handout_edit" handout.id %}">
                    {% trans "Edit" %}
                {% endif %}
        </a>

    </div>
{% endif %}


<!-- Main Panel -->

<div class="row" style="margin-top: 65px;">
    <div class="col-xs-12" style=" ">

        <!-- Content -->
        <div class="row" style="margin-top: 10px;">

            <div class="col-xs-12">

                <div id='border_content' class="{% if edit %}edit_border{% endif %} edit_border_class"
                     style="padding: 3px;">

                    <!-- Content Edit Buttons -->
                    {% include "jos_editor.html" with section='content' %}

                    <div class="row">
                        <form id='content_form' method="post"
                              {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

                            <div id='content' class="col-xs-12">
                                {{ handout.content | richtext_filters | safe }}<br>
                            </div>

                            <input id="content_holder" type="hidden" name='nucontent' value=" ">
                            <input id="field_to_edit_holder" type="hidden" name="field_to_edit" value="content">


                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if handout.segment_type == 3 %}
            <div class="row" style="margin-left: 120px; margin-top: 30px;">
                <iframe src="{{ week.video }}"
                        width="640" height="360"
                        frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                </iframe>
            </div>
        {% endif %}

    </div>
</div>

<script>

    $(document).ready(function () {
        CKEDITOR.disableAutoInline = true;
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

{% endblock %}
