{% extends "joscourses/joscourseweek.html" %}
{% load i18n mezzanine_tags accounts_tags static %}

{% block all_content %}

<!-- Main Panel -->

{% if handout.segment_type == 3 %}

    <div class="row text-center" style="margin: 50px 0 0 0;">
        <iframe src="{{ week.video }}"
                width="960" height="540"
                frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>

{% else %}

    <div class="row text-center" style="margin: 30px 0 0 0;">

        <iframe id="pdf_frame"
                title="PDF"
                name="PDF"
                onload="changeTitle(this);"
                src="https://joinourstory.com/static/media/{{ handout.pdf_handout }}"
                width="815px" height="1100px">
            <p>Your web browser doesn't support iframes; please call.</p>
        </iframe>

    </div>

{% endif %}



<script>

    function changeTitle(t) {
        var eltit = t.contentDocument;
        // alert('eltit: ' + eltit);
    }

    jQuery(document).ready(function ($) {
        function print(url) {
            var _this = this,
                    iframeId = 'iframeprint',
                    $iframe = $('iframe#iframeprint');
            $iframe.attr('src', url);

            $iframe.load(function () {
                _this.callPrint(iframeId);
            });
        }

        //initiates print once content has been loaded into iframe
        function callPrint(iframeId) {
            var PDF = document.getElementById(iframeId);
            PDF.focus();
            PDF.contentWindow.print();
        }
    });

</script>

{% endblock %}
