{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags static %}

{% block meta_title %}{{ day.day_num }} {{ day.title }}{% endblock %}
{% block title %}{{ day.day_num }} {{ day.title }}{% endblock %}
{% block breadcrumb_menu %}{{ block.super }}Day {{ day.day_num }}:&nbsp&nbsp{{ day.title | upper }}{% endblock %}

{% block all_content %}

<style>


    * {
        font-size: 18pt;
    }

    #main_container {
        background-image: url('/static/img/whitediamond_@2X.png');
    }
    .day_quote {
        font-family: 'Architects Daughter';
        font-size: 28pt;
        font-weight: bold;
    }

    .section_title {
        margin-top: 50px;
        padding: 8px 80px;
        font-size: 24pt;
        font-weight: bold;
    }

</style>

<div id="one_day_page" style="width: 1090px; margin: 0 0 0 80px; font-size: 16pt; z-index: 5;">

    <!-- Quote -->
    <div id="top_quote" class="day_quote =" style="margin: 20px 0 0 0; padding: 30px;
         background-color: transparent;">

        {{ day.top_quote }}<br>
        <div class="joscursive" style="margin: 30px 0 0 60px;">
            {{ day.top_quote_author }}
        </div>
    </div>

    <!-- Video -->
    <div class="jos-flex_container text-center" style="justify-content: center;
         margin-top: 40px; padding: 30px; background-color: transparent;">
        video_url: {{ day.video_url }}<br>
        <video width="960" height="540" style="outline: 5px solid rgb(65, 45, 120);" controls>
            <source src="/static/media/PROMO-911-480p.mov" type="video/mp4">
            Sorry, your device has a video problem. Please call.
        </video>

        <button class="j_button j_relocate_button"
                style="margin: 5px 0 0 785px;"
                onclick="location.href=' ';">
            <i class="fa fa-file-text fa-fw"></i>
            TRANSCRIPT
        </button>
        {# day.video_transcript #}
    </div>

    <div class="section_title" style="background-color: transparent;">Key Points</div>

    <div style="margin-top: 20px; background-color: transparent; padding: 40px 80px;">
        {{ day.key_points  | safe }}
    </div>

    <div class="section_title" style="margin-top: 20px; background-color: transparent;">Brainstorm</div>

    <div style="margin-top: 20px; background-color: transparent;  padding: 40px 80px;">
        {{ day.brainstorm | safe }}
    </div>
    <div class="section_title" style="margin-top: 20px; background-color: transparent;">Wheel</div>

    <div class="jos_flex_container" style="align-items: center;
         margin: 20px 0 0 0;  padding: 40px 80px; background-color: transparent; ">
        <div id="fixed_background" style="width: 330px; height: 330px; transform: rotate(180deg);">
            <canvas id="pie_canvas" width="330" height="330" style="
                    background-image: url('{% static 'img/wheel-011617.png' %}');
                    background-size: 330px;">
                Your browser does not support HTML5 Canvas; please call us.
            </canvas>
        </div>
    </div>

    <div style="margin-top: 20px;  padding: 40px 80px; background-color: transparent;">
        {{ day.story_wheel_section  | safe }}
    </div>
    <div class="section_title" style="margin-top: 20px; background-color: transparent;">End Quote</div>

    <!-- Quote -->
    <div id="day_quote" class="day_quote"
         style="margin: 20px 0 0 0; padding: 30px; background-color: transparent;">

        {{ day.day_quote }}<br>
        <div class="joscursive" style="margin: 30px 0 0 60px;">
            {{ day.day_quote_author }}
        </div>
    </div>
</div>

<script>

    var C = document.getElementById('pie_canvas');
    var ctx = C.getContext('2d');
    var paths = [];
    var wedges = ['none', 'conflict', 'character', 'theme', 'world', 'plot'];
    var oldWedge = 0,
            newWedge = 0;

    var url_plot = "https://joinourstory.com/joscourses/plot_template/" + "{{ wheel.id }}";
    var url_characters = "https://joinourstory.com/joscourses/characters_template/" + "{{ wheel.id }}/0";
    var url_world = "https://joinourstory.com/joscourses/world_template/" + "{{ wheel.id }}";
    var url_theme = "https://joinourstory.com/joscourses/theme_template/" + "{{ wheel.id }}";
    var url_conflict = "https://joinourstory.com/joscourses/conflict_template/" + "{{ wheel.id }}";

    function redraw() {
        console.log('drawing');
        ctx.clearRect(0, 0, C.width, C.height);
        paths = [];
        var path1 = new Path2D(), path2 = new Path2D(), path3 = new Path2D();
        var path4 = new Path2D(), path5 = new Path2D();

        ctx.lineWidth = .01;

        // pie/conflict
        path1.moveTo(7.3, 114.2);
        path1.bezierCurveTo(31.5, 46.0, 95.0, 2.3, 163.9, 0.3);
        path1.lineTo(163.9, 165.0);
        path1.lineTo(163.8, 165.0);
        path1.lineTo(7.3, 114.1);
        path1.closePath();
        ctx.stroke(path1);
        paths.push(path1);

        // pie/character
        path2.moveTo(322.4, 115.5);
        path2.bezierCurveTo(342.9, 185.0, 317.2, 257.6, 262.7, 299.7);
        path2.lineTo(165.9, 166.5);
        path2.lineTo(165.9, 166.4);
        path2.lineTo(322.5, 115.6);
        path2.closePath();
        ctx.stroke(path2);
        paths.push(path2);

        // pie/theme
        path3.moveTo(262.0, 300.4);
        path3.bezierCurveTo(202.3, 341.3, 125.3, 339.3, 68.4, 300.5);
        path3.lineTo(165.2, 167.2);
        path3.lineTo(165.2, 167.3);
        path3.lineTo(262.0, 300.4);
        path3.closePath();
        ctx.stroke(path3);
        paths.push(path3);

        // pie/world
        path4.moveTo(67.1, 299.8);
        path4.bezierCurveTo(9.8, 255.6, -12.2, 181.8, 7.3, 115.7);
        path4.lineTo(163.9, 166.5);
        path4.lineTo(163.8, 166.6);
        path4.lineTo(67.1, 299.7);
        path4.closePath();
        ctx.stroke(path4);
        paths.push(path4);

        // pie/plot
        path5.moveTo(165.2, 0.7);
        path5.bezierCurveTo(237.6, 2.7, 298.7, 49.5, 321.9, 114.4);
        path5.lineTo(165.3, 165.3);
        path5.lineTo(165.3, 165.2);
        path5.lineTo(165.3, 0.7);
        path5.lineTo(165.2, 0.7);
        path5.closePath();
        ctx.stroke(path5);
        paths.push(path5);
    }

    // Handles hovering
    $(document).mousemove(function (e) {

        var wheel = document.getElementById('wheel_box');
        if ($(wheel).css('display') !== 'none') {

            var mousePos = getMousePos(C, e);

            for (i = 0; i < 5; i++) {
                if (ctx.isPointInPath(paths[i], mousePos.x, mousePos.y)) {
                    newWedge = i + 1;
                    break
                } else {
                    newWedge = 0;
                }
            }

            if (newWedge !== oldWedge) {
                redraw();
                if (newWedge !== 0) {
                    ctx.save();
                    ctx.fillStyle = "white";
                    ctx.globalAlpha = 0.6;
                    ctx.fill(paths[newWedge - 1]);
                    ctx.restore();
                }
                oldWedge = newWedge;
            }
        }
    });

    C.addEventListener('click', function (e) {
        var segment = 0;
        var mousePos = getMousePos(C, e);
        for (i = 0; i < 5; i++) {
            if (ctx.isPointInPath(paths[i], mousePos.x, mousePos.y)) {
                segment = i + 1;
                break
            }
        }

        console.log(wedges[segment] + ' clicked');

        //// add other wedges
        if (wedges[segment] === 'plot') {
            location.href = url_plot;
        } else if (wedges[segment] === 'character') {
            location.href = url_characters;
        } else if (wedges[segment] === 'world') {
            location.href = url_world;
        } else if (wedges[segment] === 'theme') {
            location.href = url_theme;
        } else if (wedges[segment] === 'conflict') {
            location.href = url_conflict;
        } else {
            console.log('click - no wedge found')
        }
    });

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }

    $(document).ready(function () {
        redraw()
    });

</script>

{% endblock all_content %}

