{% load i18n mezzanine_tags accounts_tags  static %}

<head>
    <link rel="stylesheet" href="{% static "css/josmain.css" %}">
    <link href='https://fonts.googleapis.com/css?family=
        Architects+Daughter|Abril+Fatface|Open+Sans|Stalemate' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
<style>

    .edit_box {
        border: 2px dashed #5bc0de;
        height: 100%;
        width: 95%;
        padding: 6px 9px;
        background-color: rgba(255, 255, 255, .9);
    }

    .edit_box:hover {
        background-color: white;
    }

    .template_row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .template_component {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

    .component_label {
        font-family: 'Architects Daughter';
        font-size: 28pt;
        font-weight: bold;
        margin: 0 5px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, .6);
        padding: 0 8px;
    }

</style>
</head>

<body id=" " style="position: relative; height: 750px; width: 1265px; margin: 0; padding: 0">

{#    <div id="wheel_navigation" style="background-color: transparent;#}
{#         position: absolute; top: 0; left: 0; height: 300px; width: 300px; z-index: 130;">#}
{#    </div>#}

    <div class="border-box " style="
         position: absolute; top: 0; left: 0; height: 750px; width: 1265px;
         background-image: url('{% static 'img/plot-template-122516.png' %}');
         background-size: 1265px 750px;">

        <!-- Editor -->
        <div id='edit_bucket' style="background-color: rgba(255, 255, 255, .9); z-index: 499;
             position: absolute; left: 5px; top: 5px; width: 1260px; height: 735px;
             display: none;">

            <div id="component_hints" style="
                 position: absolute; left: 5px; top: 355px; height: 380px; width: 340px;
                 border: 1px solid rgb(65,45,120); background-color: lightyellow;">
            </div>

            <div class="jos_flex_container" style="flex-direction: row; align-items: flex-end;
                 position: absolute; top: 300px; left: 360px; width: 875px;">

                <div id="cntrl_editor_title" style="font-size: 28pt; font-weight: bold;
                     padding: 0 8px; background-color: white;">
                    Test
                </div>

                <button id="cancel_btn_central" class="j_button_small j_discard_button" style="
                        margin-left: auto;" onclick="cntrlCKDestroy();"
                        data-toggle="tooltip" data-placement="bottom"
                        title="Loads last save, discarding changes">
                    <i class="fa fa-trash fa-fw"></i>
                    DISCARD CHANGES
                </button>

                <button id="save_btn_central" class="j_button_small j_save_button" style="
                        margin-left: 10px;"
                        onclick="cntrlCKEditSave('plot', '/joscourses/wheel_update/?id='
                           + '{{ wheel.id }}');"
                        data-toggle="tooltip" data-placement="bottom" title="Replaces content">
                    <i class="fa fa-arrow-circle-up fa-fw"></i>
                    UPDATE INPUT
                </button>
            </div>
        </div>
            <div id="cntrl_editor_container" style="
                 position: absolute; top: 355px; left: 360px; width: 875px; height: 380px;
                 background-color: lightblue;">
            </div>



        <div class="template_row" style="height: 17%; margin-top: 1%;
             justify-content: flex-end;">

            <!-- Climax -->
            <div class="template_component" style="width: 71%; margin-right: 1%;">
                <div>
                    <button id="climax_edit_btn" class="j_button_small j_info_button"
                            onclick="cntrlCKEditStart('climax');">
                        Edit
                    </button>

                    <span class="component_label">Climax</span>
                </div>

                <div id='original_content_climax' class='edit_box'>
                    {{ plot_template.climax }}
                </div>
            </div>

        </div>

        <div class="template_row" style="height: 52%; ; margin-top: 1%; justify-content: flex-end;">

            <!-- Rising -->
            <div class="template_component" style="width: 39%; margin-right: 25px;">
                <div>
                    <button id="rising_edit_btn" class="j_button_small j_info_button"
                            onclick="cntrlCKEditStart('rising');">
                        Edit
                    </button>

                    <span class="component_label">Rising action</span>
                </div>

                <div id='original_content_rising' class='edit_box'>
                    {{ plot_template.rising }}
                </div>
            </div>

            <!-- Falling -->
            <div class="template_component" style="width: 29%;  margin-right: 2%; align-items: flex-end">
                <div>
                    <span class="component_label">Falling action</span>

                    <button id="falling_edit_btn" class="j_button_small j_info_button"
                            onclick="cntrlCKEditStart('falling');">
                        Edit
                    </button>
                </div>

                <div id='original_content_falling' class='edit_box'>
                    {{ plot_template.falling }}
                </div>
            </div>

        </div>

        <div class="template_row" style="
             display: flex; justify-content: space-between; height: 23%; ; margin-top: 1%;">

            <!-- Incite -->
            <div class="template_component" style="width: 49%; margin-left: 1%;">
                <div>
                    <button id="incite_edit_btn" class="j_button_small j_info_button"
                            onclick="cntrlCKEditStart('incite');">
                        Edit
                    </button>

                    <span class="component_label">Inciting incident</span>
                </div>

                <div id='original_content_incite' class='edit_box'>
                    {{ plot_template.incite }}
                </div>

            </div>

            <!-- Resolve -->
            <div class="template_component" style="width: 47%; margin-right: 2%; align-items: flex-end">
                <div>
                    <span class="component_label">Resolution</span>

                    <button id="resolve_edit_btn" class="j_button_small j_info_button"
                            onclick="cntrlCKEditStart('resolve');">
                        Edit
                    </button>
                </div>

                <div id='original_content_resolve' class='edit_box'>
                    {{ plot_template.resolve }}
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.6.0/standard-all/ckeditor.js"></script>
<script src="{% static "js/jos-editor-include.js" %}"></script>
<script src="{% static "js/central-editor-include.js" %}"></script>

<script>

        $('.edit_btn_central').show();
        $('.component_label').show();

</script>

</body>