{% extends "base.html" %}
{% load static %}
{% block meta_title %}{% endblock %}
{% block title %}{% endblock %}

{% block base-fixed-top-bar %}{% endblock base-fixed-top-bar %}

{% block all_content %}

<style>

    body {
        padding: 0;
    }

    #main_container {
        padding: 0;
    }

</style>

<!-- Page title -->

<div id="fixed_background" style="position: fixed; top: 1px; left: 30px;  z-index: -1;">

    <div class="storywheel_template_title" style=" ">

        <button class="btn btn-warning text-center"
                style="font-size: 16pt; width: 70px; margin: -8px 15px 0 0; height: 47px;"
                onclick=" window.history.back();">
            Back
        </button>
        {{ wheel.title }} - World

    </div>

    <img id='background_image' src="{% static 'img/JOSLogo121615.png' %}" style="margin-top: 20px;">

</div>

<div id="fixed-top-bar" style="position: fixed; top: 50px; height: 800px; width: 1090px; left: 41px;">


    {% if wheel.author == request.user %}

        <a id="edit_mode_button" class="btn btn-info"
           style="
        position: absolute; top: 60px; left: 940px;
        font-size: 22pt; width: 150px; height: 55px;
        z-index: 225;"
           href="{% if edit %}
                    {% url "joscourses:sw_world" wheel.id %}
                 {% else %}
                    {% url "joscourses:sw_world_edit" wheel.id %}
                 {% endif %}">
            {% if edit %}Hide{% else %}Edit{% endif %}
        </a><br>

    {% endif %}

</div>

{% endblock all_content %}
