{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block meta_title %}
    {{ user.JOSProfile.jos_name }} Calendar
{% endblock %}
{% block title %}
    {{ user.JOSProfile.jos_name }} Calendar
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    <div class="col-xs-5 breadcrumbtitle">
        {{ user.get_short_name }}'s Calendar
    </div></div>

{% endblock %}

{% block all_content %}

    <style>

        .joslargelinkbutton {
            font-size: 18pt;
            margin-left: 20px;
            padding: 8px;
            width: 165px;
        }

    </style >

    <div class="row" style="margin-left: 0; margin-bottom: 40px; margin-top: 40px;">

        <div class="col-xs-12" style="padding: 0;">

            {% if user.is_authenticated %}
                <a class="joslargelinkbutton"
                   style=" "
                   href="{% url 'josmessages:messages_inbox' %} ">
                    Create a Calendar
                </a>

                <a class="joslargelinkbutton"
                   style=" "
                   href="{% url 'josmessages:messages_outbox' %} ">
                    Your Calendars
                </a>
            {% endif %}

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'josmessages:messages_trash' %} ">
                All Calendars
            </a><br><br>

            <span class="josinstructions" style="margin-left: 15px;">For a new message, use:</span>
            <a style="margin-left: 15px; margin-right: 160px" href="{% url "josmembers:josmembers_list" %}">
                Community
            </a>

        </div>
    </div>


    {% block cal_content %}

        NO CAL_CONTENT

    {% endblock cal_content %}

{% endblock all_content %}