{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block meta_title %}
    {{ user.JOSProfile.jos_name }} Mailbox
{% endblock %}
{% block title %}
    {{ user.JOSProfile.jos_name }} Mailbox
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    Currently at:
    &nbsp&nbsp
    <span style="color: black; font-weight: bold;">
        {{ user.get_short_name }}'s Mailbox
    </span>
{% endblock %}

{% block all_content %}

    <style>

        .joslargelinkbutton {
            font-size: 18pt;
            margin-left: 20px;
            padding: 8px;
            width: 165px;
        }

        table {
            background-color: transparent;
            font-family: "Open Sans", sans-serif;
            font-size: 16pt;
            width: 100%;
        }

        th, td {
            width: 20%;
            padding-left: 30px;
        }

        td {
            font-weight: normal;
        }

        tr {
            height: 55px;
        }

        tr:nth-child(even) {
            background-color: rgba(65, 45, 120, .1);
        }

    </style>

    <div class="row" style="margin-left: 0; margin-bottom: 40px; margin-top: 40px;">

        <div class="col-xs-12" style="padding: 0;">

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'messages_inbox' %} ">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-inbox fa-fw" style=" "></i>
                    My inbox
                </span>
            </a>

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'messages_outbox' %} ">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-paper-plane fa-fw" style=" "></i>
                    Sent
                </span>
            </a>

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'messages_trash' %} ">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-trash fa-fw" style=" "></i>
                    Deleted
                </span>
            </a><br><br>

            <span class="josinstructions" style="margin-left: 15px;">For a new message, use:</span>
            <a style="margin-left: 15px; margin-right: 160px" href="{% url "josmembers_list" %}">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-heart fa-fw" style=" "></i>
                    Friends
                </span>
            </a>

        </div>
    </div>

{% endblock %}

