{% extends "django_messages/base.html" %}
{% load i18n %}

{% block all_content %}

    {{ block.super }}
    <h1>Compose Message</h1>
    <form action="{% url 'messages_compose' %}" method="post">

        <table>
            {% csrf_token %}

            <div style="margin-left: 60px;">
                To:<br>
                {{ form.subject }}<br><br>
                Subject:<br>
                {{ form.subject }}<br><br>
                Message:<br>
                {{ form.body }}<br><br>
            </div>
            <input class="btn btn-default"
                   style="background-color: #5cb85c;
                           border: none; color: white;
                           outline: none; width: 150px;"
                   type="submit" value="Send">
        </table>

    </form>

{% endblock %}