{% extends "django_messages/base.html" %}
{% load i18n %}

{% block all_content %}

    {{ block.super }}

    <h1>{% trans "Compose Message" %}</h1>
    <form action="" method="post">
        {% csrf_token %}

        <div style="margin-left: 60px;">
            To:<br>
            {{ form.recipient }}<br><br>
            Subject:<br>
            {{ form.subject }}<br><br>
            Message:<br>
            {{ form.body }}<br><br>
        </div>

        <input class="btn btn-default"
               style="width: 150px;"
               type="submit" value="Send">
    </form>

{% endblock %}