{% extends "django_messages/base.html" %}
{% load i18n %}

{% block all_content %}

    <div class="josinstructions" style="margin-top: 30px;">Send message:</div>
    <form action="" method="post">
        {% csrf_token %}

        <div style="margin-left: 60px;">

            <input id="id_recipient" type="hidden" value="{{ recipient }}" name="recipient">

            Subject:<br>
            {{ form.subject }}<br><br>
            Message:<br>
            {{ form.body }}<br><br>
        </div>

        <button class="btn btn-default"
                style="background-color: #f0ad4e; border: none; color: white; outline: none; width: 100px;"
                onclick="goBack()">Go back
        </button>

        <script>function goBack() {
            window.history.back();
        }</script>

        <input class="btn btn-default"
               style="width: 150px;"
               type="submit" value="Send">
    </form>

{% endblock %}