{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block meta_title %}
    {{ user.JOSProfile.jos_name }} Mailbox
{% endblock %}
{% block title %}
    {{ user.JOSProfile.jos_name }} Mailbox
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    Currently at:
    &nbsp&nbsp
    <span style="color: black; font-weight: bold;">
        {{ user.get_short_name }}'s Mailbox
    </span>
{% endblock %}

{% block all_content %}

    <style>

        table {
            font-family: "Open Sans", sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #ddd;
            text-align: left;
            padding: 12px;
        }

        th {
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: rgba(65, 45, 120, .2);
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #4CAF50;
            color: white;
        }

    </style>

    <div class="row" style="margin-left: 0; margin-bottom: 40px; margin-top: 40px;">

        <div class="col-xs-12" style="padding: 0;">

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'messages_inbox' %} ">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-inbox fa-fw" style=" "></i>
                    My inbox
                </span>
            </a>

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'messages_outbox' %} ">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-paper-plane fa-fw" style=" "></i>
                    Sent
                </span>
            </a>

            <a class="joslargelinkbutton"
               style=" "
               href="{% url 'messages_trash' %} ">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-trash fa-fw" style=" "></i>
                    Deleted
                </span>
            </a>

            <span class="josinstructions" style="margin-left: 30px;">To send a new message, use:</span>
            <a style="margin-left: 15px; margin-right: 160px" href="{% url "josmembers_list" %}">
                <span style="margin-left: 5px; margin-right: 5px;">
                    <i class="fa fa-heart fa-fw" style=" "></i>
                    Friends
                </span>
            </a>

        </div>
    </div>

{% endblock %}

