{% extends "django_messages/base.html" %}
{% load i18n %}
{% load url from future %}

{% block all_content %}

    {{ block.super }}

    <div class="josinstructions">
        Reading Message:<br>
    </div>
    <strong>
        &nbsp&nbsp&nbsp&nbspFrom:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        {{ message.sender }}
    </strong><br>
    &nbsp&nbsp&nbsp&nbspReceived:&nbsp&nbsp&nbsp
    {{ message.sent_at|date:_("DATETIME_FORMAT") }}<br>
    &nbsp&nbsp&nbsp&nbspSubject:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    {{ message.subject }}<br><br>
    &nbsp&nbsp&nbsp&nbspMessage:<br><br>
    <div class="josinstructions" style="display: block; margin-left: 80px;">
        {{ message.body|linebreaksbr }}
    </div><br>
    <a class="btn btn-default"
       style="background-color: #5bc0de; border: none; color: white; outline: none; width: 100px;"
       href="{% url 'messages_inbox' %}">
        Done
    </a>
    <a class="btn btn-default"
       style="background-color: #d9534f; border: none; color: white; outline: none; width: 100px;"
       href="{% url 'messages_delete' message.id %}">
        Delete
    </a>
    {% comment %}Example reply_form integration{% endcomment %}
    {% if reply_form %}
        <span class="josinstructions">
            &nbsp&nbsp&nbspor compose reply:
        </span><br><br>

        <form action="{% url 'messages_reply' message.id %}" method="post">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <input class="btn btn-default"
                   style="background-color: #5cb85c; border: none; color: white; outline: none; width: 150px;"
                   type="submit" value="Send reply">
        </form>
    {% endif %}

{% endblock all_content %}