{% extends "django_messages/base.html" %}
{% load i18n %}
{% load url from future %}

{% block all_content %}

    <style xmlns="http://www.w3.org/1999/html">

        table {
            background-color: transparent;
            font-family: "Open Sans", sans-serif;
            font-size: 16pt;
            margin-left: 60px;
            width: 40%;
        }

        th, td {
            width: auto;
            padding-left: 0;
        }

        tr {
            height: auto;
        }

        tr:nth-child(even) {
            background-color: transparent;
        }

    </style>

    <br><br>--- BEGIN MESSAGE ---<br><br>

    <table>
        <tr>
            <td>
                From:
            </td>
            <td>
                {{ message.sender.JOSProfile.jos_name }}
            </td>
        </tr>
        <tr>
            <td>
                Received:
            </td>
            <td>
                {{ message.sent_at|date:_("DATETIME_FORMAT") }}
            </td>
        </tr>
        <tr>
            <td>
                Subject:
            </td>
            <td>
                {{ message.subject }}
            </td>
        </tr>
        <tr>
            <td>
                Message:<br><br>
            <td>
        </tr>
    </table>
    <div style="margin-left: 195px;">
        {{ message.body|linebreaksbr }}<br><br>
    </div>
    --- END MESSAGE ---<br><br>

    {% if reply_form %}

        <a class="btn btn-default"
           style="width: 100px;"
           href="{% url 'messages_compose' %}{{ message.sender.id }}">
            Reply
        </a>

    {% endif %}


    <a class="btn btn-default"
       style="background-color: #f0ad4e; border: none; color: white; outline: none; width: 100px; margin-left: 15px;"
       href="{% url 'messages_inbox' %}">
        Go back
    </a>

    <a class="btn btn-default"
       style="background-color: #d9534f; border: none; color: white; outline: none; width: 100px; margin-left: 15px;"
       href="{% url 'messages_delete' message.id %}">
        Delete
    </a>


{% endblock all_content %}


