
body {
    color: rgb(65, 45, 120);
    font-family: 'source sans pro', sans-serif;
    font-size: 16pt;
    line-height: normal;
    padding-top: 140px;
}

a, a:visited {
    background-color: white;
    color: rgb(112, 154, 109);
    font-weight: bold;
    outline: 2px dotted rgb(112, 154, 109);
    padding: 3px;
}

a:hover {
    color: #f0ad4e;
    text-decoration: none;
}

.joslargelinkbutton {
    font-size: 18pt;
    margin-left: 20px;
    padding: 8px;
    width: 165px;
}

.messages {
    background-color: lightgreen;
    font-size: 18pt;
    font-weight: bold;
}

.joscursive {
    font-family: 'Stalemate', cursive;
    font-size: 32pt;
}

.josinstructions {
    font-size: 22pt;
    line-height: 165%;
}

.josinstructions ul {
    margin-left: 4%;
}

.josinstructions li {
    margin-top: 15px;
}

.homehead {
    font-family: "Abril Fatface", Serif;
    font-size: 36pt;
}

.form-actions {
    background-color: white;
    border-radius: 0;
    border-top: 2px solid rgba(65, 25, 140, 0.85);
    margin-bottom: 15px;
    margin-top: 30px;
    padding: 20px;
}

.side-panel {
    padding-left: 15px;
    padding-right: 0;
    padding-top: 15px;
}

.navbar-default {
    background-image: none;
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    border-color: black;
}

table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(65, 45, 120, .2);
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: white;
    border-top: none;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 0;
}

.btn-default, .btn-default:visited {
    background-color: rgb(231, 209, 222);
    background-image: none;
    background-repeat: no-repeat;
    border-color: rgb(65, 25, 140);
    box-shadow: none;
    color: rgb(65, 25, 140);
    font-size: 14pt;
    outline: none;
    text-decoration: none;
    text-shadow: none;

}



