
.ot-textchat {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    overflow: hidden;
    position: static;
}

.ot-textchat * {
    margin: 0;
    padding: 0;
}

.ot-textchat .ot-bubbles {
    position: relative;
    padding: 10px;
    height: 200px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* By default, normal bubbles are bubbles from the other participants and special case is local. */
.ot-textchat .ot-bubble {
    padding: 7px;
    border-bottom: 1px dashed rgb(65, 45, 120);
    background-color: white;
    width: 80%;
    white-space: nowrap;
}

.ot-textchat .ot-bubble.mine > div {
    color: red;
}

.ot-textchat .ot-message-sender {
    color: green;
    font-size: 12pt;
    margin-right: 10px;
}

.ot-textchat .ot-message-content {
    font-size: 16pt;
}

.ot-textchat .ot-input {
    position: relative;
    margin: 0 1em;
}

.ot-textchat .ot-composer {
    padding: .5em;
    height: 3em;
    width: 85%;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
    font-size: 16pt;
    line-height: normal;
    outline: none;
    overflow: auto;
}

.ot-textchat .ot-error-zone,
.ot-textchat .ot-new-messages {
    padding: 1em;
    position: absolute;
    left: 0;
    right: 0;
    height: 2em;
    background-color: #F8F8F8;
    transform: translateY(-100%);
    text-align: center;
}

.ot-textchat .ot-error-zone {
    color: #EE2E08;
}

.ot-textchat .ot-new-messages {
    color: #888;
}

.ot-textchat .ot-bottom-line {
    overflow: auto;
}

/* Triangles:

.ot-textchat .ot-bubble:before,
.ot-textchat .ot-bubble:after,
.ot-textchat .ot-bubble > div {
    display: inline-block;
    vertical-align: middle;
}

.ot-textchat .ot-bubble > div {
    width: calc(100% - 1.2em - 2em);
    position: relative;
    left: -0.8em;
    padding: 1em 2em 1em 1.2em;
    white-space: normal;
}

.ot-textchat .ot-bubble:before {
    content: "";
    border: 0.6em solid transparent;
    border-left: none;
    border-right-width: 0.8em;
    border-right-color: #F8F8F8;
    position: relative;
    left: -0.7em;
}

.ot-textchat .ot-bubble.mine:before {
    border-color: transparent;
}

.ot-textchat .ot-bubble.mine:after {
    content: "";
    border: 0.6em solid transparent;
    border-right: none;
    border-left-width: 0.8em;
    border-left-color: #EEE;
    position: relative;
    right: 0.8em;
}
*/

