{% load i18n mezzanine_tags accounts_tags %}

{% if request.user.is_authenticated %}

    <div class="row" style=" ">
        <div class="col-xs-12 text-right" style="padding-right: 0;">

            <a href="/contact" class="btn btn-default">{% trans "Contact Us" %}</a>

            <a class="btn btn-default"
               style="width: 122px;"
               href="{% url "logout" %}?next={{ request.path }}">
                {% trans "Log Out " %}
            </a>

        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-xs-12 text-right" style="padding-right: 0;">

            <span style="color: green; font-size: 30pt; font-weight: bold; margin-right: 5px;">
                {{ user.JOSProfile.jos_name }}
            </span>

            <a style="font-size: 10pt; margin-bottom: 5px; margin-right: 2px;"
               href="{% url "personaldesk" %}/{{ request.user.id }}">
                My desk
            </a>

        </div>
    </div>

{% else %}

    <div class="row" style="background-color: transparent;">
        <div class="col-xs-12  text-right" style="padding-right: 0;">

           <a href="/contact" class="btn btn-default">
                {% trans "Contact Us" %}</a>

           <a href="{% url "login" %}" class="btn btn-default">
                {% trans "Join / Log In" %}</a>

        </div>
    </div>

{% endif %}


