{% load i18n pages_tags inbox %}

<div class="row" style="background-color: rgba(65, 45, 120, .2);
                         border-radius: 0;
                         height: 45px;
                         margin-bottom: 0;
                         margin-top: 10px;">

    <button class="btn btn-warning btn-xs pull-left"
            style="border-radius: 0; height: 45px; font-size: 14pt; width: 80px;"
            onclick="goBack()">
        Go back
    </button>

    <div class="col-xs-4"
         style="background-color: transparent; height: 45px; padding-top: 11px;">

        <a style="margin-left: 0;"
           href="{% url "personaldesk" %}/{{ request.user.id }}">
           <span style="margin: 0 5px;">
               <i class="fa fa-home fa-fw"></i>
                Desk
           </span>
        </a>

        <a style="margin-left: 7px;"
           href="{% url "messages_redirect" %}">
            <span style="margin: 0 5px;">
                <i class="fa fa-envelope fa-fw"></i>
                Mail
            </span>

            {% inbox_count as my_var %}
            {% if my_var >= 1 %}
                <span style="color: white; background-color: red; padding: 0 2px 0 7px; text-align: center;">
                    {{ my_var }}
                </span>
            {% else %}
                <span style="color: white; background-color: white; padding-right: 5px; padding-left: 5px;">
                    &nbsp&nbsp
                </span>
            {% endif %}
        </a>

        <a style="margin-left: 7px;"
           href="{% url "josmembers_list" %}">
            <span style="margin: 0 5px;">
                <i class="fa fa-heart  fa-fw"></i>
                Friends
            </span>
        </a>

    </div>

    <div class="col-xs-6 breadcrumbtitle" style="margin-left: -15px;">

    <script>function goBack() {
        window.history.back();
    }</script>