{% load i18n pages_tags inbox %}


<style>

    .breadcrumbtitle {
        color: black;
        font-size: 24pt;
        font-weight: bold;
        line-height: normal;
    }

    #breadcrumb-bar .joslargelinkbutton {
        margin-left: 10px;
        width: 110px;
    }

</style>
<div id="breadcrumb-bar" class="row" style= "background-color: rgba(65, 45, 120, .2);
                         border-radius: 0;
                         height: 47px;
                         width: 1170px;
                         margin: 0;
                         padding: 0">

        <button class="btn btn-warning pull-left"
                style="width: 70px; height: 47px; text-align: center"
                onclick="goBack()">
            Back
        </button>

        <script>function goBack() {
            window.history.back();
        }</script>

        <a class="joslargelinkbutton pull-left"
           href="{% url "personaldesk" %}/{{ request.user.id }}">
               <i class="fa fa-home fa-fw"></i>
                Desk
        </a>

        <a class="joslargelinkbutton pull-left" style="padding: 0; width: 135px;"
           href="{% url "josmessages:messages_redirect" %}">
            <div class="pull-left" style="margin: 8px 15px;">
                <i class="fa fa-envelope fa-fw"></i>
                Mail
            </div>
            {% inbox_count as my_var %}
            {% if my_var >= 1 %}
                <div class="pull-right" style="color: white; background-color: red; height: 47px; padding: 8px 5px; text-align: center;">
                    {{ my_var }}
                </div>
            {% else %}
                <div class="pull-right" style="color: rgb(112, 154, 109); height: 47px; background-color: rgb(112, 154, 109); padding: 8px 5px;">
                    &nbsp&nbsp
                </div>
            {% endif %}

        </a>

        <a class="joslargelinkbutton pull-left"
           href="{% url "josmembers:josmembers_list" %}">
            <span style="margin: 0 4px;">
                <i class="fa fa-heart  fa-fw"></i>
                Buds
            </span>
        </a>

        <div class="breadcrumbtitle" style="margin: 0; padding-left: 500px; padding-top: 5px;">


        <!-- closing divs on pages -->