{% load i18n pages_tags inbox %}

<div class="row" style="background-color: rgba(65, 45, 120, .2);
                         border-radius: 0;
                         height: 45px;
                         margin-bottom: 0;
                         margin-top: 10px;">

    <button class="btn btn-warning btn-xs pull-left"
            style="border-radius: 0; height: 45px; font-size: 16pt; width: 100px;"
            onclick="goBack()">
        Go back
    </button>

    <div class="col-xs-4" style="background-color: white; height: 45px; padding-top: 11px; padding-right: -40px;">

        <a style="margin-left: 12px;" href="{% url "personaldesk" %}/{{ request.user.id }}">
           <span style="margin: 0 4px;">
               <i class="fa fa-home"></i>
                Desk
           </span>
        </a>

        <a style="margin-left: 8px;" href="{% url "messages_redirect" %}">
            <span style="margin: 0 4px;">
                <i class="fa fa-envelope"></i>
                Mail
            </span>

            {% inbox_count as my_var %}
            {% if my_var > 0 %}
                <span style="color: white; background-color: red; padding-right: 6px; padding-left: 6px;">
                    {{ my_var }}
                </span>
            {% endif %}
        </a>

        <a style="margin-left: 8px;" href="{% url "josmembers_list" %}">
            <span style="margin: 0 4px;">
                <i class="fa fa-heart"></i>
                Friends
            </span>
        </a>

    </div>

    <div class="col-xs-6 breadcrumbtitle"">


    <script>function goBack() {
        window.history.back();
    }</script>