{% load i18n pages_tags %}

<style>

    #custom-bootstrap-menu.navbar-default {
        background-image: none;
        background-repeat: no-repeat;
        border: none;
        border-width: 0px;
        border-radius: 0px;
        box-shadow: none;
        font-size: 12px;
        background-color: rgba(65, 45, 120, 1);

    }

    #custom-bootstrap-menu > .navbar-nav > li > a {
        color: white;
        text-decoration: none;
        text-shadow: none;
        padding-bottom: 0;
        padding-top: 10px;
        outline: none;
    }

    #custom-bootstrap-menu > .navbar-nav > li > a:hover,
    #custom-bootstrap-menu > .navbar-nav > li > a:focus,
    #custom-bootstrap-menu > .navbar-nav > .active > a {
        background-image: none;
        background-repeat: no-repeat;
        box-shadow: none;
        background-color: white;
        color: rgb(65, 45, 140);
    }

</style>

{% spaceless %}

{% if page_branch_in_menu %}

    {% for page in page_branch %}

        {% if page.is_primary %}
            {% if forloop.first %}
                <div id="custom-bootstrap-menu" class="navbar-default" style="margin-bottom: 0; height:35px; padding-right: 15px;" role="footer">
            {% endif %}

            {% if page.in_menu %}
                <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
            {% endif %}

        {% endif %}

        {% if page.in_menu %}

            {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
                <ul class="nav navbar-nav navbar-right">
            {% endif %}

                    <li {% if page.is_current_or_ascendant %}
                            class="active"
                        {% endif %}
                        id="footer-menu-{{ page.html_id }}">

                        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    </li>

        {% endif %}

        {% if page.in_menu and page.has_children_in_menu %}
            {% page_menu page %}
        {% endif %}

        {% if page.in_menu %}
            {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
                </li>
                </ul>

            {% endif %}
        {% endif %}

        {% if page.is_primary %}

            {% if page.in_menu %}
                </ul>
            {% endif %}

            {% if forloop.last %}
                </div>
            {% endif %}

        {% endif %}

    {% endfor %}

{% endif %}
{% endspaceless %}
