{% extends "base.html" %}

{% load i18n jospybb_tags %}

{% block extra_head %}

    {{ block.super }}
    <!-- Feeds -->
    <link rel="alternate"
          type="application/atom+xml"
          href="{% url 'jospybb:feed_posts' %}"
          title="{% trans "Latest posts on forum" %}" >

    <link rel="alternate"
          type="application/atom+xml"
          href="{% url 'jospybb:feed_topics' %}"
          title="{% trans "Latest topics on forum" %}" >
{% endblock %}


{% block all_content %}

    {% block content %}

    {% endblock content %}

{% endblock all_content %}

