{% load i18n pybb_tags staticfiles %}
<form class="post-form" action="
    {% if forum %}
        {% url 'jospybb:add_topic' forum.pk %}
    {% else %}
        {% if topic %}
            {% url 'jospybb:add_post' topic.pk %}
        {% else %}
            {% url 'jospybb:edit_post' pk=object.pk %}
        {% endif %}
    {% endif %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    {% include  "jospybb/form_errors.html" %}
    {% if form.name %} {% include  "jospybb/form_field.html" with field=form.name %} {% endif %}
    {% if form.slug %} {% include  "jospybb/form_field.html" with field=form.slug %} {% endif %}
    {% if form.login %} {% include  "jospybb/form_field.html" with field=form.login %}  {% endif %}
    {% if form.body %} {% include  "jospybb/form_field.html" with field=form.body %}  {% endif %}
    <div id='emoticons'>
    {% for smile, url in form.available_smiles.items %}
        {% with form.smiles_prefix|add:url as static_smiley %}
            <a href='#' title='{{ smile|safe }}'><img src='{% static static_smiley %}'></a>
        {% endwith %}
    {% endfor %}
    </div>

    {% if request.user|pybb_may_create_poll and form.poll_type %}
      {% include  "jospybb/poll_edit_form.html" %}
    {% endif %}
    {% include  "jospybb/attachments_formset.html" %}
    <p class="submit">{% include  "jospybb/_button_submit.html" %}</p>
  </fieldset>
</form>
