<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>

    <meta content="text/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORD PROCESSOR | JoinOurStory</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

    <style>

        .tooltip-inner {
            background: lightyellow;
            border: solid 2px rgb(65, 45, 120);
            color: rgb(65, 45, 120);
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16pt;
            padding: 5px;
        }

    </style >

</head>

<body style="padding-top: 10px;">

<div class="container" style="background-color: aliceblue;
                              border: 3px dashed #28a4c9;
                              margin: 15px;
                              width: 960px;">
    <div class="row text-center"
         style="font-size: 18pt;
         line-height: 1.7;
         margin: 15px;">
        <b>Join Our Story Editor</b><br>
        <span style="font-size: 14pt;">
            Note: drag the small bottom right triangle to change editor height.
        </span><br>
    </div>
    <div class="row" style="font-size: 18pt; line-height: 1.6;">
        <div class="col-xs-1">
            Title:<br>
            Author:<br>
            Editing:<br>
        </div>

        <div class="col-xs-10" style="color: green; margin-left: 10px;">
            {{ form.title.value | title | striptags }}<br>
            {{ user.JOSProfile.jos_name }}<br>
            {{ form.field_to_edit.value | title }}<br><br>
        </div>

    </div>

    <form id='ckrichtextedit_form'
          method="post"
          {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>

        {% csrf_token %}

        <div class="row">

            <div class="col-xs-12">

                {{ form.media }}

                {{ form.content }}

            </div>
        </div>

        <!-- BUTTONS -->

            <button class="btn btn-success btn-lg pull-right"
                    style="margin: 20px 10px;"
                    type="submit"
                    data-toggle="tooltip"
                    title="This will replace previous text.">
                  Save changes
            </button>

        </form>

        <button class="btn btn-danger btn-lg pull-right"
              style="margin: 20px 10px;"
              onclick="goReferrer()"
              data-toggle="tooltip"
              title="This will NOT save changes. It will restore previous text.">
                Discard changes
        </button>

    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function goReferrer() {
        window.location.href = document.referrer;
        }

    </script>



</div>
</body>
</html>

