<style>

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    li.active .jos_tab_active {
        background-color: rgb(255, 255, 224) !important;
        border: 3px solid rgb(112, 154, 109) !important;
        border-bottom-color: rgb(255, 255, 224) !important;
        color: rgb(112, 154, 109) !important;
        font-weight: bold;
        top: 3px !important;
    }

    .tab-pane {
        left: 50px;
        margin-top: 20px;
        padding: 20px;
        position: fixed;
        top: 50px;
        height: 465px;
        width: 1280px;
        z-index: 165;
    }

    #help_nav_tabs .j_relocate_button, #help_nav_tabs .j_relocate_button:visited {
        margin-left: 15px;
        position: relative;
        top: 5px;
        width: 175px;
        border-radius: 0;
    }

    #help_nav_tabs .j_relocate_button:hover {
        background-color: rgb(255, 255, 224) !important;
    }

</style>

<!-- DEBUG
<div style="background-color: aliceblue; opacity: .7; padding: 15px; line-height: 1.5; color: blue; position: fixed; top: 50px; left: 450px; font-size: 14pt; width: 400px; z-index: 800;">
    DEBUG<br>
    <div class="row">
        <div class="col-xs-6">
            uc_note: <br>
            editor_status:<br>
            active tab: <br>
            help pos: <br>
            help item no: <br>
        </div>
        <div class="col-xs-6" style="color: red;">
            {{ user_created_note }}<br>
            {{ request.session.editor_status }}<br>

            {{ request.session.active_tab }}<br>
            {{ request.session.help_position }}<br>
            {{ request.session.help_item_no }}<br>
        </div>
    </div>
</div> -->

<!-- help button -->
<button id="help_button" class="j_button j_info_button isopen" style="position: fixed;
        top: 0; left: 845px; height: 50px; width: 185px; border-radius: 0; z-index: 401;"
    data-toggle="tooltip" data-placement="bottom"
    title="To do - How do I? - My notes" onclick="session_data_update('help_position');">
    <i class="fa fa-folder fa-fw" style='margin-right: 5px;'></i>
    My folder
</button>

<div id="help_screen" style="background-color: white; display: none;
     position: fixed; top: 0; left: 0; height: 560px; width: 1280px;
     padding: 0; z-index: 150;">

    <div id="help_inner" style="position: fixed; top: 0; left: 50px;
         height: 550px;  width: 1180px; background-color: rgb(255, 255, 224);
         outline: 3px solid rgb(112, 154, 109); z-index: 155;">

        <ul id="help_nav_tabs" class="nav nav-tabs" style="position: fixed; top: 0;
            left: 50px; width: 1180px; padding-top: 25px; background-color: white;
            border-bottom: 3px solid rgb(112, 154, 109); z-index: 160;">

            <li><button id='to_do_btn' class="j_button j_relocate_button"
                        data-toggle="tab" href="#to_do">To do</button></li>

            <li><button id='how_do_i_btn' class="j_button j_relocate_button"
                        data-toggle="tab" href="#how_do_i">How do I?</button></li>

            <li><button id='my_notes_btn' class="j_button j_relocate_button"
                        data-toggle="tab" href="#my_notes">My notes</button></li></ul>
    </div>
</div>

<div class="tab-content">

<div id="to_do" class="tab-pane fade">to_do</div>

<div id="how_do_i" class="tab-pane fade josinstructions">
    <div id="main_help">

        <div style="position: absolute; top: 10px; left: 0; width: 100%; z-index: 170;
        padding: 25px 30px 0 60px; background-color: rgb(255, 255, 224);">
            To search for a term:

            <input id="help_search_text" style="margin-left: 5px; padding: 5px; width: 300px;"
                   type="text" placeholder="start typing here">
            <button class="j_button j_action_button" style="font-size: 14pt; margin-top: -7px;
                    width: 120px;" href="javascript:location.reload();">
                Start over
            </button>
        </div>

        <div id="help_search_results" class="row text-left" style="height: 340px; width: 65%;
             margin: 85px 0 0 45px; padding: 10px 20px;
             outline: 2px solid rgb(65,45,120); overflow-x: hidden; overflow-y: scroll;">

            {% if help_search_text %}
                <div class="josinstructions" style=" margin-top: 0; color: #5bc0de;">
                    Searching for "{{ help_search_text }}" - Found {{ help_items.count }} items:<br>
                </div>
            {% endif %}

            {% for help in help_items %}
                <ul style="list-style: none;"><li style="margin-top: 20px;">
                    <button class="j_button j_relocate_button"
                            onclick="showHelpItem('{{ help.id }}');">{{ help.title }}
                    </button></li></ul>
            {% endfor %}
        </div>
    </div>

    <button id='help_done_btn' class='j_button j_back_button' style=' position: fixed; top: 100px;
            left: 825px; display: none;' onclick='showHelpItem();'>Done</button>

    <div id='help_item_content' class="row" style="margin-top: 15px; margin-left: 40px;"></div>
</div>

<div id="my_notes" class="tab-pane fade">

    <button id="notes_edit_btn"
       class="j_button j_action_button"
       style="position: fixed; top: 105px; left: 1005px;"
       onclick="josCKEdit('notes'); session_data_update('editor_status');"
       data-toggle="tooltip"
       data-placement="right"
       title="Activates editor"
       >
        <i class="fa fa-scissors"></i>
        Edit notes
    </button>

    <button id="notes_cancel_btn"
       class="j_button j_discard_button"
       style="width: 125px; position: fixed; top: 165px; left: 1005px; display: none;"
       onclick="josCKDestroy('notes'); session_data_update('editor_status');"
       data-toggle="tooltip"
       data-placement="bottom"
       title="Warning: does not save changes!"
    >
        Discard
    </button>

    <div style="position: relative; top: 15px; width: 920px; height: 415px; left: 0;">

        <!-- This div holds editor. -->
        <div id="notes_editor_container" style="width: 920px;"></div>


        <!-- This div displays contents. -->
        <div id="notes_original_content" class="edit_border"
             style="padding: 20px; width: 920px; height: 415px; overflow-x: hidden; overflow-y: scroll;">
            {{ user_created_note | safe }}
        </div>
    </div>

</div>

</div>

<!-- Drawer javascript -->
<script>

// Init, Deployment and Status Tracking
{
    $(document).ready(function () {

        // editors params: section, toolbar, url and original content
        initJOSEditor('notes', 'small', 'help_update', "{{ user_created_note | escapejs }}");
        $('[data-toggle="tooltip"]').tooltip();

        // The Ajax help search function; attaches a listener
        var MILLS_TO_IGNORE_SEARCH = 100;
        $('#help_search_text').keyup(_.debounce(processSearch, MILLS_TO_IGNORE_SEARCH, true));

        hb = document.getElementById('help_button');
        if ('{{ request.session.help_position }}' === 'down') {

            $(hb).html("<i class='fa fa-folder-open fa-fw' style='margin-right: 5px;'></i>Close folder").removeClass("isopen").addClass("isclosed").attr("data-original-title", "Saves changes");
            $("#fixed-top-bar").addClass('moveDown');
            $("#fixed_background").addClass('moveDown');
            $("#main_container").addClass('moveDown');
            $("#help_screen").slideDown("slow");

            active_tab = '#{{ request.session.active_tab }}';
            $(active_tab).tab('show');

            showHelpItem('{{ request.session.help_item_no }}');

            if ('{{ request.session.editor_status }}' === 'active') {
                josCKEdit('notes');
            }

        } else {
            $(hb).html("<i class='fa fa-folder fa-fw' style='margin-right: 5px;'></i>My folder").removeClass("isclosed").addClass("isopen").attr("data-original-title", "To do - How do I? - My notes");
            $("#fixed-top-bar").removeClass('moveDown');
            $("#fixed_background").removeClass('moveDown');
            $("#main_container").removeClass('moveDown');
            $("#help_screen").slideUp("slow");
        }
    });

    function session_data_update(element) {
        console.log('updating: ' + element);
        var data = {};

        if (Number.isInteger(parseInt(element))) {
            data = {"help_item_no": element};
        } else {
            switch (element) {
                case 'help_position':
                    var hlpBtn = document.getElementById('help_button');
                    var help_pos = 'up';
                    if ($(hlpBtn).hasClass("isopen")) {
                        help_pos = 'down';
                    }
                    data = {"help_position": help_pos};
                    break;

                case 'active_tab':
                        console.log('active tab');
                    var active_tab = $('.jos_tab_active').attr('id');
                    data = {"active_tab": active_tab};
                    break;

                case 'none':
                    data = {"help_item_no": 'none'};
                    break;

                case 'editor_status':
                    var status = 'inactive';
                    if (editors['notes'].section_editor) {
                        status = 'active'
                    }
                    data = {"editor_status": status};
                    break;
                default:
                    data = {};
                    break;
            }
        }

        // console.log('session_data_update; data: ' + JSON.stringify(data));

        if (data !== {}) {
            $.ajax({
                type: "POST",
                url: '/help_update/',
                data: data,
                success: function () {
                    if (element === 'help_position' && '{{ request.session.help_position }}' !== help_pos) {
                        location.reload();
                    }
                }
            });
        }
    }

    $('.nav-tabs').on({
        'show.bs.tab': function (event) {
            $('button').removeClass('jos_tab_active');
            $(event.target).addClass('jos_tab_active');
            session_data_update('active_tab');
        }
    });

    function showHelpItem(idno) {
        idno = typeof idno !== 'undefined' ? idno : 'none';

        if ($.isNumeric(idno)) {

            $('#main_help').hide();
            $('#help_item_box').show();

            $.ajax({
                type: "GET",
                url: "{% url 'search_help' %}",
                data: {
                    'help_search_text': idno
                },
                dataType: 'html',
                success: function (serverResponse_data) { //  textStatus_ignored, jqXHR_ignored
                    $('#help_item_content').html(serverResponse_data);
                    $('#help_done_btn').show();
                }
            });

        } else {
            $('#main_help').show();
            $('#help_item_box').hide();
            $('#help_done_btn').hide();
            $('#help_item_content').html(' ');
            idno = 'none';
        }

        session_data_update(idno);
    }
}

// HELP SEARCH
{
    /* Before our JavaScript, the urls need to be set. */
    var SUBMIT_URL = "{% url 'search_help' %}";

    /** Executes a search  */
    var processSearch = function () {
        //Get and trim the search text.
        var searchText = $('#help_search_text').val().trim().toLowerCase();
        console.log('searchText: ' + searchText);
        if (searchText.length < 3) {
            //Too short. Ignore the submission, and erase any current results.
            $('#help_search_results').html("<i>Keep typing ...</i>");

        } else {
            console.log("SUBMIT_URL=" + SUBMIT_URL + "; help_search_text=" + searchText);
            // Execute the search.
            var processServerResponse = function (serverResponse_data) { //  textStatus_ignored, jqXHR_ignored

                $('#help_search_results').html(serverResponse_data);
            };

            $.ajax({
                type: "GET",
                url: SUBMIT_URL,
                data: {
                    'help_search_text': searchText
                },
                dataType: 'html',
                success: processServerResponse,
                fail: function () {
                    console.log("Fail");
                }
            });
        }
    };
}

</script>