<style>

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    #help_nav_tabs a, #help_nav_tabs a:visited {
        color: rgb(112, 154, 109);
        border: 3px dotted rgb(112, 154, 109);
        font-size: 18pt;
        font-weight: bold;
        height: 50px;
        margin: 0 0 0 15px;
        padding: 5px 15px;
        outline: none;
        width: 150px !important;
    }

    #help_nav_tabs a:hover, #help_nav_tabs a:focus {
        color: rgb(240, 173, 78);
        border-color: rgb(240, 173, 78);
    }

    .zzz {
        background-color: rgb(255, 255, 224) !important;
        border: 3px solid rgb(65, 45, 120) !important;
        border-bottom-color: rgb(255, 255, 224) !important;
        bottom: -3px !important;
        color: rgb(65, 45, 120) !important;
    }

    #help_nav_tabs li {
        text-align: center;
    }

    .tab-pane li {

    }

    .tab-pane {
        left: 50px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 30px 50px;
        position: fixed;
        top: 50px;
        height: 450px;
        width: 1100px;
        z-index: 110;
    }


</style>

<!-- help button -->
<button id="help_button" class="btn btn-info"
        style="position: fixed; top: -5px; left: 685px; font-size: 18pt; width: 135px; height: 45px; z-index: 110;"
        onclick="session_data_update('help_position');">
    My drawer
</button>

<!-- div style="background-color: white; color: red; position: fixed; top: 590px; left: 30px; font-size: 18pt; width: 1135px; z-index: 110;">
    at: {{ request.session.active_tab }}<br>
    hp: {{ request.session.help_position }}<br>
    hit: {{ request.session.help_item_text }}<br>
</div -->

<!-- help screen -->
<div id="help_screen" class=" "
     style="
         background-color: white;
         display: none;
         height: 560px;
         left: 30px;
         padding: 0;
         position: fixed;
         top: -5px;
         width: 1170px;
         z-index: 104;
     ">

    <div id="help_inner"
         style="
             background-color: rgb(255, 255, 224);
             height: 550px;
             left: 50px;
             outline: 3px solid rgb(65, 45, 120);
             position: fixed;
             top: -5px;
             width: 1100px;
             z-index: 105;
         ">

        <ul id="help_nav_tabs"
            class="nav nav-tabs"
            style="background-color: white; position: relative; top: -5px; padding-top: 15px; left: -3px; width: 1106px; border-bottom: 3px solid rgb(65, 45, 120);">

            <li><a id='to_do_btn' data-toggle="tab" href="#to_do">To do</a></li>

            <li><a id='how_do_i_btn' data-toggle="tab" href="#how_do_i">How do I?</a></li>

            <li><a id='my_notes_btn' data-toggle="tab" href="#my_notes">My notes</a></li>

        </ul>
    </div>
</div>

<div class="tab-content">
<div id="to_do" class="tab-pane fade">
    to_do
</div>

<div id="how_do_i" class="tab-pane fade josinstructions">

    <div id="main_help">
        <div class="row" style=" ">
             To search for a term:

            <input id="help_search_text" style="margin-left: 5px; padding: 5px; width: 350px;"
                   type="text" placeholder="start typing here">
            <a class="btn btn-warning btn-sm"
               style="font-size: 14pt; margin-top: -7px; width: 70px;"
               href="javascript:location.reload();">
                Clear
            </a>
        </div>

        <div id="help_search_results" class="row">

            {% if  help_search_text %}
                <div class="josinstructions" style="color: #5bc0de; margin-top: 15px;">
                    Searching for "{{ help_search_text }}" - Found {{ help_items.count }} items:<br>
                </div>
            {% endif %}
            {% if  help_items.count > 0 %}
                {% for help in help_items %}
                    <ul>
                        <li style="margin-top: 20px;">
                            <a style="padding: 5px 12px;" href="javascript:showHelpItem('{{ help.id }}');">
                                {{ help.title }}
                            </a>
                        </li>
                    </ul>

                {% endfor %}
            {% else %}
                ---
            {% endif %}
        </div>
    </div>

    <div id='help_content' class="row" style="margin-top: 15px; margin-left: 40px;"></div>
</div>

<div id="my_notes" class="tab-pane fade">my_notes
{##}
{#    <div id='border_title'#}
{#         class="{% if edit %}edit_border{% endif %} edit_border_class"#}
{#         style="padding: 3px;">#}
{##}
{#        {% include "josprojects/jos_editor.html" with section='title' %}#}
{##}
{#        <div class="row">#}
{#            <form id='title_form'#}
{#                  method="post"#}
{#                  {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>#}
{##}
{#                <div id='title' class="col-xs-12 homehead text-center">#}
{#                    Test<br>#}
{#                </div>#}
{##}
{#                <input id="title_holder" type="hidden" name='nucontent' value=" ">#}
{#                <input id="field_to_edit_holder" type="hidden" name="field_to_edit" value="title">#}
{##}
{#            </form>#}
{#        </div>#}
{#    </div>#}
</div>
</div>


<!-- help script -->
<script>

// Deployment and Status Tracking
{
    $(document).ready(function () {
        hb = document.getElementById('help_button');
        if ('{{ request.session.help_position }}' === 'down') {
            $(hb).text("Close").removeClass("btn-info").addClass("btn-warning");
            $("#fixed-top-bar").addClass('moveDown');
            $("#main_container").addClass('moveDown');
            $("#help_screen").slideDown("slow");
            var active_tab = '#to_do_btn';
            if ('{{ request.session.active_tab }}' !== '') {
                active_tab = '#{{ request.session.active_tab }}'
            }
            $(active_tab).tab('show');

            showHelpItem('{{ request.session.help_item_text }}');

            if ( '{{ request.session.help_item_text }}' === 'none') {
                $('#main_help').show();
                $('#help_item_box').hide();
            } else {
                $('#main_help').hide();
                $('#help_item_box').show();
            }

        } else {
            $(hb).text("My drawer").removeClass("btn-warning").addClass("btn-info");
            $("#fixed-top-bar").removeClass('moveDown');
            $("#main_container").removeClass('moveDown');
            $("#help_screen").slideUp("slow");
        }
    });

    function session_data_update(element) {
        var data = {};
        var textTest = false;
        if (element === 'help_position') {
            var hlpBtn = document.getElementById('help_button');
            var help_pos = 'up';
            if ($(hlpBtn).hasClass("btn-info")) {
                help_pos = 'down';
            }

            data = {"help_position": help_pos};

        } else if (element === 'active_tab') {
            var active_tab = $('.nav-tabs .zzz').attr('id');
            data = {"active_tab": active_tab};
        } else {
            data = {"help_item_text": element};
            textTest = true;
        }

        $.ajax({
            type: "POST",
            url: '/help_update/',
            data: data,
            success: function () {
                if (element === 'help_position' && '{{ request.session.help_position }}' !== help_pos) {
                    location.reload();
                }
                if (element === 'active_tab' && '{{ request.session.active_tab }}' !== active_tab) {
                    location.reload();
                }
                if (textTest && '{{ request.session.help_item_text }}' !== element) {
                    location.reload();
                }
            }
        });
    }

    $('.nav-tabs').on({
        'shown.bs.tab': function (event) {
            $(event.target).addClass('zzz');
            $(event.relatedTarget).removeClass('zzz');
            session_data_update('active_tab');
        }
    });

    function showHelpItem(id) {

        if ($.isNumeric(id)) {
            var done_button =[
            "<button class='btn btn-warning btn-lg pull-right'",
            "        style='display:block'",
            "        onclick='showHelpItem();'>",
            "    Back",
            "</button>"
                    ].join('\n');

            var config = {
                type: "GET",
                url: "{% url 'search_help' %}",
                data: {
                    'help_search_text': id
                },
                dataType: 'html',
                success: function (serverResponse_data) { //  textStatus_ignored, jqXHR_ignored
                    $('#help_content')
                            .append(done_button)
                            .append(serverResponse_data);
                },
                fail: function () {
                    console.log("Get help content fail")
                }
            };
            $.ajax(config);
        } else {
            id = 'none';
        }

        session_data_update(id);
    }
}

// HELP SEARCH
{
    /* Before our JavaScript, the urls need to be set. */
    var SUBMIT_URL = "{% url 'search_help' %}";

    /** Executes a search  */
    var processSearch = function () {
        //Get and trim the search text.
        var searchText = $('#help_search_text').val().trim().toLowerCase();

        if (searchText.length < 3) {
            //Too short. Ignore the submission, and erase any current results.
            $('#help_search_results').html("<i>Keep typing ...</i>");

        } else {
            console.log("SUBMIT_URL=" + SUBMIT_URL + "; help_search_text=" + searchText);
            // Execute the search.
            var processServerResponse = function (serverResponse_data) { //  textStatus_ignored, jqXHR_ignored

                /* console.log("SUBMIT_URL=" + SUBMIT_URL +
                 "; help_search_text=" + searchText +
                 "; serverResponse_data=" + serverResponse_data +
                 "; textStatus_ignored=" + textStatus_ignored +
                 "; jqXHR_ignored=" + jqXHR_ignored
                 ); */

                $('#help_search_results').html(serverResponse_data);
            };

            var config = {
                type: "GET",
                url: SUBMIT_URL,
                data: {
                    'help_search_text': searchText
                },
                dataType: 'html',
                success: processServerResponse,
                fail: function () {
                    alert("Fail")
                }
            };
            $.ajax(config);
        }
    };

    /** The Ajax "main" function. */

    var MILLS_TO_IGNORE_SEARCH = 100;
    var MILLS_TO_IGNORE_LIKES = 500;
    $(document).ready(function () {
        /* This attaches a listener. Calling this again would attach a *second* */
        $('#help_search_text').keyup(_.debounce(processSearch,
                MILLS_TO_IGNORE_SEARCH, true));
    });
}

</script>