
<!-- Edit Buttons -->
<div class="col-xs-12" style="margin-top: 10px; margin-bottom: 10px;">

    {% if edit %}

        <a
                id="edit_{{ section }}"
                class="btn btn-info btn-xs pull-right edit_section_button"
                style="margin-left: 5px; width: 120px;"
                onclick="handleCKEdit(this)"
                data-toggle="tooltip"
                title="Activates the word processor"
                data-placement="bottom"
        >
            <span style="font-size: 14pt;">Edit {{ section }}</span>
        </a>


        <button
                id="save_{{ section }}"
                class="btn btn-success btn-xs pull-right"
                style="display: none; margin-left: 5px; width: 80px;"
                onclick="handleCKEdit(this)"
                data-toggle="tooltip"
                title="Will replace previous text"
                data-placement="bottom"
        >
            <span style="font-size: 14pt;">Save</span>
        </button>

        <button
                id="discard_{{ section }}"
                class="btn btn-danger btn-xs pull-right"
                style="display: none; width: 80px;"
                onclick="handleCKEdit(this)"
                data-toggle="tooltip"
                title="Will NOT save changes!"
                data-placement="bottom"
        >
            <span style="font-size: 14pt;">Discard</span>
        </button>

    {% endif %}

</div>