{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags %}

{% block meta_title %}
    {{ user.get_short_name }}'s Desk
{% endblock %}
{% block title %}
    {{ user.get_short_name }}'s Desk
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ user.get_short_name }}'s Desk

{% endblock %}

{% block all_content %}

<style>

    #week-box .homehead {
        font-size: 24pt;
    }

    .part-click, .part-click:visited {
        color: rgb(65, 45, 120);
        outline: 1px solid rgb(65, 45, 120);
        background-color: white;
        width: 15%;
        padding: 8px 0 0 0;
        margin: 0;
        height: 60px;
    }

    .part-click:hover, .part-click:focus {
        color: orange;
    }

    .desk-button {
        display: block;
        font-size: 16pt;
        min-height: 50px;
        margin-top: 20px;
        padding-top: 10px;
    }

</style>

<div class="row" style=" font-size: 18pt; width: 1150px; margin: 0;">

    <a class="col-xs-3 pull-right" style="margin: 0 20px 0 30px;" href="http://www.joinourstory.com/workshop_connect">
        <div class="row" style=" ">

            <div class="col-xs-2">

                <i class="fa fa-video-camera fa-2x fa-fw" style="padding-top: 3px; margin-left: -15px; height: 50px;"></i>

            </div>

            <div class="col-xs-10 text-center" style="padding: 10px 0 0 0;">
                Community room
            </div>
        </div>
    </a>

    <a class="col-xs-2 pull-right" style="padding: 0 15px" href="{% url "profile" request.user.id %}">
        <div class="row">
            <div class="col-xs-3">

                <img style="padding: 0; margin-left: -15px; width: 56px; height: 56px;"
                    {% if user.JOSProfile.profile_image_id_str != "noimage1" %}
                        src="https://res-4.cloudinary.com/desg88u7l/image/upload/{{ user.JOSProfile.profile_image_id_str }}"
                    {% else %}
                        src="/static/img/peeky-102216.png"
                    {% endif %}>

            </div>

            <div class="col-xs-9 text-center" style="padding: 10px 0 0 0;">
                My profile
            </div>
        </div>
    </a>

</div>

<div class="row" style="width: 1150px;">
    <div class="col-xs-10" style=" ">

        <div class="row text-center" style="margin: 30px 0 0 0;">
            <span class="homehead" style="font-size: 36pt;">Better Storytelling</span>
        </div>

        <div id='better-storytelling' class="row text-center" style="margin: 30px 0 0 0;">

            {% for week in weeks %}

                <div id="week-box"
                     class="row"
                     style="
                        font-size: 18pt;
                        margin: 0;
                        padding: 20px 0;
                        border-bottom: 1px solid rgb(209,209,209);
                        height: 100px;
                        ">

                    <div class="col-xs-2" style="margin: 0 0 0 -30px;">
                        <img src="{{ STATIC_URL }}/img/ModIcon{{ week.icon_name }}.png"
                             style="height: 60px; width: 60px;">
                    </div>

                    <div class="col-xs-5 homehead text-left" style="padding: 5px 0 0 0; margin: 0 25px 0 -10px;">
                        {{ week.week_title }}:
                    </div>

                    <a class="part-click col-xs-2 homehead text-center"
                       href="{% url "course_week" %}/{{ week.week_no }}/1/9/1">
                        I
                    </a>

                    <a class="part-click col-xs-2 homehead text-center"
                       style="margin-left: 30px;"
                       href="{% url "course_week" %}/{{ week.week_no }}/2/9/1">
                        II
                    </a>
                </div>


            {% endfor %}

        </div>
    </div>

    <div class="col-xs-2" style="margin: 40px 0 0 0;">

        {% include 'josprojects/library_include.html' %}

    </div>
</div>

{% endblock %}





