{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags %}

{% block meta_title %}
    {{ user.get_short_name }}'s Desk
{% endblock %}
{% block title %}
    {{ user.get_short_name }}'s Desk
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ user.get_short_name }}'s Desk
    </div></div>

{% endblock %}

{% block all_content %}

<style>

    .nav-tabs.nav-justified > li > a {
        outline: none;
    }

    .nav-tabs.nav-justified > li {
        border-bottom: 2px dotted #412d78;
        border-right: 2px dotted #412d78;
        border-radius: 0;
    }

    .nav-tabs.nav-justified > li.active {
        border: 3px dashed #412d78;
        border-bottom: none;
        border-radius: 0;
    }

    #worktabs a {
        color: #412d78;
        font-family: "Abril Fatface", cursive;
        font-size: 20pt;
        font-weight: normal;
        outline: none;
    }

    .desk-button {
        font-size: 22pt;
        margin-left: 15px;
        padding: 10px;
    }

    .week-box {
        padding: 0;
        background-color: rgba(65, 45, 120, .2);
        border: 1px solid rgb(65, 45, 120);
        width: 95%;
        float: none;
        margin: 0 auto;
    }

    #week-boxes .homehead {
        font-size: 24pt;
    }

    #better-storytelling a, #better-storytelling a:visited {
    }

    .part-click, .part-click:visited {
        color: rgb(65, 45, 120);
        outline: 1px solid rgb(65, 45, 120);
        background-color: white;
        width: 15%;
        padding: 20px 0;
        margin: -20px 20px 0 20px;
        height: 85px;
    }

    .part-click:hover, .part-click:focus {
        color: orange;
    }

</style>

<div class="row" style="margin: 0;">
    <div class="col-xs-12" style="padding: 0;">
        <img style="display: inline; height: 90px;"
             src="{% if profile.profile_image_idstr != "noimage1" %}
                        https://res-4.cloudinary.com/desg88u7l/image/upload/{{ user.JOSProfile.profile_image_idstr }}
          {% else %}
                /static/img/coming-soon-profile.png
          {% endif %}
         ">

        <a class="desk-button" href="{% url "profile" request.user.id %}">
            My profile
        </a>

        <a class="desk-button" href="{% url "mystory_list" %}">
           My stories
        </a>

        <a class="btn btn-default" style="font-size: 22pt; line-height: normal; margin-left: 35px; height: 94px; width: 200px;"
           href="{% url 'josstory' %}/0">
            Create<br>new story
        </a>

        <a class="desk-button pull-right text-center" href="http://www.joinourstory.com/workshop_connect">
            <i class="fa fa-video-camera fa-fw" style=" "></i><br>
            Workshop
        </a>

        <a class="desk-button pull-right text-center" href="{% url "story_gallery" %}">
                Community<br>gallery
        </a>

    </div>
</div>

<div class="row text-center" style="margin: 40px 0 0 0;">
    <span class="homehead" style="font-size: 42pt;">Better Storytelling</span>
</div>

<div id='better-storytelling' class="row" style="margin: 30px 0 0 0;">

    {% for week in weeks %}

        <div id="week-boxes" class="row" style="margin: 25px 0 0 60px; padding: 20px 0 20px 30px; width: 1000px; border-bottom: 2px solid rgba(65, 45, 120, .2);">

            <div class="col-xs-2 text-right" style="margin: -20px 0 0 0;">
                <img src="{{ STATIC_URL }}/img/ModIcon{{ week.icon_name }}.png" style="height: 85px;">
            </div>
            <div class="col-xs-4 homehead" style="padding: 0 0 0 20px;">
                {{ week.week_title }}
            </div>

            <a class="part-click col-xs-2 homehead text-center" href="/">
                I
            </a>

            <a class="part-click col-xs-2 homehead text-center" href="/">
                II
            </a>
        </div>


    {% endfor %}

</div>


{% endblock %}


{#                    <div class="row week-box">#}
{##}
{#                        <div class="col-xs-12">#}


{##}
{#                            <div class="row" style="font-size: 18pt; padding: 0;">#}
{#                                <a class="col-xs-4" style="margin-left: 0;" href="https:/">#}
{#                                    Prepare#}
{#                                </a>#}
{##}
{#                                <a class="col-xs-4" style="margin-left: 0;" href="https:/">#}
{#                                    Workshop#}
{#                                </a>#}
{##}
{#                                <a class="col-xs-4" style="margin-left: 0;" href="https:/">#}
{#                                    Resources#}
{#                                </a>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}


{#<div class="row" style="margin-top: 25px;">#}
{#    <div class="col-xs-12 text-center" style=" ">#}
{#        <ul id="worktabs" class="nav nav-tabs nav-justified">#}
{#            <li class="active"><a data-toggle="tab" href="#enjoy">#}
{#                <i class="fa fa-television fa-fw" style="margin-right: 10px;"></i>Enjoy#}
{#            </a></li>#}
{#            <li><a data-toggle=" " href="#create">#}
{#                <i class="fa fa-keyboard-o fa-lg fa-fw" style="margin-right: 10px;"></i>Create#}
{#            </a></li>#}
{#            <li><a data-toggle=" " href="#share">#}
{#                <i class="fa fa-globe fa-lg fa-fw" style="margin-right: 10px;"></i>Share#}
{#            </a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#<div class="tab-content"></div>#}
{##}
{#<!--#############-->#}
{#<!--### ENJOY ###-->#}
{#<!--#############-->#}
{#<div id="enjoy" class="tab-pane fade in active"></div>#}
{##}
{#<!--##############-->#}
{#<!--### CREATE ###-->#}
{#<!--##############-->#}
{#<div id="create" class="tab-pane fade">#}
{#    <div class="row" style="margin: 40px 0;">#}
{#        <div class="col-xs-10 col-xs-offset-1" style=" ">#}
{##}
{#            <a class="joslargelinkbutton" href="{% url "mystory_list" %}">#}
{#               My stories#}
{#            </a>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<!--#############-->#}
{#<!--### SHARE ###-->#}
{#<!--#############-->#}
{#<div id="share" class="tab-pane fade">#}
{##}
{#    <div class="row" style="margin-top: 50px;">#}
{#        <div class="col-xs-12" style="padding-left: 30px;">#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}


