{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  %}

{% block meta_title %}
    {{ story.title }}
{% endblock %}
{% block title %}
    {{ story.title }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    Currently at:
    &nbsp&nbsp
    <span style="color: black;">
        <b>{{ story.title }}</b> by {{ story.author }}
    </span>
{% endblock %}


{% block all_content %}

<div class="row" style="margin-bottom: 50px; margin-top: 50px;">

    <div class="col-xs-9">

        <div class="josinstructions text-center">

            #{{ story.id }} <span style="font-size: larger; font-style: italic;">{{ story.title }}</span><br>
            by {{ story.author.JOSProfile.jos_name }}<br><br>

        </div>

        {% if edit %}
            <a class="btn btn-info pull-right"
               style="margin-right: -50px; margin-top: -28px; outline: none; text-decoration: none;"
               href="{% url "josprofile_edit" request.user.id %}?field_to_edit=content">
                <span class="glyphicon glyphicon-pencil"></span>
                <span style="margin-left: 7px;">Edit content</span>
            </a>
        {% endif %}

        <div style="{% if edit %}
                         outline: 3px dashed #28a4c9;
                    {% endif %}
                         line-height: normal;
                         margin-right: -50px;
                         margin-top: 7px;
                         padding: 15px;">
            {{ story.content | richtext_filters | safe }}
        </div>

    </div>

    <div class="col-xs-3" style="margin-top: 50px;">

        <div class="pull-right" style="text-align: left;">
            Last edit:<br>
            <span style="color: green">{{ story.updated }}</span>
        </div>

        {% if story.author == request.user %}

            <a class="btn pull-right btn-default"
               style="background-color: #28a4c9; border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
                    {% if edit %}
               href="{% url "josstory" story.id %}">
                        {% trans "Hide edit" %}
                    {% else %}
                        href="{% url "josstory_edit" story.id %}">
                        {% trans "Edit mode" %}
                    {% endif %}
            </a>

            <a class="btn pull-right btn-default"
               style="{% if story.publish %}background-color: #d9534f;{% else %}background-color: #5cb85c;{% endif %}
                       border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
                    {% if story.publish %}
                        href="{% url "josstory" story.id %}/?pub=remove">
                            {% trans "Unpublish" %}
                    {% else %}
                        href="{% url "josstory" story.id %}/?pub=publish">
                            {% trans "Publish" %}
                    {% endif %}
            </a>

            <a class="btn pull-right btn-default"
               style="background-color: #f0ad4e; border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
               href="{% url "mystory_list" %}">
                        {% trans "My stories" %}
            </a>

        {% endif %}

    </div>

</div>

{% endblock %}


INSERT:

NEW STORY

<a class="btn btn-info pull-right"
   style="margin-right: -50px; outline: none; text-decoration: none;"
   href="{% url "josprofile_edit" request.user.id %}?field_to_edit=about_me">
    <span class="glyphicon glyphicon-pencil"></span>
    <span style="margin-left: 7px;">Edit section</span>
</a>

