{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  %}

{% block meta_title %}
    {{ story.title | striptags | truncatechars:25 }}
{% endblock %}
{% block title %}
    {{ story.title | striptags | truncatechars:25 }}
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ story.title  | striptags | truncatechars:25 }}
    </div></div>

{% endblock %}

{% block all_content %}

<style>
    p {margin: 0;}
</style>

<div class="row" style="margin-bottom: 30px; margin-top: 60px;">

    <div class="col-xs-9 col-xs-offset-1">

        <div class="row" style="height: 35px; margin-left: 10%; width: 80%;">
            {% if edit %}
                <a class="btn btn-info btn-xs pull-right"
                   style="width: 80px"
                   href="{% url "josstory_edit" story.id %}/?field_to_edit=title">
                    <i class="fa fa-pencil"></i>
                    <span style="font-size: 14pt; margin-left: 3px;">Edit</span>
                </a>
            {% endif %}
        </div>

        <div class="row text-center" style=" margin-left: 10%; width: 80%;">

            <div class="homehead text-center" style="{% if edit %}outline: 3px dashed #28a4c9;{% endif %}">
                {{ story.title | striptags }}<br><br>
            </div>

            <div class="joscursive text-center">
                {{ story.author.JOSProfile.jos_name }}<br>
            </div>

        </div>

        <div class="row" style="height: 30px;">
            {% if edit %}
                <a class="btn btn-info btn-xs pull-right"
                   style="width: 80px"
                   href="{% url "josstory_edit" story.id %}/?field_to_edit=content">
                    <i class="fa fa-pencil"></i>
                    <span style="font-size: 14pt; margin-left: 3px;">Edit</span>
                </a>
            {% endif %}

        </div>

        <div class="row">

            <div class="interior-text" style="{% if edit %}outline: 3px dashed #28a4c9;{% endif %}">
                {{ story.content | richtext_filters | safe }}
            </div>

        </div>

    </div>

    <div style="position: fixed; margin-left: 1050px; margin-top: 0">

        {% include "updated.html" with myobj=story %}<br>

        {% if story.author == request.user %}

            <a class="btn pull-right btn-info"
               style="margin-top: 30px;"
                    {% if edit %}
               href="{% url "josstory" story.id %}">
                        {% trans "Hide edit" %}
                    {% else %}
                        href="{% url "josstory_edit" story.id %}">
                        {% trans "Edit" %}
                    {% endif %}
            </a><br>

            <a class="btn pull-right {% if story.publish %}btn-danger{% else %}btn-success{% endif %}"
               style="margin-top: 30px;"
                    {% if story.publish %}
                        href="{% url "josstory" story.id %}/?pub=remove">
                            {% trans "Hide" %}
                    {% else %}
                        href="{% url "josstory" story.id %}/?pub=publish">
                            {% trans "Publish" %}
                    {% endif %}
            </a><br>

            <a class="btn pull-right btn-warning"
               style="margin-top: 30px;"
               href="{% url "mystory_list" %}">
                        {% trans "My stories" %}
            </a>
        {% else %}<br>

            <a class="btn pull-right btn-warning"
               style="margin-top: 30px;"
               href="{% url "story_gallery" %}">
                {% trans "Gallery" %}
            </a><br>

        {% endif %}

    </div>

</div>

{% endblock %}

