{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  %}

{% block meta_title %}
    {{ story.title | striptags | truncatechars:25 }}
{% endblock %}
{% block title %}
    {{ story.title | striptags | truncatechars:25 }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    Currently at:
    &nbsp&nbsp
    <span style="color: black;">
        <b>{{ story.title  | striptags | truncatechars:25 }}</b> by {{ story.author.JOSProfile.jos_name }}
    </span>
{% endblock %}


{% block all_content %}

<style>

    p {

        margin: 0;
    }

</style>



<div class="row" style="margin-bottom: 30px; margin-top: 30px;">

    <div class="col-xs-8 col-xs-offset-1">

        <div class="josinstructions text-center">

            <span style="{% if edit %}
                                outline: 3px dashed #28a4c9;
                         {% endif %}
                    font-size: larger;
                    font-style: italic;
                    padding: 5px 10px;">
                {{ story.title | striptags }}
            </span>
            {% if edit %}
                <a class="btn btn-info"
                   style="margin-right: -99px; margin-top: -43px; outline: none; text-decoration: none;"
                   href="{% url "josstory_edit" story.id %}/?field_to_edit=title">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span style="margin-left: 7px;">Edit title</span>
                </a>
            {% endif %}
            <br>
            by&nbsp&nbsp{{ story.author.JOSProfile.jos_name }}<br>

        </div>

        {% if edit %}
            <a class="btn btn-info pull-right"
               style="margin-right: -50px; margin-top: -24px; outline: none; text-decoration: none;"
               href="{% url "josstory_edit" story.id %}/?field_to_edit=content">
                <span class="glyphicon glyphicon-pencil"></span>
                <span style="margin-left: 7px;">Edit text</span>
            </a>
        {% endif %}

        <div style="{% if edit %}
                         outline: 3px dashed #28a4c9;
                    {% endif %}
                         line-height: normal;
                         margin-right: -50px;
                         margin-top: 7px;
                         padding: 15px;">
            {{ story.content | richtext_filters | safe }}
        </div>

    </div>

    <div class="col-xs-2" style="margin-top: 50px;">

        <div class="pull-right" style="text-align: left;">
            Updated:<br>
            <span style="color: green">{{ story.updated }}</span>
        </div>

        {% if story.author == request.user %}

            <a class="btn pull-right btn-default"
               style="background-color: #28a4c9; border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
                    {% if edit %}
               href="{% url "josstory" story.id %}">
                        {% trans "Hide edit" %}
                    {% else %}
                        href="{% url "josstory_edit" story.id %}">
                        {% trans "Edit mode" %}
                    {% endif %}
            </a>

            <a class="btn pull-right btn-default"
               style="{% if story.publish %}background-color: #d9534f;{% else %}background-color: #5cb85c;{% endif %}
                       border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
                    {% if story.publish %}
                        href="{% url "josstory" story.id %}/?pub=remove">
                            {% trans "Unpublish" %}
                    {% else %}
                        href="{% url "josstory" story.id %}/?pub=publish">
                            {% trans "Publish" %}
                    {% endif %}
            </a>

            <a class="btn pull-right btn-default"
               style="background-color: #f0ad4e; border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
               href="{% url "mystory_list" %}">
                        {% trans "My stories" %}
            </a>
        {% else %}

            <a class="btn pull-right btn-default"
               style="background-color: #f0ad4e; border: none; color: white; outline: none; margin-top: 30px; width: 150px;"
               href="{% url "story_gallery" %}">
                {% trans "Story gallery" %}
            </a>

        {% endif %}

    </div>

</div>

{% endblock %}


INSERT:

NEW STORY

<a class="btn btn-info pull-right"
   style="margin-right: -50px; outline: none; text-decoration: none;"
   href="{% url "josprofile_edit" request.user.id %}?field_to_edit=about_me">
    <span class="glyphicon glyphicon-pencil"></span>
    <span style="margin-left: 7px;">Edit section</span>
</a>

