
<style>

#library_include .btn-link {
    margin-top: 10px;
    width: 80%;
}

</style>

<div id="library_include" class="text-center">

    <div class="row " style="margin: 30px 0 0 0;">
        <span class="homehead" style="font-size: 20pt;">Library</span>
    </div>

    <a class="btn btn-default"
       style="margin-top: 20px; width: 80%;"
       href="{% url 'josstory' %}/0">
        New story
    </a>

    <button class="btn btn-link" onclick="location.href='{% url "mystory_list" %}';">
        My stories
    </button>

    <div style="border-top: 1px dashed rgb(45,25,160); margin: 30px 0 0 0;"></div>

    <button class="btn btn-link" onclick="location.href='{% url "story_gallery" %}';" style="margin: 20px 0 0 0;">
        Published
    </button>

    <div style="border-top: 1px dashed rgb(45,25,160); margin: 20px 0 0 0; padding-top: 10px;">My teams</div>

    {% for team in user.JOSProfile.teams.all %}

        <button class="btn btn-link" onclick="location.href='{% url "story_gallery" %}/?team={{ team.id }}';">
            {{ team }}
        </button>

    {% endfor %}

</div>