{% extends "base.html" %}

{% block meta_title %}
    {{ user.get_short_name }}'s Stories
{% endblock %}
{% block title %}
    {{ user.get_short_name }}'s Stories
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {{ user.get_short_name }}'s Stories
    </div></div>

{% endblock %}


{% block all_content %}

<div class="row" style="margin-top: 30px;">

    <div class="col-xs-12" style="padding: 0;">

        <div class="row" style="margin-bottom: 30px;">
            <!-- a class="joslargelinkbutton" href=" ">
               <span style="margin-left: 5px; margin-right: 5px;">
                    All my stories
               </span>
            </a -->
            <!-- a class="joslargelinkbutton" href=" ">
               <span style="margin-left: 5px; margin-right: 5px;">
                    Stories I've published
               </span>
            </a -->
            <a class="btn btn-default" style="margin-left: 50px; width: 200px;"
               href="{% url 'josstory' %}/0">
                    Create new story
            </a><br><br>

        </div>

        {% if stories.count > 0 %}
            <span class="josinstructions">Please click a title to view:<br>&nbsp&nbsp&nbsp&nbsp- or create a new story!</span><br><br>

            <table data-toggle="table" width="100%">
                <col style="width:49%;">
                <col style="width:23%;">
                <col style="width:23%;">
                <col style="width:5%;">
                <thead>
                    <tr>
                        <th data-sortable="true">Title</th>
                        <th data-sortable="true">Created</th>
                        <th data-sortable="true">Last change</th>
                        <th data-sortable="true">Published</th>
                    </tr>
                </thead>
                <tbody>
                    {% for story in stories %}
                        <tr>
                            <td>
                                <a href="{% url 'josstory' %}/{{ story.id }}">
                                    <span style="margin-left: 5px; margin-right: 5px;">
                                        {{ story.title | striptags | truncatechars:45 }}
                                    </span>
                                </a>
                            </td>
                            <td style="text-align:center;">{{ story.created | time:"f A" }}; {{ story.created | date:"M d" }}</td>
                            <td style="text-align:center;">{{ story.updated | time:"f A" }}; {{ story.updated | date:"M d" }}</td>
                            <td style="text-align:center;">
                                {% if story.publish %}
                                    &nbsp&nbsp&nbsp
                                    <i class="fa fa-circle fa-fw" style="color: green;"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}

            <span style="font-size: 36pt;">Click "Create new story" to get started!</span>

        {% endif %}

    </div>
</div>

{% endblock all_content %}







