{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags %}

{% block meta_title %}{{ user.get_short_name }}'s Desk{% endblock %}
{% block title %}{{ user.get_short_name }}'s Desk{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {{ user.get_short_name }}'s Desk
{% endblock %}

{% block all_content %}

<style>

    #week-box .homehead {
        font-size: 24pt;
    }

    .part-click, .part-click:visited {
        background-color: white;
        border-radius: 6px;
        border: 1px solid rgb(65, 45, 120);
        color: rgb(65, 45, 120);
        height: 60px;
        margin: 0;
        padding: 8px 0 0 0;
        outline: none;
        width: 15%;
    }

    .part-click:hover, .part-click:focus {
        color: orange;
        border-color: orange;
        outline: none;
    }

    #top-buttons .btn-link {
        font-size: 24pt;
        height: 65px;
    }

</style>

<div id='top-buttons' class="row" style="width: 1150px; margin: 0;">

    <button class="btn btn-link pull-right"
            style="margin: 0 30px; padding: 0 15px; width: auto;"
            onclick="location.href='http://www.joinourstory.com/workshop_connect';">
        <i class="fa fa-video-camera fa-fw"></i>

        <div style="display: inline; padding-top: 11px;">Community room</div>
    </button>

    <button class="btn btn-link pull-right text-left"
            onclick="location.href='{% url "profile" request.user.id %}';"
            style="padding: 0; width: 240px; border: none;">
        <img class="pull-left" style="margin-right: 15px; width: 65px; height: 65px;"
             src="{% if user.JOSProfile.profile_image_id_str != "noimage1" %}
                      https://res-4.cloudinary.com/desg88u7l/image/upload/{{ user.JOSProfile.profile_image_id_str }}
                  {% else %}
                      /static/img/peeky-102216.png
                  {% endif %}">

        <div class="pull-left" style="padding-top: 11px;">My profile</div>

    </button>

</div>

<div class="row" style="width: 1150px;">
    <div class="col-xs-10" style=" ">

        <div class="row text-center" style="margin: 45px 0 0 0;">
            <span class="homehead" style="font-size: 36pt;">Better Storytelling</span>
        </div>

        <div id='better-storytelling' class="row text-center" style="margin: 30px 0 0 0;">

            {% for week in weeks %}

                <div id="week-box"
                     class="row"
                     style="
                        font-size: 18pt;
                        margin: 0;
                        padding: 20px 0;
                        border-bottom: 1px solid rgb(209,209,209);
                        height: 100px;
                        ">

                    <div class="col-xs-2" style="margin: 0 0 0 -30px;">
                        <img src="{{ STATIC_URL }}/img/ModIcon{{ week.icon_name }}.png"
                             style="height: 60px; width: 60px;">
                    </div>

                    <div class="col-xs-5 homehead text-left" style="padding: 5px 0 0 0; margin: 0 25px 0 -10px;">
                        {{ week.week_title }}:
                    </div>

                    <a class="part-click col-xs-2 homehead text-center"
                       href="{% url "joscourses:course_week" %}/{{ week.week_no }}/1/9/1">
                        I
                    </a>

                    <a class="part-click col-xs-2 homehead text-center"
                       style="margin-left: 30px;"
                       href="{% url "joscourses:course_week" %}/{{ week.week_no }}/2/9/1">
                        II
                    </a>
                </div>


            {% endfor %}

        </div>
    </div>

    <div class="col-xs-2" style="margin: 40px 0 0 0;">

        <button class="j_button j_action_button" style=" "
                onclick="window.location.href = '{% url 'joscourses:josstory' %}/0'">
            <i class="fa fa-bolt fa-fw" style=""></i>
            New story
        </button>

        <a class="btn btn-default"
           style="margin-top: 10px; width: 80%;"
           href="{% url 'joscourses:joswheel' 0 %}">
            New wheel
        </a>

        {% include 'josprojects/../jos_includes/library_include.html' %}

    </div>

</div>

{% endblock %}





