{% extends "base.html" %}

{% block meta_title %}
    Story Gallery
{% endblock %}
{% block title %}
    Story Gallery
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    {% if team_name != 'xxx' %}
        Team {{ team_name | title }}'s stories
    {% else %}
        Published stories
    {% endif %}

{% endblock %}

{% block all_content %}

<style> tbody tr {height: 70px;}</style>

<div class="row">

    <div class="col-xs-12">

        <div class="row" style="margin-bottom: 30px;">
            <span class="josinstructions">Click a title to view (also, headings sort):</span>
        </div>


        <table data-toggle="table" width="100%">
            <col style="width:23%;">
            <col style="width:54%;">
            <col style="width:23%;">
            <thead>
                <tr>
                    <th data-sortable="true">Author</th>
                    <th data-sortable="true">Title</th>
                    <th>Last change</th>
                </tr>
            </thead>
            <tbody>
                {% for story in stories %}
                    <tr>
                        <td>
                            <a style="margin-left: 10px;" href="{% url "profile" story.author.id %}">
                                {{ story.author.JOSProfile.jos_name }}
                            </a>
                        </td>

                        <td>
                            <a style="margin-left: 10px;" href="{% url 'josstory' %}/{{ story.id }}">
                                {{ story.title | striptags | safe | truncatechars:45 }}
                            </a>
                        </td>

                        <td>{{ story.updated | date:"M d" }}; {{ story.updated | time:"f A" }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock all_content %}







