{% extends "base.html" %}

{% block meta_title %}
    Story Gallery
{% endblock %}
{% block title %}
    Story Gallery
{% endblock %}

{% block breadcrumb_menu %}

    {{ block.super }}
    Story Gallery
    </div></div>

{% endblock %}

{% block all_content %}

<style> tbody tr {height: 70px;}</style>

<div class="row" style="margin-top: 0;">

    <div class="col-xs-12" style="padding: 0;">

        <div class="row" style="margin-bottom: 30px;">
            <!-- a class="joslargelinkbutton" href=" ">
               <span style="margin-left: 5px; margin-right: 5px;">
                    All my stories
               </span>
            </a -->
            <!-- a class="joslargelinkbutton" href=" ">
               <span style="margin-left: 5px; margin-right: 5px;">
                    Stories I've published
               </span>
            </a -->
            <br><br>
            <span class="josinstructions">Please click title to view (also, headings sort):</span>
        </div>


        <table data-toggle="table" width="100%">
            <col style="width:23%;">
            <col style="width:54%;">
            <col style="width:23%;">
            <thead>
                <tr>
                    <th data-sortable="true">Author</th>
                    <th data-sortable="true">Title</th>
                    <th data-sortable="true">Last change</th>
                </tr>
            </thead>
            <tbody>
                {% for story in stories %}
                    <tr>
                        <td>
                            <a style="margin-left: 10px;" href="{% url "profile" story.author.id %}">
                                {{ story.author.JOSProfile.jos_name }}
                            </a>
                        </td>

                        <td>
                            <a style="margin-left: 10px;" href="{% url 'josstory' %}/{{ story.id }}">
                                {{ story.title | striptags | safe | truncatechars:45 }}
                            </a>
                        </td>

                        <td>{{ story.updated | date:"M d" }}; {{ story.updated | time:"f A" }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock all_content %}







