{% extends "base.html" %}
{% block meta_title %}{% endblock %}
{% block title %}{% endblock %}
{% block breadcrumb_menu %}

    {{ block.super }}
    Plot template

{% endblock %}

{% block all_content %}

    <style>

        .edit_box {
            height: 95%;
            width: 100%;
            background-color: white;
            border: 3px dashed #28a4c9;
            opacity: .4;
        }

        .edit_box:hover {
            opacity: 1;
        }

        .template_row {
            display: flex;
            width: 100%
        }

        .template_component {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 45%;
        }

        .template_component_label {
            background-color: white;
            padding: 0 20px;

            font-family: 'Architects Daughter';
            font-size: 28pt;
        }

    </style>

    <div class="row text-center" style=" ">
        <div class="col-xs-12"
             style="background: pink url('/static/img/plot-template.png') no-repeat top center; margin-top: 20px; height: 800px; width: 100%; padding: 0;">


            <div class="template_row" style="justify-content: center; height: 20%;">

                <div class="template_component" style="width: 90%;">
                    <div class="template_component_label">Climax</div>

                    {% include "josprojects/jos_editor.html" with edit='True' section='Climax' %}

                    <div class='edit_box'>
                        <form id='climax_form'
                              method="post"
                              {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

                            <div id='title' class="col-xs-12 homehead text-center">
                                {{ story.title | striptags | safe }}<br>
                            </div>

                            <input id="title_holder" type="hidden" name='nucontent' value=" ">
                            <input id="field_to_edit_holder" type="hidden" name="field_to_edit" value="climax">

                        </form>
                    </div>

                </div>
            </div>

            <div class="template_row" style="justify-content: space-around; height: 50%;">

                <div class="template_component" style="width: 55%;">
                    <div id='xxx' class='edit_box'></div>
                </div>

                <div class="template_component" style="width: 40%;">
                    <div id='xxx' class='edit_box'></div>
                </div>

            </div>

            <div class="template_row"
                 style="display: flex; justify-content: space-between; margin-top: 1%; height: 29%;">

                <div class="template_component">
                    <div class="template_component_label" style="align-self: flex-start;">Inciting incident</div>

                    <div id='xxx' class='edit_box'></div>
                </div>

                <div class="template_component">
                    <div class="template_component_label" style="align-self: flex-end;">Resolution</div>

                    <div id='xxx' class='edit_box'></div>
                </div>
            </div>
        </div>
    </div>

    <script>


    </script>

{% endblock all_content %}
