<div class="jconfirm jconfirm-white">
    <div class="jconfirm-bg seen"
         style="transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.36, 1.1, 0.2, 1); opacity: 0.2;"></div>
    <div class="jconfirm-scrollpane">
        <div class="container">
            <div class="row">
                <div class="jconfirm-box-container col-xs-8 col-xs-offset-2">
                    <div class="jconfirm-box" tabindex="-1" aria-labelledby="jconfirm-box14292" role="dialog"
                         style="transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.36, 1.1, 0.2, 1.2); margin-top: 390px; transition-property: transform, opacity, box-shadow, margin;">


                        <div class="content-pane"
                             style="transition-duration: 0.5s; transition-timing-function: cubic-bezier(0.36, 1.1, 0.2, 1); height: 27px;">
                            <div class="content" style="clip: rect(0px, 687px, 27px, -100px);">Simple confirm!</div>
                        </div>

                        <div class="buttons">

                            <button class="btn btn-warning pull-right" type="button">Discard changes</button>

                            <button class="btn btn-danger" type="button">Cancel</button>
                        </div>
                        <div class="jquery-clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>