<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard - django-tracking2</title>
    </head>
    <body>
        <h1>www.joinourstory. com - django-tracking2 Dashboard</h1>
        <div id="tracking-filters">
            <form method="GET">
                {{ form.as_table }}
                <input type="submit" name="submit" value="submit" />
            </form>
        </div>
        <div id="tracking-info">
            <p>
                Tracking began on:  {{ track_start_time|date:'m/d/y' }}
            </p>
        </div>
        <div id="tracking-stats">
            {% include "tracking/snippets/stats.html" %}
        </div>
    </body>
</html>
