{% extends 'base.html' %}
{% load i18n staticfiles scheduletags %}
{% load static from staticfiles %}

{% block all_content %}


	<link rel="stylesheet" href="{% static 'schedule/css/modal.css' %}" />
    {% include "aaold/fullcalendar_script.html" %}



    <a class="btn btn-primary gradient" href="{% url 'calendar_create_event' calendar_slug %}">
        <span class='glyphicon glyphicon-plus'></span>
        {% trans "Add New Session" %}
    </a>
    <br>
    <br>
    <div id='calendar'></div>

    {% include "aaold/fullcalendar_modal.html" %}
{% endblock %}