<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta content="text/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}
        {% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}
    </title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        <link rel="stylesheet" href="{% static "css/josmain.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Sans+Pro:400,600|Stalemate' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}">

    <div class="container" style="background-color: white; margin-left: 20px; position: fixed; top:0; z-index: 100;">
        <div class="row">

            <div class="hidden-xs hidden-sm col-md-2" style="background-color: transparent">
                <a href="/" class="pull-left" style="outline: none; padding: 0">
                    <img style="height: 100px;" src="/static/img/JOSLogo121615.png">
                </a>
            </div>

            <div class="hidden-xs col-sm-12 col-md-6" style="background-color: transparent;">

                {% nevercache %}{% if messages %}<!-- messages -->
                    <div class="">
                        <div class="row messages" style="height: 75px; margin: 10px -75px 5px 25px; padding-top: 10px">
                            <div class="col-xs-1" style=" " >
                                <img src="/static/img/peeky-123115.png" height="40px">
                            </div>
                            <div class="col-xs-11" style="font-weight: bold; padding: 0 15px;">
                                {% for message in messages %}
                                    {{ message }}!<br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="hometext text-center" style="margin-left: 105px; margin-top: 20px;">
                        A storytelling community for<br>happier souls and healthier minds.
                    </div>

                {% endif %}{% endnevercache %}
            </div>

            <div class="col-sm-12 col-md-4" style="background-color: transparent; margin-top: 10px;">
                {% include "accounts/includes/user_panel.html" %}
            </div>

        </div>

        {% block outer_breadcrumb %}
            <div class="row" style="background-color: white;">
                <ul class="breadcrumb" style="background-color: rgba(65, 45, 120, .2); border-radius: 0;
                                              height: 45px; margin-bottom: 0; padding-left: 13px; padding-top: 12px;">
                    {% spaceless %}
                        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    {% endspaceless %}
                </ul>
            </div>
        {% endblock outer_breadcrumb %}
    </div>

    <div class="container" style="background-color: transparent; margin-left: 20px;"><!-- CENTER -->
        {% block all_content %}
            <br>ALL_CONTENT BLOCK MISSING
        {% endblock all_content %}
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container" style="margin-left: 20px; margin-top: 30px; padding: 0;">
            <div class="text-right" style="margin-bottom: 5px; margin-right: 5px;">For immediate attention, call (213) 465-0885</div>
            {% page_menu "pages/menus/footer.html" %}

            <p class="text-left" style="font-size: 8pt; margin-top: 0;">
                Join Our Story is a California Benefit Corporation &copy 2014
                {% ifinstalled mezzanine.mobile %}
                    <span class="separator">|</span>
                    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">
                        {% trans "View Mobile Site" %}
                    </a>
                {% endifinstalled %}
            </p>
        </div>
        {% include "includes/footer_scripts.html" %}
    </footer>
</body>
</html>
