<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles inbox %}

<head>
    <meta content="text/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}
        {% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}
    </title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/josmain.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Sans+Pro:400,600|Stalemate|Muli:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
        <link rel="stylesheet" href="{% static "css/jquery-confirm.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-slider.css" %}">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        <script src="{% static "js/joseditor.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.5.9/full/ckeditor.js"></script>
        <script src="{% static "js/jquery-confirm.js" %}"></script>
        <script src="{% static "js/bootstrap-slider.min.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>

<style>

    #fixed-top-bar .joslargelinkbutton {
        margin-left: 10px;
        width: 130px;
    }

    .moveDown {
        margin-top: 355px;
    }

</style>

<body id="{% block body_id %}body{% endblock %}">

<!-- help screen -->
<div id="help_screen" class=" "
     style="
     position: fixed;
     top: -5px;
     left: 50px;
     display: none;
     background-color: rgb(255, 215, 150);
     height: 500px;
     width: 1100px;
     z-index: 148;
     ">
    <ul id="help_nav_tabs" class="nav nav-tabs nav-justified" style="position: absolute; top: 447px; height: 40px">

            <li><a style = " "
                   href="{% url "course_week" %}/{{ week.week_no }}/{{ part_no }}/{{ seg.segment_no }}/1">
                xxx
            </a></li>

    </ul>
</div>

{% block help_button %}

    <button id="help_button" class="btn btn-danger"
            style="position: fixed; top: -5px; left: 850px; font-size: 16pt; width: 100px; height: 39px; z-index: 149;"
            onclick="help_button();">
        HELP!
    </button>

{% endblock help_button %}

{% block base-fixed-top-bar %}

<div id="fixed-top-bar" class="container" style="width: 1170px; padding: 0; left: 30px; position: fixed; top:0; background-color: white; z-index: 100;">

    {% block logo %}
        <a {% if request.user.id > 0 %}href="{% url "personaldesk" %}/{{ request.user.id }}"
           {% else %}href="/"{% endif %}
           style="
                       background-image:url(https://www.joinourstory.com/static/img/JOSLogo121615.png);
                       background-size: 219px 129px;
                       height:129px;
                       outline: none;
                       padding:0;
                       position: absolute; top: -3px; left: -15px;
                       width:219px;">

        </a>
    {% endblock logo %}

    <!-- MESSAGES -->
    {% nevercache %}

    <div id="messageBox" class="row hidden"
         style="
            background-color: lightgreen;
            border: 1px solid rgb(65,45,120);
            font-size: 18pt;
            font-weight: bold;
            height: 115px;
            left: 250px;
            outline: 4px solid white;
            padding: 10px 15px;
            position: absolute;
            top: 10px;
            width: 745px;
            z-index: 150;
            ">
        <div class="col-xs-1" style="padding: 15px 0 0 5px;">
            <img src="/static/img/peeky-102216.png" style="height: 60px">
        </div>
        <div id="messageSpace" class="col-xs-11"
             style="
                display: block;
                padding: 0 0 0 15px;
                max-width: 100%;
                height: 100%;
                overflow-y: scroll;
                word-wrap: break-word;
                ">
            {% for message in messages %}
                <input type="hidden" id="isMessage" name="isMessage" value="{{ message | striptags }}">
                <script>

                    messageBox = document.getElementById('messageBox');
                    messageSpace = document.getElementById('messageSpace');
                    var message = document.getElementById("isMessage").value;
                    if (message) {
                        $(messageBox).removeClass('hidden');
                        $(messageBox).delay(3250).fadeOut(1000);
                        $(messageSpace).text(message);
                    }

                </script>
            {% endfor %}
        </div>
    </div>
    {% endnevercache %}

    <!-- NAVIGATION BUTTONS -->
    <div class="row" style="margin: 0; height: 85px; width:100%;">
        <div class="col-xs-12 text-center" style="margin: 0 0 0 -15px; padding: 0;">
            <div class="row" style="padding: 18px 0 0 28px;">

                {% block top-nav %}

                    <button class="btn btn-warning pull-left text-center"
                            style="font-size: 14pt; margin-left: 230px; width: 65px; height: 39px;"
                            onclick=" window.history.back();">
                        Back
                    </button>

                    {% if request.user.is_authenticated %}

                    <a class="joslargelinkbutton pull-left" style="width:125px;"
                       href="{% url "personaldesk" %}/{{ request.user.id }}">
                        <i class="fa fa-home fa-fw"></i>
                        My desk
                    </a>

                    <a class="joslargelinkbutton pull-left"
                       href="{% url "josmembers:josmembers_list" %}">
                        Community
                    </a>

                    <a class="joslargelinkbutton pull-left" style="padding: 0; width:125px;"
                       href="{% url "josmessages:messages_redirect" %}">
                        <div class="pull-left" style="padding: 6px 9px;">
                            <i class="fa fa-envelope fa-fw"></i>
                            &nbspMail
                        </div>

                        {% inbox_count as my_var %}
                        {% if my_var >= 1 %}
                            <div class="pull-right text-center"
                                 style="color: white; height: 39px; padding: 5px; background-color: rgb(217, 83, 79) ; ) ; ;">
                                {{ my_var }}
                            </div>
                        {% else %}
                            <div class="pull-right"
                                 style="height: 39px; padding: 5px;">
                                &nbsp&nbsp
                            </div>
                        {% endif %}
                    </a>

                {% endif %}

            </div>

            <a class="btn btn-default pull-right"
               style="width: 115px; margin: -50px 5px 0 0;"
               {% if request.user.is_authenticated %}
                   href="{% url "logout" %}?next={{ request.path }}">
                   Log out
               {% else %}
                   href="{% url "login" %}">
                   Members
               {% endif %}
            </a><br>
            {% endblock top-nav %}

            {% if request.user.is_staff %}

                <a class="josstaffbutton  pull-right"
                   style="position: fixed; top: 85px; left: 965px; font-size: 14pt; margin-right: 15px;"
                   href="{% url "josstaff:staff_base" %}?firstname={{ user.get_short_name }}">
                    {% trans "> Staff <" %}
                </a>

            {% endif %}

        </div>
    </div>

    <!-- BREADCRUMB -->
    {% block outer_breadcrumb %}
        {% block breadcrumb_menu %}
            {% include "pages/menus/breadcrumb.html" %}
            <div class="pull-right"
                 style="color: rgb(112, 154, 109); font-family: 'Stalemate', cursive; font-size: 36pt; font-weight: bold; margin: -15px 0 0 0; padding: 0 0 0 20px; line-height: 1.1; background-color: white;">
               Hi {{ request.user.get_short_name }}
            </div>
        {% endblock %}
    {% endblock outer_breadcrumb %}

    {% block extra_bar %}{% endblock extra_bar %}

</div>

{% endblock base-fixed-top-bar %}

{% block center_content %}{% endblock %}

<!-- CONTENT -->
<div id="main_container" class="container"
     style="
            width: 1170px;
            margin-left: 20px;
            min-height: 350px;
            padding: 25px;
            transition: .6s ease-in-out all;
            z-index: 1;
            ">

    {% block all_content %}

        <div class="row" style="margin-top: 80px;">
            <div class="col-xs-5 col-xs-offset-1">
                Sorry, this content is missing - <br>
                Click:
                <button class="btn btn-warning btn "
                        style="border-radius: 15px; margin: 20px 10px;width: 80px;"
                        onclick="goBack()">
                    Back
                </button>
                <script>function goBack() {
                    window.history.back();
                }</script> and call us for help.
            </div>
        </div>

    {% endblock all_content %}
</div>

<!-- FOOTER -->
<footer>
    <div class="container" style="margin: 30px 0 0 -30px; padding: 0;">
        <div class="text-right" style="color: #d9534f; margin-bottom: 10px; margin-right: 5px;">
            <span style="color: black;">
                Remember, we are always here for you!&nbsp&nbsp&nbspPhone:
            </span>
            <b>(213) 465-0885</b>
            <span style="color: black;">
                or email:
            </span>
            <a style="color: #d9534f; outline-color: #d9534f; padding: 3px 10px;" href="mailto:Joinus@joinourstory.com">
                joinus@joinourstory.com
            </a>
        </div>
        {% page_menu "pages/menus/footer.html" %}

        <p class="text-left" style="font-size: 8pt; margin-top: 0;">
            Join Our Story is a California Benefit Corporation &copy 2014

            {% ifinstalled mezzanine.mobile %}
                <span class="separator">|</span>
                <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">
                    {% trans "View Mobile Site" %}
                </a>
            {% endifinstalled %}
        </p>
    </div>
    {% include "includes/footer_scripts.html" %}
</footer>

<script>

    function help_button(t) {
        $('#help_screen').slideToggle('slow');

        if ($("#help_button").hasClass("btn-danger")) {
            $("#help_button").text("Done").removeClass("btn-danger").addClass("btn-success");
            $("#main_container").addClass('moveDown');
        } else {
            $("#help_button").text("HELP!").removeClass("btn-success").addClass("btn-danger");
            $("#main_container").removeClass('moveDown');
        }
    }

</script>

</body>
</html>
