<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        <!-- fix favicon -->
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">{% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">{% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
        <link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

    <style>

        body {
            font-size: 14pt;
        }
        .navbar-default {
            background-image: none;
            background-repeat: no-repeat;
            border-radius: 4px;
            box-shadow: none;
            background-color: white;
            border-color: black;
            }

        footer {
            background-color: white;
            border-top: none;
            margin-top: 0;
            margin-bottom: 5px;
            padding-top: 15px;
            padding-bottom: 0;
        }

        .messages {
            margin-left: 20px;
            margin-top: 5px;
        }

        .alert {
            margin: 0;
        }

        .breadcrumb {
            color: rgb(65, 45, 120);
            font-size: 18pt;
        }

    </style>

</head>

<body id="{% block body_id %}body{% endblock %}" style="font-family: 'source sans pro', sans-serif;">

    <!-- FIXED TOP -->
    <div id="fixme" style="background-color: white; position: fixed; left: 0;right: 0; top:0; z-index: 1030;">
        <div class="container">

            <div class="nav navbar-default" role="navigation" >
                <div class="hidden-xs hidden-sm hidden-md col-md-2" style="background-color: transparent; padding-left: 30px;">
                    <div class="row">
                        <a href="/" class="pull-left">
                            <img style="height: 80px;" src="/static/img/JOSLogo121615.png">
                        </a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6" style="background-color: transparent;">
                    <div class="row">
                        {% nevercache %}
                            {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <img src="/static/img/peeky-123115.png" height="30px" style="margin-left: 5px;">
                                            <span style="color: black; font-family: 'Abril Fatface'; font-size: 14pt;">
                                                &nbsp&nbspPeeky: {{ message | title }}!
                                            </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="text-center" style="color: rgb(65, 45, 120); font-size: 14pt; line-height: 1; margin-top: 25px;">
                                    A storytelling community for<br>happier souls and healthier minds.
                                </p>
                            {% endif %}
                        {% endnevercache %}
                    </div>
                </div>


                <div class="col-sm-12 col-md-4" style="background-color: transparent;">
                    <div class="row">
                        {% include "includes/user_panel.html" %}
                    </div>
                </div>

            </div>

            <div class="row"><!-- Breadcrumbs -->
                <div class="col-xs-12" style="margin-top: 5px;">

                    <ul class="breadcrumb">FIX!!!
                        {% spaceless %}
                            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                        {% endspaceless %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <!-- CENTER -->
    <div class="container" style="background-color: springgreen; margin-top: 100px;">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="background-color: yellow">all_content</h3>{% block all_content %}
                    <div class="row">
                        <div class="col-sm-2" style="background-color: lightblue;">

                            <h3 style="background-color: yellow">left_panel</h3>{% block left_panel %}

                                <div class="panel panel-default tree">
                                    111{% page_menu "pages/menus/tree.html" %}
                                </div>

                            {% endblock left_panel %}<h3 style="background-color: yellow">end</h3>

                        </div>

                        <div class="col-sm-7" style="background-color: lavender;">

                            <h3 style="background-color: yellow">main</h3>{% block main %}
                                222
                            {% endblock main %}<h3 style="background-color: yellow">end</h3>

                        </div>

                        <div class="col-sm-3" style="background-color: lightcoral";>

                            <div class="panel panel-default">

                                <h3 style="background-color: yellow">right_panel</h3>{% block right_panel %}
                                    333
                                {% endblock right_panel %}<h3 style="background-color: yellow">end</h3>

                            </div>
                        </div>
                    </div>
                {% endblock all_content %}<h3 style="background-color: yellow">end</h3>
            </div>
        </div>
    </div>
</body>

<!-- FOOTER -->
<footer>
    <div class="container">
        {% page_menu "pages/menus/footer.html" %}

        <p class="text-left" style="font-size: 8pt; margin-top: 0;">
            Join Our Story is a California Benefit Corporation &copy 2014
            {% ifinstalled mezzanine.mobile %}
                <span class="separator">|</span>
                <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
            {% endifinstalled %}
        </p>
    </div>
    {% include "includes/footer_scripts.html" %}
</footer>

</html>
