{% extends "josstaff/staff_base.html" %}
{% load i18n tz pages_tags mezzanine_tags staticfiles %}

{% block outer_breadcrumb %}{% endblock outer_breadcrumb %}

{% block all_content %}

<style>

    #video_section {
        margin-top: -65px;
        padding: 0 0 10px 0;
        border-top: 3px solid rgba(65, 45, 120, .2);
        border-bottom: 3px solid rgba(65, 45, 120, .2);
    }

    #compose_input {
        font-size: 14pt;
        width: 100%;
        padding: 10px;
        border: 3px solid rgb(65, 45, 120);
    }

    .particbox {
        margin-top: 20px;
    }

    .videoContainer {
        background-color: transparent;
        margin: 0;
        outline: 7px solid rgb(65, 45, 120);
        padding: 0;
    }

    .nameContainer {
        color: green;
        font-family: "Open Sans", sans-serif;
        font-size: 18pt;
        margin-left: 0;
        margin-top: 5px;
        padding: 0;
    }

    .action {
        color: #f0ad4e;
        font-weight: bold;
        margin-left: 80px;
    }

    .info {
        color: #28a4c9;
        font-style: italic;
        margin-left: 80px;
    }

    .cntnt {
    }

    .usr {
        color: green;
    }

    .me {
        color: red;
    }

    td {
        border: none;
        padding: 0;
    }

    tr:hover {
        background-color: inherit;
    }

    .table {
        background-color: white;
        font-family: "Open Sans", sans-serif;
        margin: 0 10px;
        width: 97%;
    }

    .table > tbody > tr > td {
        border: none;
        border-top: 1px dashed rgb(65, 45, 120);
        line-height: normal;
        padding: 5px 0;
    }

    #shared_video {
        height: 650px;
        max-width: 800px;
        border: 5px solid rgb(65, 45, 120);
    }

    #messages_container {
        margin-top: 15px;
        height: 135px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    img {
        height: 100px;

    }
</style>

{# HTML #}
<div>
    <div id="video_section" class="row">

        TEMASYS_TEST.HTML // JOSName: {{ JOSName }}<br><br>

        {% if request.user.is_staff %}
            <button id="share_button" class="josstaffbutton" style="width: 300px;" onclick="controlShare()">
                Share screen
            </button><br><br><br>
        {% endif %}

        <div id="screen_share_container" class="col-xs-12 text-center hidden" style="padding: 15px;;">
            <video id="shared_video" autoplay></video>
        </div>

        <div id="audience_container" class="col-xs-12" style="padding: 0 15px; min-height: 100px;">
            <div class="col-xs-3">
                <video id="myvideo" muted autoplay></video>
            </div>
            <div class="col-xs-3">
                <img id="mypic" src="">
            </div>
        </div>
    </div>

    <div id="messages_section" class="row" style="background-color: rgba(65, 45, 120, .2); padding-bottom: 15px;">
        <div id="messages_container" class="col-xs-12 text-center"></div>
    </div>

    <div id="compose_section" class="row" style="padding-bottom: 15px; border: 3px solid rgba(65, 45, 120, .2); ">
        <div class="col-xs-12 text-center">
            <button id='new_message_button'
                    class="btn btn-warning invisible"
                    style="font-size: 14pt; width: 98%;"
                    onclick="goToNewMessages()"
                    disabled>
                New message - click here to scroll down.
            </button>
            <table style="margin: 10px 0 0 15px;">
                <tr>
                    <td style="width: 70%;">
                        <input id="compose_input" type="text" placeholder="Add your thought to the chat!">
                    </td>
                    <td>
                        <button class="btn btn-default" style="margin-left: 10px;" onclick="sendMessage()">
                            Send
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<canvas id="photo" style="display: none;" width="160" height="120"></canvas>
<audio id="alert" src="/static" style="display: none;"></audio>

{# Scripts #}
<script src="https://cdn.temasys.com.sg/skylink/skylinkjs/0.6.x/skylink.complete.js"></script>
<script charset="utf-8">

    //// layoutVideoContainers();
    {
        var adncCntnr = document.getElementById('audience_container'),
                scrnShrCntnr = document.getElementById('screen_share_container'),
                cmpsNpt = document.getElementById('compose_input'),
                mssgCntnr = document.getElementById('messages_container'),
                nwMssgBt = document.getElementById('new_message_button'),
                shrBt = document.getElementById('share_button');

        var
        // $msg = document.getElementById('msg'),
        // $chatcontainer = document.getElementById('chatcontainer').children[0],
        // $chatbox = document.getElementById('chatbox'),
        // $alert = document.getElementById('alert'),
                $users = adncCntnr,
                $video = document.getElementById('myvideo'),
                $pic = document.getElementById('mypic'),
                $photo = document.getElementById('photo'),
                user = {},
                peer_pics = {},
                peer_audios = [],
                audioTimeouts = {},
                last_pic = null,
                capture_timeout = null,
                click_timeout = null,
                online = false,
                focused = true,
                mediaOK = null,
                muted = false;

        // hash = location.hash.substr(1).replace('_', '-'),
        // room = location.hash.length > 1 ? location.hash : 'the public hallway';


        var josSkylink = new Skylink();

        josSkylink.setLogLevel(josSkylink.LOG_LEVEL.INFO);
        josSkylink.setDebugMode(true);
    }

    // media AccessSuccess
    josSkylink.on('mediaAccessSuccess', function (stream) {

        var prInf = josSkylink.getPeerInfo();

        console.log('mediaAccessSuccess: \n\n\n' +
                'peer_info: ' + JSON.stringify(prInf).split(',').join('\n'));
        attachMediaStream($video, stream);
        if (!user.name) {
            capture_timeout = setTimeout(capture, 1000);
            addMessage('Guide', "Media Access Success. Thanks", 'action' );
            //$msg.select();
            mediaOK = true; ////////////
        }
    });

    // media Access Error
    josSkylink.on('mediaAccessError', function (stream) {
        console.log('mediaAccessError');
        mediaOK = false;

        /* addMessage("I'll make you a bot like me", 'bot');
         $msg.select(); */

    });

    // Incoming Stream
    josSkylink.on("incomingStream", function (peerId, stream, isSelf) {
        var peerJOSName = josSkylink.getUserData(peerId)['name'];
        console.log('incomingStream peerId: ' + peerId + ', peerJOSName: ' + peerJOSName);

        if (isSelf) {
            //// attachMediaStream($video, stream);
        }
        else {
            var $audio = document.createElement('audio');
            $audio.id = "audio_" + peerId;
            $audio.autoplay = true;
            $audio.volume = focused ? 1 : 0.15;
            $users.appendChild($audio);
            attachMediaStream($audio, stream);
            peer_audios.push($audio);
        }

        /* var stpshr = peerJOSName.indexOf("stps");
         if (stpshr > 0) {
         peerJOSName = peerJOSName.slice(0, -6);
         $(scrnShrCntnr).addClass('hidden');
         $(adncCntnr).removeClass('hidden');
         addMessage(usr = 'Guide', cntnt = 'stopped share', clssnm = 'info');
         }
         var shrscrn = peerJOSName.indexOf("shar");
         if (shrscrn > 0) {

         $(adncCntnr).addClass('hidden');
         $(scrnShrCntnr).removeClass('hidden');
         var reclaimedID = ' ';
         for (c = 1; c < 13; c++) {
         var othtestId = '#vid_' + c + '_' + peerId;
         if ($(othtestId).length) {
         reclaimedID = othtestId.substr(1);
         break;
         }
         }

         var pstn = reclaimedID.split('_')[1].toString();
         reParticBox = document.getElementById('box_' + pstn);
         $(reParticBox).addClass('hidden');
         var videoBoxId = 'vid_' + pstn + '_empty';
         var nameBoxId = 'name_' + pstn;
         var particBoxLayout = [
         "<div class='row'>",
         "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
         "    </video>",
         "</div>",
         '<div class="row">',
         "   <div id=" + nameBoxId + " class='text-center nameContainer'></div>",
         '</div>'
         ].join('\n');
         $(reParticBox).html(particBoxLayout);
         addMessage(usr = 'Guide', cntnt = 'started share', clssnm = 'info');
         vidBox = document.getElementById('shared_video'); */ // Screenshare

        /* if (peerJOSName !== '???') {
         $(particBox).removeClass('hidden');
         // josSkylink.getUserMedia(function (error, success) {
         // if (error) return;
         // attachMediaStream(vidBox, success);
         // });
         attachMediaStream(vidBox, stream);
         } */ // Ingognito
    });


    // Peer Joined
    josSkylink.on('peerJoined', function (peerId, peerInfo, isSelf) {
        console.log('peerJoined: ' + peerId);

        if (isSelf) {
            online = true;
            peerJOSName = 'Me';
            if (mediaOK === false) {
                $pic.src = last_pic = "https://www.joinourstory.com/static/img/coming-soon-profile.png";
                $pic.style.display = "inline";
            }
        }
        else {
            var info = josSkylink.getPeerInfo(peerId);
            var $img = addUserImage(peerId, info.userData.name);
            $img.src = peer_pics[peerId] = "https://www.joinourstory.com/static/img/coming-soon-profile.png";

            peerJOSName = josSkylink.getUserData(peerId)['name'];
            addMessage(peerJOSName, 'has joined chat', 'info');

        }
    });


    // Peer left
    josSkylink.on('peerLeft', function (peerId, peerInfo, isSelf) {
        console.log('peerLeft peerId: ' + peerId);

        if (isSelf) {
            online = false;
            addMessage('Guide', 'Come back soon!', 'action');
        }
        else {
            var $img = document.getElementById("img_" + peerId);
            var $span = document.getElementById("span_" + peerId);
            var $audio = document.getElementById("audio_" + peerId);
            $($img).remove();
            $($span).remove();
            $($audio).remove();
            addMessage(peerJOSName, 'has left chat', 'info');
        }
    });


    // Init: ENCRYPT ROOM NAME
    josSkylink.init({
                apiKey: '441543cd-a1c5-4d93-a25c-3339daa9b959', defaultRoom: 'Main'
            },
            function (error, success) {
                if (error) {
                    console.log('skylink init error: ' + error);
                    return;
                }

                console.log('josSkylink.init success: ') // + JSON.stringify(success).split(',').join('\n'));
                josSkylink.setUserData({    //// PROBLEM?  in other place in cowork.
                    name: '{{ JOSName }}'
                });
                josSkylink.getUserMedia({
                    video: {
                        resolution: {
                            width: 160,
                            height: 120
                        },
                        frameRate: 5
                    },
                    audio: true,
                });

                josSkylink.joinRoom();

                addMessage('Guide', 'init: Hi ' + ' {{ JOSName }} ' + ' ---- please share your cam, if asked.', 'action');
            });


    josSkylink.on('dataChannelState', function (state) {
        console.log('dataChannelState state: ' + state);
    });

    josSkylink.on('dataTransferState', function (state, transferId, peerId, transferInfo, error) {
        console.log('dataTransferState called');

        if (state === josSkylink.DATA_TRANSFER_STATE.UPLOAD_REQUEST) {
            console.log('dataTransferState UPLOAD_REQUEST called');
            josSkylink.respondBlobRequest(peerId, true);
            console.log("Incoming Request from " + peerId);
        }
        else if (state === josSkylink.DATA_TRANSFER_STATE.DOWNLOAD_COMPLETED) {
            console.log("Download completed from " + peerId);
            var $img = document.getElementById("img_" + peerId);

            blob2dataURL(transferInfo.data, function (data) {
                peer_pics[peerId] = data;
                $img.src = data;
            });
        }
        else if (error && error.message) {
            console.log(error.message);
        }
    });

    function addUserImage(peerId, name) {

        console.log('addUserImage called peerId: ' + peerId);

        var div = document.createElement('div');
        $(div).addClass('col-xs-3 text-center');
        $users.appendChild(div);
        var $img = document.createElement('img');
        $img.id = "img_" + peerId;
        div.appendChild($img);

        var $span = document.createElement('p');
        $span.id = "span_" + peerId;
        $span.textContent = name;

        div.appendChild($span);

        return $img;
    }


    function capture() {

        console.log('Capture called');

        if (mediaOK !== true) {
            return;
        }

        clearTimeout(capture_timeout);

        var ctx = $photo.getContext("2d");
        ctx.drawImage($video, 0, 0, 160, 120);

        last_pic = $photo.toDataURL('image/jpeg', 0.8);

        $pic.src = last_pic;


        var blob = dataURL2Blob(last_pic);

        console.log("blob.size: " + blob.size);

        josSkylink.sendBlobData(blob, {
            size: blob.size,
            name: (new Date()).toString()
        });

        capture_timeout = setTimeout(capture, 10000);
    }


    function dataURL2Blob(dataURL) {

        // console.log("dataURL2Blob dataURL: " + dataURL);

        var parts, contentType, raw;
        var BASE64_MARKER = ';base64,';
        if (dataURL.indexOf(BASE64_MARKER) == -1) {
            parts = dataURL.split(',');
            contentType = parts[0].split(':')[1];
            raw = decodeURIComponent(parts[1]);

            return new Blob([raw], {type: contentType});
        }

        parts = dataURL.split(BASE64_MARKER);
        contentType = parts[0].split(':')[1];
        raw = window.atob(parts[1]);
        var rawLength = raw.length;

        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], {type: contentType});
    }

    function blob2dataURL(blob, callback) {

        console.log("blob2dataURL blob: " + blob);

        var fr = new FileReader();
        fr.readAsDataURL(blob);
        fr.onloadend = function () {
            callback(fr.result);
        }
    }

    // Chat
    {
        // Incoming Message
        josSkylink.on('incomingMessage', function (message, peerId, peerInfo, isSelf) {
            var user = 'Me', className = 'message';
            if (!isSelf) {
                user = josSkylink.getUserData(peerId)['name'];
            }
            addMessage(user, message.content, className);
        });

        mssgCntnr.onscroll = function () {
            var isAtBottom = (mssgCntnr.scrollHeight - mssgCntnr.scrollTop) === mssgCntnr.clientHeight;
            if (isAtBottom) {
                $(nwMssgBt).addClass('invisible').prop("disabled", true);
            }
        };

        function goToNewMessages() {
            mssgCntnr.scrollTop = mssgCntnr.scrollHeight;
            $(nwMssgBt).addClass('invisible').prop("disabled", true);
        }

        function addMessage(usr, cntnt, clssnm) {
            var div = document.createElement('table');
            $(div).addClass('table ' + clssnm);
            var cntntClass = 'cntnt';
            if (usr == 'Me') {
                cntntClass = 'cntnt me';
            }
            chatMessage = [
                "<tr class='chat-message'>",
                "    <td class='usr' style='overflow-x: hidden; width: 12%; padding-left: 10px;'>" + usr + "</td>",
                "    <td class='" + cntntClass + "' style='overflow-x: hidden;'> " + cntnt + " </td>",
                "</tr>"
            ].join('\n');
            div.innerHTML = chatMessage;
            var isAtBottom = (mssgCntnr.scrollHeight - mssgCntnr.scrollTop) === mssgCntnr.clientHeight;
            mssgCntnr.appendChild(div);
            if (isAtBottom) {
                mssgCntnr.scrollTop = mssgCntnr.scrollHeight;
            } else {
                $(nwMssgBt).removeClass('invisible').prop("disabled", false);
            }
        }

        function sendMessage() {
            josSkylink.sendP2PMessage(cmpsNpt.value);
            cmpsNpt.value = '';
        }

        $(cmpsNpt).keypress(function (e) {  // sends message on return
            if (e.which == 13) {
                sendMessage();
            }
        });
    }

    // Screen share
    function controlShare() {

        var name = 'missing';
        if (shrBt.innerText == "Share screen") {
            shrBt.innerText = "Stop share";

            name = josSkylink.getUserData()['name'] + ', shar';
            josSkylink.setUserData({
                name: name
            });

            josSkylink.shareScreen();

        } else {

            shrBt.innerText = "Share screen";
            name = josSkylink.getUserData()['name'].slice(0, -6);
            josSkylink.setUserData({
                name: name + ', stps'
            });

            josSkylink.stopScreen();
            josSkylink.setUserData({
                name: name
            });
        }
    }

    // Layout

    function layoutVideoContainers() {
        for (i = 0; i < 1; i++) {
            var rowI = document.createElement('div');
            $(rowI).addClass('row');
            rowI.id = 'row_' + i;
            document.getElementById('audience_container').appendChild(rowI);
            for (j = 1; j < 3; j++) {
                var pstn = (i * 2) + j;
                var newParticBox = document.createElement('div');
                $(newParticBox).addClass('col-xs-3 text-center particbox'); // hidden
                newParticBox.id = 'box_' + pstn;
                var videoBoxId = 'vid_' + pstn + '_empty';
                var nameBoxId = 'name_' + pstn;
                var particBoxLayout = [
                    "<div class='row'>",
                    "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
                    "    </video>",
                    "</div>",
                    '<div class="row">',
                    "   <div id=" + nameBoxId + " class='text-center nameContainer'></div>",
                    '</div>'
                ].join('\n');
                $(newParticBox).html(particBoxLayout);
                rowI.appendChild(newParticBox);
            }
        }
    }



</script>

{% endblock all_content %}

