<script>

    var ck_editor = null;
    var sect2edit = '{{ sect }}';

    var ck_editor_container = document.getElementById(sect2edit + '_editor_container'),
        edit_btn = document.getElementById(sect2edit + '_edit_btn'),
        edit_element = document.getElementById(sect2edit + '_original_content');

    var old_content = "{{ orig_content | escapejs }}";
    $(edit_element).html('{{ orig_content | escapejs }}');

    var ck_config_small = {
        toolbar: [
            {'name': 'clipboard', 'items': ['Undo', 'Redo', 'Cut', 'Copy', 'Paste']},
            {'name': 'editing', 'items': ['SelectAll', 'Find']}
        ],
        contentsCss: '/static/ckeditor/ckeditor/contents.css',
        disableNativeSpellChecker: false,
        width: '100%',
        height: 360,
        tabSpaces: 4,
        uiColor: '#28a4c9',
        extraPlugins: 'colorbutton',
        removePlugins: 'liststyle,tabletools,scayt,contextmenu'
    };

    var ck_config_large = {
        toolbar: [
            {'name': 'clipboard', 'items': ['Undo', 'Redo', 'Cut', 'Copy', 'Paste']},
            {'name': 'styles', 'items': ['Font', 'FontSize']},
            {
                'name': 'basicstyles',
                'items': ['Bold', 'Italic', 'Underline', 'Strike', '-', 'TextColor', 'BGColor']
            },
            {
                'name': 'paragraph',
                'items': ['JustifyLeft', 'JustifyCenter', 'JustifyRight', '-', 'NumberedList', 'BulletedList']
            },
            {'name': 'insert', 'items': ['Image', 'Smiley']},
            {'name': 'editing', 'items': ['SelectAll', 'Find']}
        ],
        contentsCss: '/static/ckeditor/ckeditor/contents.css',
        width: '100%',
        height: 360,
        tabSpaces: 4,
        uiColor: '#28a4c9',
        removePlugins: 'liststyle,tabletools,scayt,contextmenu',
        extraPlugins: 'colorbutton'
    };

    var ck_config = ck_config_small;
    var config = '{{ config }}';
    if (config === 'large') {
        ck_config = ck_config_large;
    }

    window.onbeforeunload = function () {
        console.log('unload called');
        if (ck_editor) {
            console.log('ckeditor found; trying to save');
            josCKEdit(sect2edit);
            session_data_update('editor_status');
        }
    };

    // editor
    function josCKEdit(sect2edit) {
        console.log('editor called with: ' + sect2edit);
        var ck_editor_container = document.getElementById(sect2edit + '_editor_container'),
            edit_btn = document.getElementById(sect2edit + '_edit_btn'),
            edit_element = document.getElementById(sect2edit + '_original_content');

        if ($(edit_btn).hasClass('btn-info')) {
            console.log('editor has class info');
            if (ck_editor) {
                return;
            }

            $(edit_btn).removeClass('btn-info').addClass('btn-success').text('Save').attr("data-original-title", "Saves changes");
            $('#' + sect2edit + '_cancel_btn').show();
            $(edit_element).hide();
            ck_editor = CKEDITOR.appendTo(ck_editor_container, ck_config, $(edit_element).html());

            // Save CK
        } else {
            console.log('editor does not have info');
            if (!ck_editor) {
                return;
            }

            // Retrieve the editor contents. Ajax send to server.

            var new_note_content = ck_editor.getData();
            $.ajax({
                type: "POST",
                url: '/help_update/',
                data: {'new_note_content': new_note_content},
                success: function () {
                    console.log('successfully posted:  ' + new_note_content);
                }
            });
            $(edit_element).html(new_note_content);
            josCKDestroy(sect2edit);
        }
    }

    function josCKDestroy(sect2destroy) {

        console.log('editor destroy called');

        var edit_element = document.getElementById(sect2destroy + '_original_content');
        var edit_btn = document.getElementById(sect2edit + '_edit_btn');

        $(edit_element).show();
        $('#' + sect2destroy + '_cancel_btn').hide();
        $(edit_btn).removeClass('btn-success').addClass('btn-info').text('Edit').attr("data-original-title", "Activates editor");
        ck_editor.destroy();
        ck_editor = null;

    }

</script>