{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
    {% blocktrans %}
        <h2>Congratulations You Are a Winners!</h2>
        <p>
            Welcome to your new Mezzanine Adam powered website.
            Here are some quick links to get you started:
        </p>
        <ul>
            <li><a href="/admin/">Log in to the admin interface</a></li>
            <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
            <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
            <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
        </ul>
    {% endblocktrans %}
{% endblock %}
