{% extends "base.html" %}
{% block meta_title %}{% endblock %}
{% block title %}{% endblock %}
{% block breadcrumb_menu %}{{ block.super }}Dev Playground{% endblock %}
{% block help %}{% endblock %}
{% block logout %}{% endblock %}
{% block base-fixed-top-bar %}{% endblock %}
{% block footer %}{% endblock %}

{% block all_content %}

<!-- HTML Section -->

<div id="mouse_report" style="margin-top: -50px; height: 100px; width: 500px;">Mouse position:</div>

<div class="row" >
    <div class="col-xs-12 text-center">
        <canvas id="test_canvas" width="800" height="800"
                style="margin-top: 50px; outline: 3px solid blue;">
            Your browser does not support HTML5 Canvas.
        </canvas>
    </div>
</div>

<!-- SCRIPTS -->
<script>

    var square_names = ['hub', 'enjoy', 'create', 'share'];
    var MR = document.getElementById('mouse_report');
    var C = document.getElementById('test_canvas');     // Canvas
    var ctx = C.getContext('2d');                       // Canvas contest

    var paths = [];                                     // Array to hold paths for ctx shapes

    var oldSquare = 0, newSquare = 0;                   // Used for hover

    // starts canvas
    $(document).ready(function () {
        redraw();
    });

    // Called on major page state changes to redraw canvas
    function redraw() {
        console.log('drawing');
        ctx.clearRect(0, 0, C.width, C.height);
        paths = [];
        var path1 = new Path2D();

        ctx.lineWidth = 2;

        path1.rect(600, 100, 100, 400);
        ctx.stroke(path1);
        paths.push(path1);

    }

    // Tracks mouse in document
    $(document).mousemove(function (e) {
        var rect = C.getBoundingClientRect();

        var hover = $('#test_canvas:hover').length;

        var mousePos = getMousePos(C, e);

        var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y
                + ' - hover: ' + hover;
        // ', old square: ' + oldSquare + ', new square: ' + newSquare;

        $(MR).text(message);

        if (hover === 1) {

            for (i = 0; i < 5; i++) {
                if (ctx.isPointInPath(paths[i], mousePos.x, mousePos.y)) {
                    $(MR).append('<br> -- in path');
                    newSquare = i + 1;
                    break
                } else {
                    newSquare = 0;
                }
            }
        }

        if (newSquare !== oldSquare) {
            redraw();
            if (newSquare !== 0) {
                ctx.save();
                ctx.fillStyle = "red";
                ctx.globalAlpha = 0.6;
                ctx.fill(paths[newSquare - 1]);
                ctx.restore();
            }

            oldSquare = newSquare;
        }
    });


    // mouse events within canvas - click
    C.addEventListener('click', function (e) {
        var segment = 0;
        var mousePos = getMousePos(C, e);
        for (i = 0; i < 5; i++) {
            if (ctx.isPointInPath(paths[i], mousePos.x, mousePos.y)) {
                segment = i + 1;
                break
            }
        }

        console.log(squares[segment] + ' clicked');
    });


    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }


</script>

{% endblock all_content %}
