{% extends "josstaff/staff_base.html" %}
{% load i18n tz pages_tags mezzanine_tags staticfiles %}

{% block outer_breadcrumb %}{% endblock outer_breadcrumb %}

{% block all_content %}

<style>

    #video_section {
        margin-top: -40px;
        padding: 0 0 10px 0;
        border-top: 3px solid rgba(65, 45, 120, .2);
        border-bottom: 3px solid rgba(65, 45, 120, .2);
    }

    #compose_input {
        font-size: 14pt;
        width: 100%;
        padding: 10px;
        border: 3px solid rgb(65, 45, 120);
    }

    .action {
        color: #28a4c9;
        font-style: italic;
        margin-left: 80px;
    }

    .cntnt {
    }

    .usr {
        color: green;
    }

    .me {
        color: red;
    }

    td {
        border: none;
        padding: 0;
    }

    tr:hover {
        background-color: inherit;
    }

    .table {
        background-color: white;
        font-family: "Open Sans", sans-serif;
        margin: 0 10px;
        width: 97%;
    }

    .table > tbody > tr > td {
        border: none;
        border-top: 1px dashed rgb(65, 45, 120);
        line-height: normal;
        padding: 5px 0;
    }

    #shared_video {
        height: 650px;
        max-width: 800px;
        border: 5px solid rgb(65, 45, 120);
    }

    #messages_container {
        margin-top: 15px;
        height: 135px;
        overflow-x: hidden;
        overflow-y: auto;
    }

</style>

{# HTML #}
<div>

<div id="video_section" class="row" style=" ">


    {% if JOSName == "Celeste_D" or JOSName == "Adam_S" %}
        <button id="share_button" class="josstaffbutton" style="margin-right: 15px; width: 200px;" onclick="controlShare()">
            Share screen
        </button>
    {% endif %}<br>

    <div id="screen_share_container" class="col-xs-12 text-center hidden" style="padding: 15px;;">
        <video id="shared_video" autoplay></video>
    </div>

    <div id="audience_container" class="col-xs-12" style="padding: 0 15px; min-height: 300px;"></div>
</div>

<div id="messages_section" class="row" style="background-color: rgba(65, 45, 120, .2); padding-bottom: 15px;">
    <div id="messages_container" class="col-xs-12 text-center"></div>
</div>

<div id="compose_section" class="row" style="padding-bottom: 15px; border: 3px solid rgba(65, 45, 120, .2); ">
    <div class="col-xs-12 text-center">
        <button id='new_message_button'
                class="btn btn-warning invisible"
                style="font-size: 14pt; width: 98%;"
                onclick="goToNewMessages()"
                disabled>
            New message - click here to scroll down.
        </button>
        <table style="margin: 10px 0 0 15px;">
            <tr>
                <td style="width: 70%;">
                    <input id="compose_input" type="text" placeholder="Add your thought to the chat!">
                </td>
                <td>
                    <button class="btn btn-default" style="margin-left: 10px;" onclick="sendMessage()">
                        Send
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>

<style>
    .nameContainer {
        background-color: white;
        color: rgb(112, 154, 109);
        font-family: "Open Sans", sans-serif;
        font-size: 16pt;
        font-weight: bold;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 2px 0 2px 8px;
        position: absolute;
        text-align: left;
        width: 100%;
    }

    .particbox {
        background-color: red;
        border: 4px solid rgb(65, 45, 120);
        margin: 0;
    }

    .videoContainer {
        margin: 0;
        padding: 0;
        width: 280px;
        height: 210px;
    }

    .mute-button {
        color: white;
        background-color: rgb(112, 154, 109);
        border: none;
        height: 43px;
        outline: none;
        padding: 0 20px;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 199;
    }

</style>

{# Scripts #}
<script src="https://cdn.temasys.com.sg/skylink/skylinkjs/0.6.x/skylink.complete.js"></script>
<script charset="utf-8">

    layoutVideoContainers();

    // Vars
    {
        var adncCntnr = document.getElementById('audience_container'),
            scrnShrCntnr = document.getElementById('screen_share_container'),
            cmpsNpt = document.getElementById('compose_input'),
            mssgCntnr = document.getElementById('messages_container'),
            nwMssgBt = document.getElementById('new_message_button'),
            shrBt = document.getElementById('share_button');

        var josSkylink = new Skylink();

        //// josSkylink.setLogLevel(josSkylink.LOG_LEVEL.INFO);
        //// josSkylink.setDebugMode(true);
    }

    function mutePeer() {
        alert('mute');
    }

    // Events
    {
    // media Access Required
    josSkylink.on('mediaAccessRequired', function (stream) {
        console.log('mediaAccessRequired');
        josSkylink.getUserMedia({
            video: {
                resolution: {
                    width: 160,
                    height: 120
                },
                frameRate: 10
            },
            audio: true
        });
    });

    // media Access Success
    josSkylink.on('mediaAccessSuccess', function (stream) {
        console.log('mediaAccessSuccess');
    });

    // media Access Error
    josSkylink.on('mediaAccessError', function (stream) {
        console.log('mediaAccessError');
    });

    // Incoming Stream
    josSkylink.on("incomingStream", function (peerId, stream, isSelf) {
        var peerJOSName = josSkylink.getUserData(peerId)['name'];
        console.log('incomingStream peerId: ' + peerId + ', peerJOSName: ' + peerJOSName);

        var stpshr = peerJOSName.indexOf("stps");
        if (stpshr > 0) {
            peerJOSName = peerJOSName.slice(0, -6);
            $(scrnShrCntnr).addClass('hidden');
            $(adncCntnr).removeClass('hidden');
            addMessage(usr = 'Guide', cntnt = 'stopped share', clssnm = 'action');
        }
        var shrscrn = peerJOSName.indexOf("shar");
        if (shrscrn == -1) {
            for (c = 1; c < 13; c++) {
                var testId = '#vid_' + c + '_empty';
                if ($(testId).length) {
                    var nextEmptyID = testId.substr(1);
                    break;
                }
            }

            var vidBox = document.getElementById(nextEmptyID);
            vidBox.id = nextEmptyID.slice(0, -5) + peerId;
            var nameBoxID = 'name_' + vidBox.id.split('_')[1].toString();
            var nameBox = document.getElementById(nameBoxID);
            nameBox.innerHTML = peerJOSName;
            var particBox = document.getElementById('box_' + vidBox.id.split('_')[1].toString());

            vidBox.autoplay = 'autoplay';
            if (isSelf) {
                $(vidBox).css('transform', 'rotateY(-180deg)', 'z-index', '10');
            }

        } else {

            $(adncCntnr).addClass('hidden');
            $(scrnShrCntnr).removeClass('hidden');
            var reclaimedID = ' ';
            for (c = 1; c < 13; c++) {
                var othtestId = '#vid_' + c + '_' + peerId;
                if ($(othtestId).length) {
                    reclaimedID = othtestId.substr(1);
                    break;
                }
            }

            var pstn = reclaimedID.split('_')[1].toString();
            reParticBox = document.getElementById('box_' + pstn);
            $(reParticBox).addClass('hidden');
            var videoBoxId = 'vid_' + pstn + '_empty';
            var nameBoxId = 'name_' + pstn;
            var particBoxLayout = [
                "<div class='row'>",
                "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
                "    </video>",
                "</div>",
                '<div class="row">',
                "   <div id=" + nameBoxId + " class='text-center nameContainer'></div>",
                '</div>'
            ].join('\n');
            $(reParticBox).html(particBoxLayout);
            addMessage(usr = 'Guide', cntnt = 'started share', clssnm = 'action');
            vidBox = document.getElementById('shared_video');
        }
        if (isSelf) {
            vidBox.muted = true;
        }

        if (peerJOSName !== '???') {
            $(particBox).removeClass('hidden');
            // josSkylink.getUserMedia(function (error, success) {
                // if (error) return;
                // attachMediaStream(vidBox, success);
            // });
            attachMediaStream(vidBox, stream);
        }
    });

    // Incoming Message
    josSkylink.on('incomingMessage', function (message, peerId, peerInfo, isSelf) {
        var user = 'Me', className = 'message';
        if (!isSelf) {
            user = josSkylink.getUserData(peerId)['name'];
        }
        addMessage(user, message.content, className);
    });

    // Peer Joined
    josSkylink.on('peerJoined', function (peerId, peerInfo, isSelf) {
        console.log('peerJoined: ' + peerId);
        peerJOSName = 'Me';
        if (!isSelf) {

            peerJOSName = josSkylink.getUserData(peerId)['name'];
            addMessage(peerJOSName, 'has joined chat', 'action');
        }
    });

    // Peer left
    josSkylink.on('peerLeft', function (peerId, peerInfo, isSelf) {
        console.log('peerLeft peerId: ' + peerId);
        if (!isSelf) {

            var reclaimedID = ' ';
            for (c = 1; c < 13; c++) {
                var testId = '#vid_' + c + '_' + peerId;
                if ($(testId).length) {
                    reclaimedID = testId.substr(1);
                    break;
                }
            }

            var pstn = reclaimedID.split('_')[1].toString();
            reParticBox = document.getElementById('box_' + pstn);
            $(reParticBox).addClass('hidden');
            var videoBoxId = 'vid_' + pstn + '_empty';
            var nameBoxId = 'name_' + pstn;
            var particBoxLayout = [
                "<div class='row'>",
                "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
                "    </video>",
                "</div>",
                '<div class="row">',
                "   <div id=" + nameBoxId + " class='text-center nameContainer'></div>",
                '</div>'
            ].join('\n');
            $(reParticBox).html(particBoxLayout);
            addMessage(peerJOSName, 'has left chat', 'action');
        }
    });

    // Init: ENCRYPT ROOM NAME
    josSkylink.init({apiKey: '441543cd-a1c5-4d93-a25c-3339daa9b959', defaultRoom: 'Main'}, function () {
        console.log('Joining room');
        josSkylink.joinRoom({
            audioFallback: true,
            audio: true,
            video: true,
            manualGetUserMedia: true
        });

        josSkylink.setUserData({
            name: '{{ JOSName }}'
        });
    });
    }

    // Layout
    function layoutVideoContainers() {
        for (i = 0; i < 3; i++) {
            var rowI = document.createElement('div');
            $(rowI).addClass('row');
            rowI.id = 'row_' + i;
            document.getElementById('audience_container').appendChild(rowI);
            for (j = 1; j < 5; j++) {
                var pstn = (i * 4) + j;
                var newParticBox = document.createElement('div');
                $(newParticBox).addClass('col-xs-3 text-center particbox hidden');
                newParticBox.id = 'box_' + pstn;
                var videoBoxId = 'vid_' + pstn + '_empty';
                var nameBoxId = 'name_' + pstn;
                var particBoxLayout = [
                    "<div class='row'>",
                    "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
                    "    </video>",
                    "</div>",
                    "<button class = 'btn mute-button' onclick='mutePeer();'>Mute</button>",
                    "<div class='row'>",
                    "   <div id=" + nameBoxId + " class='text-center nameContainer'>",
                    "   </div>",
                    '</div>'
                ].join('\n');
                $(newParticBox).html(particBoxLayout);
                rowI.appendChild(newParticBox);
            }
        }
    }

    // Chat & Screen share
    {
        mssgCntnr.onscroll = function () {
            var isAtBottom = (mssgCntnr.scrollHeight - mssgCntnr.scrollTop) === mssgCntnr.clientHeight;
            if (isAtBottom) {
                $(nwMssgBt).addClass('invisible').prop("disabled", true);
            }
        };

        function goToNewMessages() {
            mssgCntnr.scrollTop = mssgCntnr.scrollHeight;
            $(nwMssgBt).addClass('invisible').prop("disabled", true);
        }

        function addMessage(usr, cntnt, clssnm) {
            var div = document.createElement('table');
            $(div).addClass('table ' + clssnm);
            var cntntClass = 'cntnt';
            if (usr == 'Me') {
                cntntClass = 'cntnt me';
            }
            chatMessage = [
                "<tr class='chat-message'>",
                "    <td class='usr' style='overflow-x: hidden; width: 12%; padding-left: 10px;'>" + usr + "</td>",
                "    <td class='" + cntntClass + "' style='overflow-x: hidden;'> '" + cntnt + "'</td>",
                "</tr>"
            ].join('\n');
            div.innerHTML = chatMessage;
            var isAtBottom = (mssgCntnr.scrollHeight - mssgCntnr.scrollTop) === mssgCntnr.clientHeight;
            mssgCntnr.appendChild(div);
            if (isAtBottom) {
                mssgCntnr.scrollTop = mssgCntnr.scrollHeight;
            } else {
                $(nwMssgBt).removeClass('invisible').prop("disabled", false);
            }
        }

        function sendMessage() {
            josSkylink.sendP2PMessage(cmpsNpt.value);
            cmpsNpt.value = '';
        }

        $(cmpsNpt).keypress(function (e) {  // sends message on return
            if (e.which == 13) {
                sendMessage();
            }
        });

        function controlShare() {

            var name = 'missing';
            if (shrBt.innerText == "Share screen") {
                shrBt.innerText = "Stop share";

                name = josSkylink.getUserData()['name'] + ', shar';
                josSkylink.setUserData({
                    name: name
                });

                josSkylink.shareScreen();

            } else {

                shrBt.innerText = "Share screen";
                name = josSkylink.getUserData()['name'].slice(0, -6);
                josSkylink.setUserData({
                    name: name + ', stps'
                });

                josSkylink.stopScreen();
                josSkylink.setUserData({
                    name: name
                });
            }
        }

    }

</script>

{% endblock all_content %}

