{% extends "josstaff/staff_base.html" %}
{% load i18n tz pages_tags mezzanine_tags staticfiles %}

{% block outer_breadcrumb %}{% endblock outer_breadcrumb %}

{% block all_content %}

<style>

    #videoSection {
        margin-top: -65px;
        padding: 0 0 10px 0;
        border-top: 3px solid rgb(231, 209, 222);
        border-bottom: 3px solid rgb(231, 209, 222);
    }

    .particbox {
        margin-top: 20px;
    }

    .videoContainer {
        background-color: transparent;
        height: 180px;
        margin: 0;
        outline: 7px solid rgb(65, 45, 120);
        padding: 0;
        width: 240px;
    }

    .nameContainer {
        color: green;
        font-family: "Open Sans", sans-serif;
        font-size: 18pt;
        margin-left: 0;
        margin-top: 5px;
        padding: 0;
    }

    #composeContainer {

    }

    .action {
        color: #28a4c9;
        font-style: italic;
        margin-left: 80px;
    }

    .cntnt {
    }

    .usr {
        color: green;
    }
    
    .me {
        color: red;
    }

    .table {
        background-color: white;
        font-family: "Open Sans", sans-serif;
        margin: 0 10px;
        width: 97%;
    }

    .table > tbody > tr > td {
        border: none;
        border-top: 1px dashed rgb(65,45,120);
        line-height: normal;
        padding: 5px 0;
    }

    #composeSection { }

    td {
        border: none;
        padding: 0;
    }

    tr:hover {
        background-color: inherit;
    }

</style>

{# HTML #}
<div>
<div id="videoSection" class="row">
    <div id="audienceContainer" class="col-xs-12" style="padding: 0 15px; min-height: 250px;"></div>
</div>

<div id="messagesSection" class="row" style="background-color: rgb(231, 209, 222); padding-bottom: 15px;">
    <div id="messagesContainer"
         class="col-xs-12"
         style="margin-top: 15px;
                height: 135px;
                overflow-x: hidden;
                overflow-y: auto;">
    </div>
</div>

<div id="composeSection" class="row" style="padding-bottom: 15px; border: 3px solid rgb(231, 209, 222); ">
    <div class="col-xs-12 text-center">
        <button id='newMessageButton'
                class="btn btn-warning invisible"
                style="font-size: 14pt; width: 98%;"
                onclick="goToNewMessages()"
                disabled>
            New message - click here to scroll down
        </button>
        <table style="margin: 10px 0 0 15px;">
            <tr>
                <td style="width: 70%;">
                    <input id="composeInput" type="text"
                           style="font-size: 14pt;
                                  width: 100%;
                                  padding: 10px;
                                  border: 3px solid rgb(65,45,120);"
                           placeholder="Add your thought to the chat!">
                </td>
                <td>
                    <button class="btn btn-default" style="margin-left: 10px;" onclick="sendMessage()">
                        Send
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>

{# Scripts #}
<script src="https://cdn.temasys.com.sg/skylink/skylinkjs/0.6.x/skylink.complete.min.js"></script>
<script charset="utf-8">

    LayoutVideoContainers();

    var JOSSkylink = new Skylink();
    var composeInput = document.getElementById('composeInput');

// ----
// Chat
// ----

    var mc = document.getElementById('messagesContainer');
    var newMessageButton = document.getElementById('newMessageButton');

    mc.onscroll = function() {
        var isAtBottom = (mc.scrollHeight - mc.scrollTop) === mc.clientHeight;
        if (isAtBottom) {
            $(newMessageButton).addClass('invisible').prop("disabled", true);
        }
    };

    function goToNewMessages() {
        mc.scrollTop = mc.scrollHeight;
        $(newMessageButton).addClass('invisible').prop("disabled", true);
    }

    function addMessage(usr, cntnt, clssnm) {
        console.log("addMessage: " + cntnt);

        var div = document.createElement('table');
        $(div).addClass('table ' + clssnm);

        var cntntClass = 'cntnt';
        if (usr == 'Me') {
            cntntClass = 'cntnt me';
        }

        chatMessage = [
            "<tr class='chat-message'>",
            "    <td class='usr' style='overflow-x: hidden; width: 12%; padding-left: 10px;'>" + usr + "</td>",
            "    <td class='" + cntntClass + "' style='overflow-x: hidden;'> '" + cntnt + "'</td>",
            "</tr>"
        ].join('\n');

        div.innerHTML = chatMessage;
        var isAtBottom = (mc.scrollHeight - mc.scrollTop) === mc.clientHeight;
        mc.appendChild(div);
        if (isAtBottom) {
            mc.scrollTop = mc.scrollHeight;
        } else {
            $(newMessageButton).removeClass('invisible').prop("disabled", false);
        }
    }

    function sendMessage() {
        JOSSkylink.sendP2PMessage(composeInput.value);
        console.log("sendMessage: " + composeInput.value);
        composeInput.value = '';
    }

    // sends message on return
    $(composeInput).keypress(function (e) {
        if (e.which == 13) {
            sendMessage();
        }
    });

    JOSSkylink.on('incomingMessage', function (message, peerId, peerInfo, isSelf) {
        console.log("incomingMessage info: " +  peerInfo);
        var user = 'Me', className = 'message';
        if (!isSelf) {
            user = JOSSkylink.getUserData(peerId)['name'];;
        }
        addMessage(usr = user, cntnt = message.content, clssnm = className);
    });


// Main

    // Peer Joined
    JOSSkylink.on('peerJoined', function (peerId, peerInfo, isSelf) {
        console.log('peerJoined: ' + peerId);
        peerJOSName = 'Me';
        if (!isSelf) {
            peerJOSName = JOSSkylink.getUserData(peerId)['name'];
            addMessage(usr = peerJOSName, cntnt = ' has joined chat', clssnm = 'action');
        }
    });

    // Incoming Stream
    JOSSkylink.on("incomingStream", function (peerId, stream, isSelf) {
        var peerJOSName = JOSSkylink.getUserData(peerId)['name'];
        console.log('incomingStream name: ' + peerJOSName);

        for (c = 1; c < 13; c++) {
            var testId = '#vid_' + c + '_empty';
            if ($(testId).length) {
                var nextEmptyID = testId.substr(1);
                break;
            }
        }

        var vidBox = document.getElementById(nextEmptyID);
        vidBox.id = nextEmptyID.slice(0, -5) + peerId;

        var nameBoxID = 'name_' + vidBox.id.split('_')[1].toString();
        var nameBox = document.getElementById(nameBoxID);
        nameBox.innerHTML = peerJOSName;

        var particBox = document.getElementById('box_' + vidBox.id.split('_')[1].toString());
        $(particBox).removeClass('hidden');

        vidBox.autoplay = 'autoplay';
        if (isSelf) {
            $(vidBox).css('transform','rotateY(-180deg)', 'z-index', '10');
        }
        attachMediaStream(vidBox, stream);
    });

    // Peer left
    JOSSkylink.on('peerLeft', function (peerId, peerInfo, isSelf) {
        console.log('peerLeft Id: ' + peerId);
        if (!isSelf) {

            var reclaimedID = ' ';

            for (c = 1; c < 13; c++) {
                var testId = '#vid_' + c + '_' + peerId;
                if ($(testId).length) {
                    console.log('testId.length: ' + $(testId).length);
                    reclaimedID = testId.substr(1);
                    break;
                }
            }

            var pstn = reclaimedID.split('_')[1].toString();

            reParticBox = document.getElementById('box_' + pstn);
            $(reParticBox).addClass('hidden');
            var videoBoxId = 'vid_' + pstn + '_empty';
            var nameBoxId = 'name_' + pstn;

            var particBoxLayout = [
                "<div class='row'>",
                "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
                "    </video>",
                "</div>",
                '<div class="row">',
                "   <div id=" + nameBoxId + " class='text-center nameContainer'></div>",
                '</div>'
            ].join('\n');

            $(reParticBox).html(particBoxLayout);
            addMessage(usr = peerJOSName, cntnt = ' has left chat', clssnm = 'action');
        }
    });

    // ENCRYPT ROOM NAME
    JOSSkylink.init('{{ JOSKey }}', function (error, success) {
        // do a check for error or success
        if (error) {
            console.error('Init failed: ', error);
        } else {
            JOSSkylink.joinRoom('my_room', {
                audioFallback: true,
                audio: true, //////////////////////////////////////////////////
                video: true, //////////////////////////////////////////////////
                frameRate: 15
            });
            JOSSkylink.setUserData({
                name: '{{ request.user.JOSProfile.jos_name }}'
            });
        }
    });

// Layout

    function LayoutVideoContainers() {

        for (i = 0; i < 2; i++) {
            var rowI = document.createElement('div');
            $(rowI).addClass('row');
            rowI.id = 'row_' + i;
            document.getElementById('audienceContainer').appendChild(rowI);

            for (j = 1; j < 2; j++) {
                var pstn = (i * 4) + j;
                var newParticBox = document.createElement('div');
                $(newParticBox).addClass('col-xs-3 text-center particbox hidden');
                newParticBox.id = 'box_' + pstn;

                var videoBoxId = 'vid_' + pstn + '_empty';
                var nameBoxId = 'name_' + pstn;

                var particBoxLayout = [
                    "<div class='row'>",
                    "    <video id=" + videoBoxId + " class='videoContainer' autoplay='autoplay'>",
                    "    </video>",
                    "</div>",
                    '<div class="row">',
                    "   <div id=" + nameBoxId + " class='text-center nameContainer'></div>",
                    '</div>'
                ].join('\n');

                $(newParticBox).html(particBoxLayout);

                rowI.appendChild(newParticBox);
            }
        }
    }

// Unused

    // JOSSkylink.on("readyStateChange", function (state, room) {
    //     console.log("Room (" + room + ") state: ", room);
    // });

</script>

{% endblock all_content %}


