
{% extends "josstaff/staff_base.html" %}
{% load i18n tz pages_tags mezzanine_tags staticfiles %}

{% block all_content %}

<style>

    .videoContainer {
        border: 7px solid rgb(65, 45, 120);
        width: 240px;
        height: 160px;
        padding: 0;
        margin: 0;
    }

    .nameContainer {
        color: green;
        font-family: "Open Sans", sans-serif;
        font-size: 18pt;
        width: 240px;
        padding: 10px;
        margin: 0;
    }

</style>

<span class="josinstructions">Facilitator:</span>
<div class="row" style="background-color: transparent;">

    <div class="col-xs-3" style="background-color: rgb(65,45,120); margin-left: 0;">
        <div id="facilitator_div" class="videoContainer"></div>
    </div>

    <div class="col-xs-9" style="background-color: rgba(65, 45, 120, .2);">
        <div id="chat"></div>
    </div>

</div>

<div class="row josinstructions" style="margin-top: 15px;">

    <div id="audienceContainer" class="col-xs-12" style="background-color: transparent; padding: 15px 25px;"></div>

</div>

<script src="https://static.opentok.com/v2/js/opentok.min.js" charset="utf-8"></script>
<script src="static/js/opentok-text-chat.js"></script>
<link rel="stylesheet" href="static/css/opentok-textchat.css"/>

<script charset="utf-8">

    var connectionCount = 0;

    function connectThis() {
        var name = '{{ request.user.JOSProfile.jos_name }}';
        var apiKey = '45616422';
        var sessionID = '{{ session_id}}';
        var token = '{{ token }}';
        var session = OT.initSession(apiKey, sessionID);


        // Particpant video layout
        for (i = 0; i < 3; i++) {

            var rowI = document.createElement('div');
            $(rowI).addClass('row');
            rowI.id = 'row_' + i ;
            document.getElementById('audienceContainer').appendChild(rowI);

            for (j = 1; j < 5; j++) {
                var particBox = document.createElement('div');
                $(particBox).addClass('col-xs-3 hidden');
                particBox.id = 'box_' + (i * 4 + j);

                var vidBox = document.createElement('div');
                vidBox.id = 'vid_' + (i * 4 + j)+'_empty';
                $(vidBox).addClass('row videoContainer').innerHTML = vidBox.id;
                particBox.appendChild(vidBox);

                var nameBox = document.createElement('div');
                nameBox.id = 'name_' + (i * 4 + j);
                $(nameBox).addClass('row text-center nameContainer').innerHTML = nameBox.id;
                particBox.appendChild(nameBox);

                rowI.appendChild(particBox);
            }
        }

        // Setup text chat
        var chat = new OTSolution.TextChat.ChatWidget({
            session: session,
            container: '#chat',
            senderAlias: name
        });

        if (OT.checkSystemRequirements() == 1) {

            session.connect(token, function (error) {
                if (!error) {
                    console.log("Connected to the session.");

                    var nextEmptyID = ' ';
                    for (c = 1; c < 13; c++) {
                        var testID = '#vid_' + c + '_empty';
                        if ($(testID).length) {
                            nextEmptyID = testID.substr(1);
                            break;
                        }
                    }

                    var vidBox = document.getElementById(nextEmptyID);
                    vidBox.id = nextEmptyID.slice(0, -5) + name.slice(0, -1).split(' ').join('_');
                    vidBox.style.zIndex = 10;

                    var publisher = OT.initPublisher(vidBox, {
                        name: name,
                        height: 160,
                        width: 240
                        // AUDIO ONLY:  videoSource: null
                    });

                    session.publish(publisher);

                    var nameBoxID = 'name_' + vidBox.id.split('_')[1].toString();
                    var nameBox = document.getElementById(nameBoxID);
                    nameBox.innerHTML = name;

                    var particBox = document.getElementById('box_' + vidBox.id.split('_')[1].toString());
                    $(particBox).removeClass('hidden');

                } else {

                    console.log("Error connecting: ", error.code, error.message);
                }
            });
        } else {
            alert("Please call us and say: my browser doesn't have 'WebRTC'");
        }

        session.on({

            connectionDestroyed: function connectionDestroyedHandler(event) {
                connectionCount--;
                console.log('connection destroyed; ' + connectionCount + ' total.');
            },

            streamDestroyed: function (event) {
                console.log('Stream destroyed: ' + event.stream.name);
                event.preventDefault();

                var reclaimedID = ' ';
                subscriber = event.stream.name.slice(0, -1).split(' ').join('_');
                for (c = 1; c < 13; c++) {
                    var testID = '#vid_' + c + '_' + subscriber;
                    console.log('testID: ' + testID);
                    if ($(testID).length) {
                        reclaimedID = testID.substr(1);
                        break;
                    }
                }

                var position = reclaimedID.split('_')[1].toString();

                particBox = document.getElementById('box_' + position);
                $(particBox).empty().addClass('hidden');

                vidBox = document.createElement('div');
                $(vidBox).addClass('row videoContainer');
                vidBox.id = 'vid_' + position + '_empty';
                vidBox.innerHTML = vidBox.id;
                particBox.appendChild(vidBox);

                var nameBox = document.createElement('div');
                $(nameBox).addClass('row text-center nameContainer');
                nameBox.id = 'name_' + position;
                nameBox.innerHTML = nameBox.id;
                particBox.appendChild(nameBox);

            },

            streamCreated: function (event) {

                console.log('Stream Created: ' + event.stream.name);

                var nextEmptyID = ' ';
                for (c = 1; c < 13; c++) {
                    var testID = '#vid_' + c + '_empty';
                    if ($(testID).length) {
                        nextEmptyID = testID.substr(1);
                        break;
                    }
                }

                var vidBox = document.getElementById(nextEmptyID);
                vidBox.id = nextEmptyID.slice(0, -5) + event.stream.name.slice(0, -1).split(' ').join('_');

                var nameBoxID = 'name_' + vidBox.id.split('_')[1].toString();
                var nameBox = document.getElementById(nameBoxID);
                nameBox.innerHTML = event.stream.name;

                var particBox = document.getElementById('box_' + vidBox.id.split('_')[1].toString());
                $(particBox).removeClass('hidden');

                var subscribeProperties = {
                    // AUDIO ONLY:  subscribeToAudio: true, subscribeToVideo: false
                    height: 160,
                    width: 240
                };

                // Subscribe to stream that caused event, put inside container
                var subscriber = session.subscribe(
                        event.stream, vidBox, subscribeProperties, function (error) {
                            if (error) {
                                console.log(error);
                            } else {
                                console.log('Stream subscribed');
                            }
                        });
            },

            sessionDisconnected: function sessionDisconnectHandler(event) {
                // The event is defined by the SessionDisconnectEvent class
                if (event.reason == "networkDisconnected") {
                    alert("Your network connection terminated.")
                }
            },

            connectionCreated: function (event) {
                connectionCount++;
                if (event.connection.connectionId != session.connection.connectionId) {
                    console.log('Another client connected. ' + connectionCount + ' total.');
                } else {
                    console.log('I connected. ' + connectionCount + ' total.');
                }

            }
        });
    }

connectThis();


</script>

{% endblock all_content %}

You may want to add or adjust other UI.

Test for VIDEO DISABLED:
    subscriber.on("videoDisabled", function (event) {
    You may want to hide the subscriber video element:
    domElement = document.getElementById(subscriber.id);
    domElement.style["visibility"] = "hidden";

TOGGLE AUDIO / VIDEO: subscriber.subscribeToAudio(false); // audio off

CAMERA ACCESS ALERTS:
    publisher.on({
        accessDialogOpened: function (event) {
            // The Allow/Deny dialog box is opened.
            // MESSAGE
            alert('Please allow access to camera.');
        },
        accessDialogClosed: function (event) {
            // The Allow/Deny dialog box is closed.
            alert('What happnened?')
        },
        accessAllowed: function (event) {
            // The user has granted access to the camera and mic.
            alert('Access to camera.');
        },
        accessDenied: function accessDeniedHandler(event) {
            // The user has denied access to the camera and mic.
            // NOT WORKING
            alert('You have denied camera access.');
        }

