
{% extends "josstaff/staff_base.html" %}
{% load i18n tz pages_tags mezzanine_tags staticfiles %}

{% block outer_breadcrumb %}{% endblock outer_breadcrumb %}

{% block all_content %}

<style>

    .container {
        margin-top: 0;
    }

    .videoContainer {
        border: 7px solid rgb(65, 45, 120);
        height: 160px;
        margin: 0;
        padding: 0;
        width: 240px;
    }

    .nameContainer {
        color: green;
        font-family: "Open Sans", sans-serif;
        font-size: 18pt;
        margin: 0;
        padding: 10px;
        width: 240px;
    }

</style>

{#<span class="josinstructions">Facilitator:</span>#}

<div class="row josinstructions" style="margin-top: -50px;">

    <div id="audienceContainer" class="col-xs-12" style="background-color: transparent; padding: 15px 25px;"></div>

</div>

<div class="row" style="background-color: transparent;">

    <div class="col-xs-12"
         style="background-color: rgba(65, 45, 120, .2); border: 3px solid rgba(65, 45, 120, .2);">
        <div id="chat"></div>
    </div>

</div>

<script src="https://static.opentok.com/v2/js/opentok.min.js" charset="utf-8"></script>
<script src="static/js/opentok-text-chat.js"></script>
<link rel="stylesheet" href="static/css/opentok-textchat.css"/>

<script charset="utf-8">

    var connectionCount = 0;

    function connectToSession() {
        var name = '{{ request.user.JOSProfile.jos_name }}';
        var backgroundImage = '/static/img/coming-soon-profile.png';
        var bckgrndtest = '{{ request.user.JOSProfile.profile_image_idstr }}';
        if (bckgrndtest != "noimage1") {
            backgroundImage = '{{ request.user.JOSProfile.profile_image_idstr }}';
        }

        var apiKey = '45616422';
        var sessionID = '{{ session_id}}';
        var token = '{{ token }}';
        var session = OT.initSession(apiKey, sessionID);
        var inputDevices = [];

        // Layout particpant videos
        for (i = 0; i < 4; i++) {
            var rowI = document.createElement('div');
            $(rowI).addClass('row');
            rowI.id = 'row_' + i;
            document.getElementById('audienceContainer').appendChild(rowI);

            for (j = 1; j < 5; j++) {
                var newParticBox = document.createElement('div');
                $(newParticBox).addClass('col-xs-3 hidden');
                newParticBox.id = 'box_' + (i * 4 + j);

                var newVidBox = document.createElement('div');
                newVidBox.id = 'vid_' + (i * 4 + j) + '_empty';
                $(newVidBox).addClass('row videoContainer').innerHTML = newVidBox.id;
                newParticBox.appendChild(newVidBox);

                var newNameBox = document.createElement('div');
                newNameBox.id = 'name_' + (i * 4 + j);
                $(newNameBox).addClass('row text-center nameContainer').innerHTML = newNameBox.id;
                newParticBox.appendChild(newNameBox);

                rowI.appendChild(newParticBox);
            }
        }

        // Setup text chat
        var chat = new OTSolution.TextChat.ChatWidget({
            session: session,
            container: '#chat',
            senderAlias: name
        });

        if (OT.checkSystemRequirements() == 1) {
            console.log("1. checkSystemRequirements: " + OT.checkSystemRequirements());
            session.connect(token, function (error) {

                if (!error) {
                    console.log("2. session.connect success");
                    OT.getDevices(function (error, devices) {
                        if (!error) {
                            inputDevices = devices;
                        } else {
                            console.log("getDevices error: " + error);
                        }

                        var audioInputDevices = inputDevices.filter(function (element) {
                            return element.kind == "audioInput";
                        });
                        console.log("audioId: " + audioInputDevices[0].deviceId);

                        var videoId = inputDevices.filter(function (element) {
                            return element.kind == "videoInput";
                        })[0].deviceId;
                        console.log("videoId: " + videoId);
                    });


                    // initPublisher
                    console.log('initPublisher');

                    // Find open video slot to publish
                    var nextEmptyID = ' ';
                    for (c = 1; c < 13; c++) {
                        var testID = '#vid_' + c + '_empty';
                        if ($(testID).length) {
                            nextEmptyID = testID.substr(1);
                            break;
                        }
                    }

                    console.log('publisher nextEmptyID: ' + nextEmptyID);

                    var vidBox = document.getElementById(nextEmptyID);
                    vidBox.id = nextEmptyID.slice(0, -5) + name.slice(0, -1).split(' ').join('_');
                    vidBox.style.zIndex = 10;

                    var publisher = OT.initPublisher(vidBox, {
                        name: name,
                        height: 160,
                        width: 240,
                        frameRate: 15
                        // AUDIO ONLY:  videoSource: null
                    });

                    publisher.setStyle({
                        audioLevelDisplayMode: "on",
                        nameDisplayMode: 'off',
                        buttonDisplayMode: 'on'
                    });

                    publisher.on({
                        accessAllowed: function (event) {
                            console.log('accessAllowed');
                        },

                        accessDenied: function (event) {
                            // The user has denied access to the camera and mic.
                            console.log('accessDenied');
                        },

                        accessDialogClosed: function (event) {
                            console.log('accessDialogClosed');
                        },

                        accessDialogOpened: function (event) {
                            // The Allow/Deny dialog box is opened.
                            console.log('accessDialogOpened');
                        },

                        streamCreated: function (event) {
                            console.log('publisher streamCreated');
                        },

                        streamDestroyed: function (event) {
                            console.log('publisher streamDestroyed');
                        }
                    });

                    session.publish(publisher);

                    // add jos_name
                    var nameBoxID = 'name_' + vidBox.id.split('_')[1].toString();
                    var nameBox = document.getElementById(nameBoxID);
                    nameBox.innerHTML = name;

                    var particBox = document.getElementById('box_' + vidBox.id.split('_')[1].toString());
                    $(particBox).removeClass('hidden');

                } else {

                    console.log("session.connect error: ", error.code, error.message);
                }
            });

        } else {

            // checkSystemRequirements error
            alert("Sorry, there is a problem - please call us and say 'RTC' is not working. Thanks!");
        }

        session.on({

            connectionCreated: function (event) {
                connectionCount++;
                if (event.connection.connectionId != session.connection.connectionId) {
                    console.log('Another client connected. active connections: ' + connectionCount);
                } else {
                    console.log('4. This client connected. active connections: ' + connectionCount);
                }
            },

            connectionDestroyed: function connectionDestroyedHandler(event) {
                connectionCount--;
                console.log('connection destroyed. active connections: ' + connectionCount);
            },

            sessionConnected: function sessionConnected(event) {
                console.log('3. session connected');
            },

            sessionDisconnected: function sessionDisconnectHandler(event) {
                console.log('sessionDisconnected');
                // if (event.reason == "networkDisconnected") {alert("Your network connection terminated.")}
            },

            streamCreated: function (event) {
                console.log('Stream Created: ' + event.stream.name);

                // Find open video slot to subscribe
                var nextEmptyID = ' ';
                for (c = 1; c < 13; c++) {
                    console.log('test_id: ' + testID);
                    var testID = '#vid_' + c + '_empty';
                    if ($(testID).length) {
                        nextEmptyID = testID.substr(1);
                        break;
                    }
                }

                console.log('subscriber nextEmptyID: ' + nextEmptyID);

                var vidBox = document.getElementById(nextEmptyID);
                vidBox.id = nextEmptyID.slice(0, -5) + event.stream.name.slice(0, -1).split(' ').join('_');

                var nameBoxID = 'name_' + vidBox.id.split('_')[1].toString();
                var nameBox = document.getElementById(nameBoxID);
                nameBox.innerHTML = event.stream.name;

                var particBox = document.getElementById('box_' + vidBox.id.split('_')[1].toString());
                $(particBox).removeClass('hidden');

                var subscribeProperties = {
                    // AUDIO ONLY:  subscribeToAudio: true, subscribeToVideo: false
                    height: 160,
                    width: 240,
                    frameRate: 15
                };

                // Subscribe to stream that caused event, put inside container
                var subscriber = session.subscribe(
                        event.stream, vidBox, subscribeProperties, function (error) {
                            if (error) {
                                console.log(error);
                            } else {
                                console.log('Stream subscribed');
                            }
                        });

            },

            streamDestroyed: function (event) {
                console.log('Stream destroyed: ' + event.stream.name);
                event.preventDefault();
                reclaimSlot();

                function reclaimSlot() {
                    var reclaimedID = ' ';
                    subscriber = event.stream.name.slice(0, -1).split(' ').join('_');
                    for (c = 1; c < 13; c++) {
                        var testID = '#vid_' + c + '_' + subscriber;
                        console.log('testID: ' + testID);
                        if ($(testID).length) {
                            reclaimedID = testID.substr(1);
                            break;
                        }
                    }

                    var position = reclaimedID.split('_')[1].toString();

                    particBox = document.getElementById('box_' + position);
                    $(particBox).empty().addClass('hidden');

                    vidBox = document.createElement('div');
                    $(vidBox).addClass('row videoContainer');
                    vidBox.id = 'vid_' + position + '_empty';
                    vidBox.innerHTML = vidBox.id;
                    particBox.appendChild(vidBox);

                    var nameBox = document.createElement('div');
                    $(nameBox).addClass('row text-center nameContainer');
                    nameBox.id = 'name_' + position;
                    nameBox.innerHTML = nameBox.id;
                    particBox.appendChild(nameBox);
                }
            },

            streamPropertyChanged: function (event) {
                console.log('stream property changed: ' + event.stream.name);
            }
        });
    }

connectToSession();

</script>

{% endblock all_content %}

Test for VIDEO DISABLED:
    subscriber.on("videoDisabled", function (event) {
    You may want to hide the subscriber video element:
    domElement = document.getElementById(subscriber.id);
    domElement.style["visibility"] = "hidden";

TOGGLE AUDIO / VIDEO: subscriber.subscribeToAudio(false); // audio off

Events:

subscriber.on({
    audioLevelUpdated
    destroyed
    disconnected
    videoDimensionsChanged
    videoDisabled
    videoDisableWarning
    videoDisableWarningLifted
    videoEnabled Media Router resumes sending video.

exceptions:
    1004    Authentication error
    1005    Invalid Session ID
    1006    Connect Failed
    1007    Connect Rejected
    1008    Connect Time-out
    1009    Security Error
    1010    Not Connected
    1011    Invalid Parameter
    1013    Connection Failed
    1014    API Response Failure
    1026    Terms of Service Violation: Export Compliance
    1500    Unable to Publish
    1520    Unable to Force Disconnect
    1530    Unable to Force Unpublish
    1535    Force Unpublish on Invalid Stream
    2000    Internal Error
    2010    Report Issue Failure
