
{% extends "josstaff/staff_base.html" %}
{% load i18n tz pages_tags mezzanine_tags staticfiles %}


{% block all_content %}

    {{ block.super }}



    <div class="row" style="margin-top: 30px; background-color: lightblue;">

        <div class="col-xs-6 col-xs-offset-3" style="background-color: lightgreen;">

            Live video test:

            apiKey = {{ apikey }}<br>
            sessionId = {{ session_id }}<br>
            token = {{ token }}<br>

            <div class="container">
                <h1>Session is Running</h1>

                <div id="publisher"></div>

                <div id="subscribers"></div>

            </div>

            To do:
            Get token
            manage sessions
            format windows
            place moderator at top


            <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
            <script charset="utf-8">
                var apiKey = '45616422';
                var sessionId = '{{ session_id}}';
                var token = '{{ token }}';
                var session = OT.initSession(apiKey, sessionId)

                session.on('streamCreated', function (event) {
                            var subContainer = document.createElement('div');
                            subContainer.id = 'stream-' + event.stream.streamId;
                            document.getElementById('subscribers').appendChild(subContainer);

                            // Subscribe to the stream that caused this event, put it inside the container we just made
                            session.subscribe(event.stream, subContainer);
                        })
                        .connect(token, function (error) {
                            if (!error) {
                                var publisher = OT.initPublisher('publisher', {
                                    insertMode: 'append',
                                    width: '30%'
                                });
                                session.publish(publisher);
                            }
                        });

            </script>

        </div>
    </div>


{% endblock all_content %}