{% extends "base.html" %}
{% block meta_title %}UI Demo{% endblock %}
{% block title %}UI Demo{% endblock %}

{% block breadcrumb_menu %}{{ block.super }}Adam&#39s UI Demo{% endblock %}

{% block footer %}{% endblock %}

{% block all_content %}


    <!-- css switch -->
    <style>

        input {
            display: none;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative; top:3px; margin-left: 7px;
            height: 35px; width: 85px;
            border: 2px solid #412d78;
        }

        /* Hide default HTML checkbox */


        /* Slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
        }

        .slider:before {
            position: absolute;
            color: white; font-size: 9pt; text-align: center;
            content: "OFF";
            top: 0; left: 0; height: 31px; width: 42px;
            padding-top: 7px;
            background-color: #5bc0de;
        }

        input:checked + .slider {
            background-color: #5cb85c;
        }

        input:checked + .slider:before {
            transform: translateX(39px);
            content: "ON";
        }

        /* Checkbox */
        .check_container label:before {
            position: absolute;
            top: 9px;
            left: 1201px;
            content: " ";
            width: 44px;
            height: 44px;
            background-color: transparent;
            border: 5px solid #412d78;
            transition: border-color .2s;
        }

        .check_container label:hover::before {
            border: 5px dotted #f0ad4e;
        }

        .check_container label:hover {
            color: #f0ad4e;
        }

        .check_container label:after {
            font-family: FontAwesome;
            font-size: 32pt;
            content: "\f00d";
            display: inline-block;
            vertical-align: middle;
            color: #412D78;
            transition: color .2s;
        }

        <!-- three way -->


        label {
            display: inline;
        }


        .toggle label span {
            text-align: center;
            cursor: pointer;
        }

        .toggle .input-checked {
            background-color: #5bc0de;
            color: white;
        }

    </style>

    <div id="main" style="
        position: absolute;
        top: 50px;
        left: 30px;
        height: 50px; width: 450px;
        background-color: pink;
    ">

        <button class="j_button_small j_info_button"
                style="position: absolute; left: 10px;"
                onclick=" ">
            <i class="fa fa-circle fa-fw"></i>
            STORYWHEEL
        </button>

        <button class="j_button_small j_relocate_button"
                style="position: absolute; left: 170px;"
                onclick=" ">
            <i class="fa fa-square fa-fw"></i>
            VERSIONS
        </button>

        <button class="j_button_small j_action_button"
                style="position: absolute; left: 305px;"
                onclick=" ">
            <i class="fa fa-scissors fa-fw"></i>
            NEW TITLE
        </button>

        <div id="right_tools"
             style= "display: flex; justify-content: flex-end;  align-items: center;
                     position: absolute; top: 0; left: 450px;
                     height: 50px; width: 800px;
                     background-color: aliceblue;">

            <div style="font-size: 12pt; font-weight: bold;">Auto save:</div>
            <label class="switch">
                <input type="checkbox">
                <div class="slider"></div>
            </label>


            <div style="font-size: 12pt; font-weight: bold; margin-left: 15px;">Sharing:</div>
            <div style="border: 2px solid #412d78; width: 300px;">
                <div class="toggle">
                    <label style="display: inherit;><input type="radio" name="toggle"><span>None</span></label>
                </div>
                <div class="toggle">
                    <label style="display: inherit;"><input type="radio" name="toggle"><span>Circles</span></label>
                </div>
                <div class="toggle">
                    <label style="display: inherit;><input type="radio" name="toggle"><span>Publish</span></label>
                </div>
            </div>



            <div class="check_container">
                <label for="show_tools_checkbox" style="padding-top: 15px;">
                    <span style="font-size: 16pt; font-weight: bold; margin-left: 30px;">
                        Show tools:&nbsp&nbsp
                    </span>
                </label>
                <input id="show_tools_checkbox" type="checkbox" onclick="toolsHandler();">
            </div>

        </div>
    </div>


    <script>

    function toolsHandler() {
        console.log('tools checked');
    }

    $('label').click(function () {
        $(this).children('span').addClass('input-checked');
        $(this).parent('.toggle').siblings('.toggle').children('label').children('span').removeClass('input-checked');
    });

    </script>



{% endblock all_content %}








