{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  static %}
{% block meta_title %}Spinning wheels{% endblock %}
{% block title %}}Spinning wheels{% endblock %}
{% block breadcrumb_menu %}
    {{ block.super }}Spinning wheels{% endblock %}

{% block footer %}{% endblock %}

{% block all_content %}
<style>

    #wheel_background {
        animation: spin 15s linear infinite;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

</style>

<img id='wheel_background' src="/static/img/wheel-small-background.png">

{% endblock all_content %}




