{% extends "base.html" %}
{% load i18n mezzanine_tags accounts_tags  static %}
{% block meta_title %}Spinning wheels{% endblock %}
{% block title %}}Spinning wheels{% endblock %}
{% block breadcrumb_menu %}
    {{ block.super }}Spinning wheels{% endblock %}

{% block footer %}{% endblock %}

{% block all_content %}
<style>

    #wheel_background {
        animation: spin 15s linear infinite;
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    /* ferris wheel */
    
   @keyframes cwise {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

   @keyframes countwise {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }

   .cabins {
        animation: cwise 30s linear infinite;
    }

   .hinge {
        animation: countwise 30s linear infinite;
    }

</style>


<div id="wheel" style="
        height: 400px;
        width: 400px;
        border: 10px solid red;
        border-radius: 100%;
        position: fixed;
        top: 100px;
        left: 100px;">

    <!-- div id="center" style="
            height: 20%;
            width: 20%;
            position: absolute;
            border-radius: 100%;
            top: 40%;
            left: 40%;
            background: blue;"></div -->

    <div class="cabins" style="
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    z-index: -10;
                    border: 6px dashed green;">

        <div class="cabinContainer" style="
                height: 20%;
                width: 61%;
                border: 4px dotted lightgreen;
                position: absolute;
                left: -11%;
                top: 40%;
                z-index: -20;">

            <div class="hingeOffset" style="
                    height: 100%;
                    border: 4px solid purple;
                    width: calc(20 / 61 * 100%);
                    position: relative;
                    border-radius: 100%;">

                <div class="hinge" style="background-color: pink;
                        height: 100%;
                        width: 100%;
                        position: absolute;">

                </div>
            </div>
        </div>

    </div>

</div>



<!-- <img id='wheel_background' src="/static/img/wheel-small-background.png" -->

{% endblock all_content %}




