
<style>

    .particBox {
        background-color: white;
        display: inline-block;
        margin: 0 0 0 20px;
        outline: 2px solid rgb(65, 45, 120);
        padding: 0;
        z-index: -1;
    }

    .pictureBox {
        background-color: white;

    }

    .nameBox {
        background-color: rgba(255, 255, 255, .8);
        color: green;
        text-align: center;
        height: auto;
        width: auto;
    }

</style>

<div class="particBox" style="width: {{ height }}px; height: {{ height }}px;">

    <img class='pictureBox' style="width: {{ height }}px; height: {{ height }}px;"
        {% if user.JOSProfile.profile_image_id_str != "noimage1" %}
                 src="https://res-4.cloudinary.com/desg88u7l/image/upload/{{ user.JOSProfile.profile_image_id_str }}"
        {% else %}
                 src="/static/img/coming-soon-profile.png"
        {% endif %}>

    <div class='nameBox'>
        {{ user.JOSProfile.jos_name }}
    </div>

</div>