{% extends PYBB_TEMPLATE|default:"base.html" %}

{% load i18n jospybb_tags %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block extra_head %}
    {{ block.super }}
    <!-- Feeds -->
    <link rel="alternate" type="application/atom+xml" href="{% url 'jospybb:feed_posts' %}" title="{% trans "Latest posts on forum" %}" >
    <link rel="alternate" type="application/atom+xml" href="{% url 'jospybb:feed_topics' %}" title="{% trans "Latest topics on forum" %}" >
{% endblock %}

{% block breadcrumb %}
    {% include  "jospybb/breadcrumb.html" %}
{% endblock %}

{% block content %}{% endblock content %}

