{% extends 'jospybb/base.html' %}
{% load jospybb_tags i18n %}

{% block title %}{{ forum.name }}{% endblock title %}

{% block breadcrumb %}
    {% with forum as object %}
        {% include  "jospybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="forum">
        <h1>{{ forum.name }}</h1>
        {% if forum.headline %}
            <div class="forum-headline alert alert-block">
                {{ forum.headline|safe }}
            </div>
        {% endif %}

        {% include  "jospybb/pagination.html" %}

        {% include 'jospybb/forum_list.html' with forum_list=forum.forums_accessed category='' parent_forum=forum %}

        {% include  "jospybb/topic_list.html" %}

        {% include  "jospybb/pagination.html" %}

        {% if user|pybb_may_create_topic:forum %}
            <div class="controls">
                {% include  "jospybb/_button_new_topic.html" %}
            </div>
        {% endif %}
    </div>
{% endblock content %}