{% load i18n %}
{% block main %}
    <p>{% trans "Someone used the reset password form to request a link to rest your Join Our Story password." %}</p>
    <p>{% trans "If you or someone you asked did this, please use this link to reset your password:" %}</p>
    <p><a href="http://{{ request.get_host }}{{ verify_url }}">> Click here <</a></p>
    <p>{% trans "If you didn't request a password reset, please reply or contact us using the contact form at JoinOurStory.com." %}</p>
    <p>{% trans "Thanks!" %}</p><p>
    <p>{% trans "PS You can also use the contact form if you have any questions." %}</p>
{% endblock %}

