{% load i18n %}
{% block main %}

    <p>{% trans "Someone used the reset password form to request a link to reset your Join Our Story password." %}</p>
    <p>{% trans "If you or someone you asked did this, please use this link to reset your password:" %}</p>
    <p><a href="http://{{ request.get_host }}{{ verify_url }}">> Click here <</a></p>
    <p>{% trans "If you didn't request a password reset, please reply or contact us:" %}</p>
    <p>{% trans "call:(213) 465-0885 or email: joinus@joinourstory.com" %}</p>
    <p>{% trans "Thanks!" %}</p>
    <p><br>{% trans "PS You can also ask any questions. :)" %}</p>

{% endblock %}

