{% load i18n %}
{% block main %}
    <p>{% trans "Someone used the reset password form to request a link to rest your Join Our Story password." %}</p>
    <p>{% trans "If you or someone you asked did this, please use the link below to to to JoinOurStory.com and reset your password." %}</p>
    <p><a href="http://{{ request.get_host }}{{ verify_url }}">http://{{ request.get_host }}{{ verify_url }}</a></p>
    <p>{% trans "If you didn't request for your password to be reset, please contact us using the contact form at JoinOurStory.com." %}</p>
    <p>{% trans "Thanks!" %}</p><p>
    <p>{% trans "PS You can also use the contact form if you have any questions." %}</p>
{% endblock %}

