{% comment %}
   humanize:
      For the "apnumber" filter, to display "two" instead of
      "2". Requries 'django.contrib.humanize' in INSTALLED_APPS

   static:
      To access the public static file directory, without having to hard
      code urls.
{% endcomment %}
{% load humanize static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Color Like</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width"/>

    <style>

        table {
            border: 1px solid #000;
            border-spacing: 0px;
            background-color: #EEE;
            border-collapse: collapse;
        }

        td {
            text-align: center;
            vertical-align: middle;
            padding: 4px;
            border: 1px solid #000;
        }

         .button_liked {
            background-color: pink;
        }

        .button_unliked {
            background-color: white;
        }

    </style>

</head>
<body>

<div class="search_section">
    <!-- This no longer needs to be a form. It's submitted on every key press ("keyup") to the ajax
   function. Django then renders the sub-template: color_search_results__html_snippet.txt.
   output is fed back to the ajax function. Ajax then populates the rendered sub-template into the div -->

    <input type="text" id="color_search_text" name="search_text"/>

    <div id="color_search_results"></div>
</div>

<div class="content_section">
    <h1>Color Liker</h1>

    {% if  colors.count == 0 %}
        <p><i>There are no colors in the database.</i></p>
    {% else %}

        <table>
            <tr>
                <th colspan="2">Color</th>
                <th>Fav.?</th>
            </tr>
            <!-- table cell is in this main template, the button in
               it, is in the "include"d sub-template. The button
               sub-template is used by the below for-loop, and also by
               the toggle_color_like view, which is called by Ajax. -->

            {% for  color in colors %}

                <tr>
                    <td class="td__color_color" style="background-color: {{ color.name }}; width: 30px;"></td>
                    <td class="td__color_name">{{ color.name }}</td>

                    <td id="toggle_color_like_cell_{{ color.id }}"
                        class="td__toggle_color_like_button"
                        data-color_id="{{ color.id }}">

                        {% include "color_liker/color_like_link__html_snippet.txt" %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}
</div>

<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script language="javascript">
    /* Before our JavaScript, the urls need to be set; its located in color_liker.urls. */
    var SUBMIT_URL = "{% url 'search_color_list' %}";
    var LIKE_URL_PRE_ID = "{% url 'toggle_color_like' color_id='999999' %}"
    LIKE_URL_PRE_ID = LIKE_URL_PRE_ID.substring(0, LIKE_URL_PRE_ID.length - "999999/".length);
</script>

<script language="javascript">
    /** Executes a search for colors containing a substring. */
    var processSearch = function () {
        //Get and trim the search text.
        var searchText = $('#color_search_text').val().trim().toLowerCase();

        if (searchText.length < 3) {
            //Too short. Ignore the submission, and erase any current results.
            $('#color_search_results').html("nothing yet");

        } else {
            //There are at least 3 characters. Execute the search.
            var processServerResponse = function (serverResponse_data,
                                                  textStatus_ignored,
                                                  jqXHR_ignored) {
                alert("SUBMIT_URL=" + SUBMIT_URL +
                      "; color_search_text=" + searchText +
                      "; serverResponse_data=" + serverResponse_data +
                      "; textStatus_ignored=" + textStatus_ignored +
                      "; jqXHR_ignored=" + jqXHR_ignored
                );
                $('#color_search_results').html(serverResponse_data);
            }

            var config = {
                type: "GET",
                url: SUBMIT_URL,
                data: {
                    'color_search_text': searchText,
                },
                dataType: 'html',
                success: processServerResponse,
                fail: function () { alert("Fail") }
            };
            $.ajax(config);
        }
    };

</script>

<script language="javascript">
    /** Executes a like click. */
    var processLike = function () {

        //In this scope, "this" is the clicked button; "this" in processServerResponse is *not*
        var $button_just_clicked_on = $(this);

        //The value of the "data-color_id" attribute.
        var color_id = $button_just_clicked_on.data('color_id');

        var processServerResponse = function (serverResponse_data,
                                              textStatus_ignored,
                                              jqXHR_ignored) {

            /* alert("sf serverResponse_data=" + serverResponse_data + "; " +
                    "textStatus_ignored=" + textStatus_ignored + "; " +
                    "jqXHR_ignored=" + jqXHR_ignored + "; " +
                    "color_id=" + color_id); */

            $('#toggle_color_like_cell_' + color_id).html(serverResponse_data);
        }

        var config = {
            url: LIKE_URL_PRE_ID + color_id + '/',
            dataType: 'html',
            success: processServerResponse
            //Should also have a "fail" call as well.
        };
        $.ajax(config);
    };

</script>
<script language="javascript">

    /** The Ajax "main" function. Attaches the listeners to the elements on page load,
     each of which only take effect every MILLS_TO_IGNORE_LIKES seconds.

     This protection is only against a single user pressing buttons as fast as they can.

     Using this requires importing underscore-min.js. Noy underscore-min.map */

    var MILLS_TO_IGNORE_SEARCH = 100;
    var MILLS_TO_IGNORE_LIKES = 500;
    $(document).ready(function () {

        /*
         There are many buttons having the class td__toggle_color_like_button.
         This attaches a listener to *every one*. Calling this again would attach a *second* listener
         to every button, meaning each click would be processed twice.
         */
        $('#color_search_text').keyup(_.debounce(processSearch,
                MILLS_TO_IGNORE_SEARCH, true));
        $('.td__toggle_color_like_button')
                .click(_.debounce(processLike, MILLS_TO_IGNORE_LIKES, true)
                );
       });

</script>
</body>
</html>